<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>td_drag_object_smoke_01.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>td_drag_object_smoke_02.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>td_drag_object_smoke_03.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>54</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>td_drag_object_smoke_04.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>td_drag_object_smoke_05.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>td_drag_object_smoke_06.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>189</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>td_drag_object_smoke_07.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>333</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>td_drag_object_smoke_08.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>99</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>td_drag_object_smoke_09.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>366</integer>
				<key>y</key>
				<integer>99</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>td_drag_object_smoke_10.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>243</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>td_drag_object_smoke_11.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>354</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>td_drag_object_smoke_12.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>122</integer>
				<key>y</key>
				<integer>209</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>td_drag_object_smoke_13.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>189</integer>
				<key>y</key>
				<integer>96</integer>
				<key>offsetX</key>
				<real>-43</real>
				<key>offsetY</key>
				<real>-31.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>dragObjectSmoke0.png</string>
			<key>realTextureFileName</key>
			<string>dragObjectSmoke0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>