<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_boss5_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{27,31}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{27,31}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>td_boss5_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,73},{33,41}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{33,41}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>td_boss5_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,73},{37,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{37,41}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>td_boss5_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{47,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{47,51}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>td_boss5_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,57}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{53,57}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>td_boss_05_gongjixingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{69,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{69,38}}</string>
                <key>sourceSize</key>
                <string>{91,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td_boss5_effect.png</string>
            <key>size</key>
            <string>{126,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a649de6eb47ce52c95103f85aa4a6d47$</string>
            <key>textureFileName</key>
            <string>td_boss5_effect.png</string>
        </dict>
    </dict>
</plist>
