<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_boss3_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,136},{64,79}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,94},{64,79}}</string>
                <key>sourceSize</key>
                <string>{78,173}</string>
            </dict>
            <key>td_boss3_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,82},{70,95}}</string>
                <key>offset</key>
                <string>{-4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,73},{70,95}}</string>
                <key>sourceSize</key>
                <string>{78,173}</string>
            </dict>
            <key>td_boss3_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,72},{70,105}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{70,105}}</string>
                <key>sourceSize</key>
                <string>{78,173}</string>
            </dict>
            <key>td_boss3_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,72},{72,107}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{72,107}}</string>
                <key>sourceSize</key>
                <string>{78,173}</string>
            </dict>
            <key>td_boss3_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{78,121}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{78,121}}</string>
                <key>sourceSize</key>
                <string>{78,173}</string>
            </dict>
            <key>td_boss3_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,139}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{78,139}}</string>
                <key>sourceSize</key>
                <string>{78,173}</string>
            </dict>
            <key>td_boss3_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{72,147}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{72,147}}</string>
                <key>sourceSize</key>
                <string>{78,173}</string>
            </dict>
            <key>td_boss3_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{68,153}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{68,153}}</string>
                <key>sourceSize</key>
                <string>{78,173}</string>
            </dict>
            <key>td_boss3_skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,76},{58,153}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,153}}</string>
                <key>sourceSize</key>
                <string>{78,173}</string>
            </dict>
            <key>td_boss3_skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{56,117}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{56,117}}</string>
                <key>sourceSize</key>
                <string>{78,173}</string>
            </dict>
            <key>td_boss3_skill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,82},{50,61}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,57},{50,61}}</string>
                <key>sourceSize</key>
                <string>{78,173}</string>
            </dict>
            <key>td_boss3_skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,145},{50,49}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,55},{50,49}}</string>
                <key>sourceSize</key>
                <string>{78,173}</string>
            </dict>
            <key>td_boss3_skill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,136},{12,13}}</string>
                <key>offset</key>
                <string>{-18,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,55},{12,13}}</string>
                <key>sourceSize</key>
                <string>{78,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td_boss3_skillEffect.png</string>
            <key>size</key>
            <string>{509,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9668c147c1727e53b4c30b53fa0bd99$</string>
            <key>textureFileName</key>
            <string>td_boss3_skillEffect.png</string>
        </dict>
    </dict>
</plist>
