<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_boss2_skill_vertigo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,46}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>td_boss2_skill_vertigo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,0},{90,48}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,48}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>td_boss2_skill_vertigo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,211},{90,40}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{90,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>td_boss2_skill_vertigo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,127},{98,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{98,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>td_boss2_skill_vertigo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{92,42}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{92,42}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>td_boss2_skill_vertigo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,91},{92,46}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{92,46}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>td_boss2_skill_vertigo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{100,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,38}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>td_boss2_skill_vertigo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,47},{100,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td_boss2_skillEffect.png</string>
            <key>size</key>
            <string>{149,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5e985648a36307172dc51c6cd138cc5$</string>
            <key>textureFileName</key>
            <string>td_boss2_skillEffect.png</string>
        </dict>
    </dict>
</plist>
