<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_boss_01_xunhuan_kb_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1},{101,148}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,23},{101,148}}</string>
                <key>sourceSize</key>
                <string>{167,180}</string>
            </dict>
            <key>td_boss_01_xunhuan_kb_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1},{109,152}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,19},{109,152}}</string>
                <key>sourceSize</key>
                <string>{167,180}</string>
            </dict>
            <key>td_boss_01_xunhuan_kb_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{113,156}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{113,156}}</string>
                <key>sourceSize</key>
                <string>{167,180}</string>
            </dict>
            <key>td_boss_01_xunhuan_kb_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,158},{109,158}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,13},{109,158}}</string>
                <key>sourceSize</key>
                <string>{167,180}</string>
            </dict>
            <key>td_boss_01_xunhuan_kb_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,158},{97,146}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,25},{97,146}}</string>
                <key>sourceSize</key>
                <string>{167,180}</string>
            </dict>
            <key>td_boss_01_xunhuan_kb_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1},{103,150}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{103,150}}</string>
                <key>sourceSize</key>
                <string>{167,180}</string>
            </dict>
            <key>td_boss_01_xunhuan_kb_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,154},{99,144}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{99,144}}</string>
                <key>sourceSize</key>
                <string>{167,180}</string>
            </dict>
            <key>td_boss_01_xunhuan_kb_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,317},{95,128}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,43},{95,128}}</string>
                <key>sourceSize</key>
                <string>{167,180}</string>
            </dict>
            <key>td_boss_01_xunhuan_kb_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,152},{91,134}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,37},{91,134}}</string>
                <key>sourceSize</key>
                <string>{167,180}</string>
            </dict>
            <key>td_boss_01_xunhuan_kb_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,317},{101,138}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,33},{101,138}}</string>
                <key>sourceSize</key>
                <string>{167,180}</string>
            </dict>
            <key>td_boss_01_xunhuan_kb_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,305},{101,126}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,45},{101,126}}</string>
                <key>sourceSize</key>
                <string>{167,180}</string>
            </dict>
            <key>td_boss_01_xunhuan_kb_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,350},{105,126}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,45},{105,126}}</string>
                <key>sourceSize</key>
                <string>{167,180}</string>
            </dict>
            <key>td_boss_01_xunhuan_kb_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,244},{105,130}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{105,130}}</string>
                <key>sourceSize</key>
                <string>{167,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td_boss1_skill1_level1.png</string>
            <key>size</key>
            <string>{444,457}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:472171c000de8411c4710b4df5642486$</string>
            <key>textureFileName</key>
            <string>td_boss1_skill1_level1.png</string>
        </dict>
    </dict>
</plist>
