<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_boss3_base_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{86,86}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>td_boss3_base_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{86,86}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{86,86}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>td_boss3_base_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{86,86}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>td_boss3_base_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,178},{78,80}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{78,80}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>td_boss3_base_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,90},{86,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{86,78}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>td_boss3_base_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,90},{86,78}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{86,78}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>td_boss3_base_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,178},{86,80}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{86,80}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>td_boss3_base_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{86,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{86,84}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>td_boss3_feixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{78,29}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{78,29}}</string>
                <key>sourceSize</key>
                <string>{84,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td_boss3_baseEffect.png</string>
            <key>size</key>
            <string>{250,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c480d1b221a1874440f0c5777d0c255$</string>
            <key>textureFileName</key>
            <string>td_boss3_baseEffect.png</string>
        </dict>
    </dict>
</plist>
