<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>skill1</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>callMonster_moveSpeedScale</key>
			<string>2</string>
			<key>callMonster_atkSpeed</key>
			<string>2</string>
			<key>callMonster_atkLenOption</key>
			<string>2</string>
			<key>callMonster_dfe</key>
			<string>0.15</string>
			<key>callMonster_dfeOption</key>
			<string>1</string>
			<key>callMonster_atk</key>
			<string>20</string>
			<key>callMonster_atkOption</key>
			<string>3</string>
			<key>callMonster_Hp</key>
			<string>300</string>
			<key>skillKeepTime</key>
			<string>15</string>
			<key>skillCDtime</key>
			<string>20</string>
			<key>skilllupgradeMoney</key>
			<string>200</string>
			<key>desc</key>
			<string>召唤——召唤一个飞行单位，持续15秒</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>callMonster_moveSpeedScale</key>
			<string>2</string>
			<key>callMonster_atkSpeed</key>
			<string>2</string>
			<key>callMonster_atkLenOption</key>
			<string>2</string>
			<key>callMonster_dfe</key>
			<string>0.2</string>
			<key>callMonster_dfeOption</key>
			<string>1</string>
			<key>callMonster_atk</key>
			<string>25</string>
			<key>callMonster_atkOption</key>
			<string>3</string>
			<key>callMonster_Hp</key>
			<string>350</string>
			<key>skillKeepTime</key>
			<string>16</string>
			<key>skillCDtime</key>
			<string>20</string>
			<key>skilllupgradeMoney</key>
			<string>400</string>
			<key>desc</key>
			<string>召唤——召唤一个飞行单位，持续16秒</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>callMonster_moveSpeedScale</key>
			<string>2</string>
			<key>callMonster_atkSpeed</key>
			<string>2</string>
			<key>callMonster_atkLenOption</key>
			<string>2</string>
			<key>callMonster_dfe</key>
			<string>0.25</string>
			<key>callMonster_dfeOption</key>
			<string>1</string>
			<key>callMonster_atk</key>
			<string>30</string>
			<key>callMonster_atkOption</key>
			<string>3</string>
			<key>callMonster_Hp</key>
			<string>400</string>
			<key>skillKeepTime</key>
			<string>17</string>
			<key>skillCDtime</key>
			<string>20</string>
			<key>skilllupgradeMoney</key>
			<string>600</string>
			<key>desc</key>
			<string>召唤——召唤一个飞行单位，持续17秒</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>callMonster_moveSpeedScale</key>
			<string>2</string>
			<key>callMonster_atkSpeed</key>
			<string>2</string>
			<key>callMonster_atkLenOption</key>
			<string>2</string>
			<key>callMonster_dfe</key>
			<string>0.3</string>
			<key>callMonster_dfeOption</key>
			<string>1</string>
			<key>callMonster_atk</key>
			<string>35</string>
			<key>callMonster_atkOption</key>
			<string>3</string>
			<key>callMonster_Hp</key>
			<string>450</string>
			<key>skillKeepTime</key>
			<string>18</string>
			<key>skillCDtime</key>
			<string>20</string>
			<key>skilllupgradeMoney</key>
			<string>800</string>
			<key>desc</key>
			<string>召唤——召唤一个飞行单位，持续18秒</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>callMonster_moveSpeedScale</key>
			<string>2</string>
			<key>callMonster_atkSpeed</key>
			<string>2</string>
			<key>callMonster_atkLenOption</key>
			<string>2</string>
			<key>callMonster_dfe</key>
			<string>0.35</string>
			<key>callMonster_dfeOption</key>
			<string>1</string>
			<key>callMonster_atk</key>
			<string>35</string>
			<key>callMonster_atkOption</key>
			<string>3</string>
			<key>callMonster_Hp</key>
			<string>450</string>
			<key>skillKeepTime</key>
			<string>30</string>
			<key>skillCDtime</key>
			<string>25</string>
			<key>skilllupgradeMoney</key>
			<string>1000</string>
			<key>desc</key>
			<string>召唤——召唤两个飞行单位，持续30秒</string>
		</dict>
		<key>level6</key>
		<dict>
			<key>callMonster_moveSpeedScale</key>
			<string>2</string>
			<key>callMonster_atkSpeed</key>
			<string>2</string>
			<key>callMonster_atkLenOption</key>
			<string>2</string>
			<key>callMonster_dfe</key>
			<string>0.4</string>
			<key>callMonster_dfeOption</key>
			<string>1</string>
			<key>callMonster_atk</key>
			<string>40</string>
			<key>callMonster_atkOption</key>
			<string>3</string>
			<key>callMonster_Hp</key>
			<string>500</string>
			<key>skillKeepTime</key>
			<string>31</string>
			<key>skillCDtime</key>
			<string>25</string>
			<key>skilllupgradeMoney</key>
			<string>1200</string>
			<key>desc</key>
			<string>召唤——召唤两个飞行单位，持续30秒</string>
		</dict>
		<key>level7</key>
		<dict>
			<key>callMonster_moveSpeedScale</key>
			<string>2</string>
			<key>callMonster_atkSpeed</key>
			<string>2</string>
			<key>callMonster_atkLenOption</key>
			<string>2</string>
			<key>callMonster_dfe</key>
			<string>0.45</string>
			<key>callMonster_dfeOption</key>
			<string>1</string>
			<key>callMonster_atk</key>
			<string>45</string>
			<key>callMonster_atkOption</key>
			<string>3</string>
			<key>callMonster_Hp</key>
			<string>550</string>
			<key>skillKeepTime</key>
			<string>32</string>
			<key>skillCDtime</key>
			<string>25</string>
			<key>skilllupgradeMoney</key>
			<string>1400</string>
			<key>desc</key>
			<string>召唤——召唤两个飞行单位，持续32秒</string>
		</dict>
		<key>level8</key>
		<dict>
			<key>callMonster_moveSpeedScale</key>
			<string>2</string>
			<key>callMonster_atkSpeed</key>
			<string>2</string>
			<key>callMonster_atkLenOption</key>
			<string>2</string>
			<key>callMonster_dfe</key>
			<string>0.5</string>
			<key>callMonster_dfeOption</key>
			<string>1</string>
			<key>callMonster_atk</key>
			<string>50</string>
			<key>callMonster_atkOption</key>
			<string>3</string>
			<key>callMonster_Hp</key>
			<string>600</string>
			<key>skillKeepTime</key>
			<string>33</string>
			<key>skillCDtime</key>
			<string>25</string>
			<key>skilllupgradeMoney</key>
			<string>1600</string>
			<key>desc</key>
			<string>召唤——召唤两个飞行单位，持续33秒</string>
		</dict>
		<key>level9</key>
		<dict>
			<key>callMonster_moveSpeedScale</key>
			<string>2</string>
			<key>callMonster_atkSpeed</key>
			<string>2</string>
			<key>callMonster_atkLenOption</key>
			<string>2</string>
			<key>callMonster_dfe</key>
			<string>0.55</string>
			<key>callMonster_dfeOption</key>
			<string>1</string>
			<key>callMonster_atk</key>
			<string>55</string>
			<key>callMonster_atkOption</key>
			<string>3</string>
			<key>callMonster_Hp</key>
			<string>650</string>
			<key>skillKeepTime</key>
			<string>34</string>
			<key>skillCDtime</key>
			<string>25</string>
			<key>skilllupgradeMoney</key>
			<string>1800</string>
			<key>desc</key>
			<string>召唤——召唤两个飞行单位，持续34秒</string>
		</dict>
		<key>level10</key>
		<dict>
			<key>callMonster_moveSpeedScale</key>
			<string>2</string>
			<key>callMonster_atkSpeed</key>
			<string>2</string>
			<key>callMonster_atkLenOption</key>
			<string>2</string>
			<key>callMonster_dfe</key>
			<string>0.6</string>
			<key>callMonster_dfeOption</key>
			<string>1</string>
			<key>callMonster_atk</key>
			<string>60</string>
			<key>callMonster_atkOption</key>
			<string>3</string>
			<key>callMonster_Hp</key>
			<string>700</string>
			<key>skillKeepTime</key>
			<string>60</string>
			<key>skillCDtime</key>
			<string>30</string>
			<key>skilllupgradeMoney</key>
			<string>0</string>
			<key>desc</key>
			<string>召唤——召唤三个飞行单位，持续60秒</string>
		</dict>
	</dict>
	<key>skill2</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>5</string>
			<key>skill2_isGround</key>
			<string>2</string>
			<key>skill2_target</key>
			<string>3</string>
			<key>skill2_buffValue</key>
			<string>0.05</string>
			<key>skilllupgradeMoney</key>
			<string>200</string>
			<key>desc</key>
			<string>哨塔防御力增加5%</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>5</string>
			<key>skill2_isGround</key>
			<string>2</string>
			<key>skill2_target</key>
			<string>3</string>
			<key>skill2_buffValue</key>
			<string>0.1</string>
			<key>skilllupgradeMoney</key>
			<string>400</string>
			<key>desc</key>
			<string>哨塔防御力增加10%</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>5</string>
			<key>skill2_isGround</key>
			<string>2</string>
			<key>skill2_target</key>
			<string>3</string>
			<key>skill2_buffValue</key>
			<string>0.15</string>
			<key>skilllupgradeMoney</key>
			<string>600</string>
			<key>desc</key>
			<string>哨塔防御力增加15%</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>5</string>
			<key>skill2_isGround</key>
			<string>2</string>
			<key>skill2_target</key>
			<string>3</string>
			<key>skill2_buffValue</key>
			<string>0.2</string>
			<key>skilllupgradeMoney</key>
			<string>800</string>
			<key>desc</key>
			<string>哨塔防御力增加20%</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>5</string>
			<key>skill2_isGround</key>
			<string>2</string>
			<key>skill2_target</key>
			<string>3</string>
			<key>skill2_buffValue</key>
			<string>0.25</string>
			<key>skilllupgradeMoney</key>
			<string>1000</string>
			<key>desc</key>
			<string>哨塔防御力增加25%</string>
		</dict>
		<key>level6</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>5</string>
			<key>skill2_isGround</key>
			<string>2</string>
			<key>skill2_target</key>
			<string>3</string>
			<key>skill2_buffValue</key>
			<string>0.3</string>
			<key>skilllupgradeMoney</key>
			<string>1200</string>
			<key>desc</key>
			<string>哨塔防御力增加30%</string>
		</dict>
		<key>level7</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>5</string>
			<key>skill2_isGround</key>
			<string>2</string>
			<key>skill2_target</key>
			<string>3</string>
			<key>skill2_buffValue</key>
			<string>0.35</string>
			<key>skilllupgradeMoney</key>
			<string>1400</string>
			<key>desc</key>
			<string>哨塔防御力增加35%</string>
		</dict>
		<key>level8</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>5</string>
			<key>skill2_isGround</key>
			<string>2</string>
			<key>skill2_target</key>
			<string>3</string>
			<key>skill2_buffValue</key>
			<string>0.4</string>
			<key>skilllupgradeMoney</key>
			<string>1600</string>
			<key>desc</key>
			<string>哨塔防御力增加40%</string>
		</dict>
		<key>level9</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>5</string>
			<key>skill2_isGround</key>
			<string>2</string>
			<key>skill2_target</key>
			<string>3</string>
			<key>skill2_buffValue</key>
			<string>0.45</string>
			<key>skilllupgradeMoney</key>
			<string>1800</string>
			<key>desc</key>
			<string>哨塔防御力增加45%</string>
		</dict>
		<key>level10</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>5</string>
			<key>skill2_isGround</key>
			<string>2</string>
			<key>skill2_target</key>
			<string>3</string>
			<key>skill2_buffValue</key>
			<string>0.5</string>
			<key>skilllupgradeMoney</key>
			<string>0</string>
			<key>desc</key>
			<string>哨塔防御力增加50%</string>
		</dict>
	</dict>
	<key>skill3</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>4</string>
			<key>skill3_buffValue</key>
			<string>0.05</string>
			<key>skilllupgradeMoney</key>
			<string>200</string>
			<key>desc</key>
			<string>士兵暴力率增加11%</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>4</string>
			<key>skill3_buffValue</key>
			<string>0.1</string>
			<key>skilllupgradeMoney</key>
			<string>400</string>
			<key>desc</key>
			<string>士兵暴力率增加12%</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>4</string>
			<key>skill3_buffValue</key>
			<string>0.15</string>
			<key>skilllupgradeMoney</key>
			<string>600</string>
			<key>desc</key>
			<string>士兵暴力率增加13%</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>4</string>
			<key>skill3_buffValue</key>
			<string>0.2</string>
			<key>skilllupgradeMoney</key>
			<string>800</string>
			<key>desc</key>
			<string>士兵暴力率增加14%</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>4</string>
			<key>skill3_buffValue</key>
			<string>0.25</string>
			<key>skilllupgradeMoney</key>
			<string>1000</string>
			<key>desc</key>
			<string>士兵暴力率增加15%</string>
		</dict>
		<key>level6</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>4</string>
			<key>skill3_buffValue</key>
			<string>0.3</string>
			<key>skilllupgradeMoney</key>
			<string>1200</string>
			<key>desc</key>
			<string>士兵暴力率增加16%</string>
		</dict>
		<key>level7</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>4</string>
			<key>skill3_buffValue</key>
			<string>0.35</string>
			<key>skilllupgradeMoney</key>
			<string>1400</string>
			<key>desc</key>
			<string>士兵暴力率增加17%</string>
		</dict>
		<key>level8</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>4</string>
			<key>skill3_buffValue</key>
			<string>0.4</string>
			<key>skilllupgradeMoney</key>
			<string>1600</string>
			<key>desc</key>
			<string>士兵暴力率增加18%</string>
		</dict>
		<key>level9</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>4</string>
			<key>skill3_buffValue</key>
			<string>0.45</string>
			<key>skilllupgradeMoney</key>
			<string>1800</string>
			<key>desc</key>
			<string>士兵暴力率增加19%</string>
		</dict>
		<key>level10</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>4</string>
			<key>skill3_buffValue</key>
			<string>0.5</string>
			<key>skilllupgradeMoney</key>
			<string>0</string>
			<key>desc</key>
			<string>士兵暴力率增加20%</string>
		</dict>
	</dict>
</dict>
</plist>
