<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>skill1</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>2</string>
			<key>buff_target</key>
			<string>1</string>
			<key>skillKeepTime</key>
			<string>5</string>
			<key>skillCDtime</key>
			<string>17</string>
			<key>skilllupgradeMoney</key>
			<string>200</string>
			<key>desc</key>
			<string>嘲讽——吸引周围敌人攻击自己</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>3</string>
			<key>buff_target</key>
			<string>1</string>
			<key>skillKeepTime</key>
			<string>6</string>
			<key>skillCDtime</key>
			<string>16</string>
			<key>skilllupgradeMoney</key>
			<string>400</string>
			<key>desc</key>
			<string>嘲讽——吸引周围敌人攻击自己</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>3</string>
			<key>buff_target</key>
			<string>1</string>
			<key>skillKeepTime</key>
			<string>6</string>
			<key>skillCDtime</key>
			<string>16</string>
			<key>skilllupgradeMoney</key>
			<string>600</string>
			<key>desc</key>
			<string>嘲讽——吸引周围敌人攻击自己</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>4</string>
			<key>buff_target</key>
			<string>1</string>
			<key>skillKeepTime</key>
			<string>7</string>
			<key>skillCDtime</key>
			<string>15</string>
			<key>skilllupgradeMoney</key>
			<string>800</string>
			<key>desc</key>
			<string>嘲讽——吸引周围敌人攻击自己</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>4</string>
			<key>buff_target</key>
			<string>1</string>
			<key>skillKeepTime</key>
			<string>8</string>
			<key>skillCDtime</key>
			<string>15</string>
			<key>skilllupgradeMoney</key>
			<string>1000</string>
			<key>desc</key>
			<string>嘲讽——吸引周围敌人攻击自己</string>
		</dict>
		<key>level6</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>4</string>
			<key>buff_target</key>
			<string>1</string>
			<key>skillKeepTime</key>
			<string>8</string>
			<key>skillCDtime</key>
			<string>15</string>
			<key>skilllupgradeMoney</key>
			<string>1200</string>
			<key>desc</key>
			<string>嘲讽——吸引周围敌人攻击自己</string>
		</dict>
		<key>level7</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>5</string>
			<key>buff_target</key>
			<string>1</string>
			<key>skillKeepTime</key>
			<string>8</string>
			<key>skillCDtime</key>
			<string>14</string>
			<key>skilllupgradeMoney</key>
			<string>1400</string>
			<key>desc</key>
			<string>嘲讽——吸引周围敌人攻击自己</string>
		</dict>
		<key>level8</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>5</string>
			<key>buff_target</key>
			<string>1</string>
			<key>skillKeepTime</key>
			<string>9</string>
			<key>skillCDtime</key>
			<string>14</string>
			<key>skilllupgradeMoney</key>
			<string>1600</string>
			<key>desc</key>
			<string>嘲讽——吸引周围敌人攻击自己</string>
		</dict>
		<key>level9</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>5</string>
			<key>buff_target</key>
			<string>1</string>
			<key>skillKeepTime</key>
			<string>9</string>
			<key>skillCDtime</key>
			<string>14</string>
			<key>skilllupgradeMoney</key>
			<string>1800</string>
			<key>desc</key>
			<string>嘲讽——吸引周围敌人攻击自己</string>
		</dict>
		<key>level10</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>6</string>
			<key>buff_target</key>
			<string>1</string>
			<key>skillKeepTime</key>
			<string>10</string>
			<key>skillCDtime</key>
			<string>13</string>
			<key>skilllupgradeMoney</key>
			<string>0</string>
			<key>desc</key>
			<string>嘲讽——吸引周围敌人攻击自己</string>
		</dict>
	</dict>
	<key>skill2</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.01</string>
			<key>skilllupgradeMoney</key>
			<string>200</string>
			<key>desc</key>
			<string>英雄防御力增加1%</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.02</string>
			<key>skilllupgradeMoney</key>
			<string>400</string>
			<key>desc</key>
			<string>英雄防御力增加2%</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.03</string>
			<key>skilllupgradeMoney</key>
			<string>600</string>
			<key>desc</key>
			<string>英雄防御力增加3%</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.04</string>
			<key>skilllupgradeMoney</key>
			<string>800</string>
			<key>desc</key>
			<string>英雄防御力增加4%</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.05</string>
			<key>skilllupgradeMoney</key>
			<string>1000</string>
			<key>desc</key>
			<string>英雄防御力增加5%</string>
		</dict>
		<key>level6</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.06</string>
			<key>skilllupgradeMoney</key>
			<string>1200</string>
			<key>desc</key>
			<string>英雄防御力增加6%</string>
		</dict>
		<key>level7</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.07</string>
			<key>skilllupgradeMoney</key>
			<string>1400</string>
			<key>desc</key>
			<string>英雄防御力增加7%</string>
		</dict>
		<key>level8</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.08</string>
			<key>skilllupgradeMoney</key>
			<string>1600</string>
			<key>desc</key>
			<string>英雄防御力增加8%</string>
		</dict>
		<key>level9</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.09</string>
			<key>skilllupgradeMoney</key>
			<string>1800</string>
			<key>desc</key>
			<string>英雄防御力增加9%</string>
		</dict>
		<key>level10</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.1</string>
			<key>skilllupgradeMoney</key>
			<string>0</string>
			<key>desc</key>
			<string>英雄防御力增加10%</string>
		</dict>
	</dict>
	<key>skill3</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>1</string>
			<key>skill3_buffValue</key>
			<string>0.05</string>
			<key>skilllupgradeMoney</key>
			<string>200</string>
			<key>desc</key>
			<string>反射敌人伤害5%</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>1</string>
			<key>skill3_buffValue</key>
			<string>0.1</string>
			<key>skilllupgradeMoney</key>
			<string>400</string>
			<key>desc</key>
			<string>反射敌人伤害10%</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>1</string>
			<key>skill3_buffValue</key>
			<string>0.15</string>
			<key>skilllupgradeMoney</key>
			<string>600</string>
			<key>desc</key>
			<string>反射敌人伤害15%</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>1</string>
			<key>skill3_buffValue</key>
			<string>0.2</string>
			<key>skilllupgradeMoney</key>
			<string>800</string>
			<key>desc</key>
			<string>反射敌人伤害20%</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>1</string>
			<key>skill3_buffValue</key>
			<string>0.25</string>
			<key>skilllupgradeMoney</key>
			<string>1000</string>
			<key>desc</key>
			<string>反射敌人伤害25%</string>
		</dict>
		<key>level6</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>1</string>
			<key>skill3_buffValue</key>
			<string>0.3</string>
			<key>skilllupgradeMoney</key>
			<string>1200</string>
			<key>desc</key>
			<string>反射敌人伤害30%</string>
		</dict>
		<key>level7</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>1</string>
			<key>skill3_buffValue</key>
			<string>0.35</string>
			<key>skilllupgradeMoney</key>
			<string>1400</string>
			<key>desc</key>
			<string>反射敌人伤害35%</string>
		</dict>
		<key>level8</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>1</string>
			<key>skill3_buffValue</key>
			<string>0.4</string>
			<key>skilllupgradeMoney</key>
			<string>1600</string>
			<key>desc</key>
			<string>反射敌人伤害40%</string>
		</dict>
		<key>level9</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>1</string>
			<key>skill3_buffValue</key>
			<string>0.45</string>
			<key>skilllupgradeMoney</key>
			<string>1800</string>
			<key>desc</key>
			<string>反射敌人伤害45%</string>
		</dict>
		<key>level10</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill2_target</key>
			<string>1</string>
			<key>skill3_buffValue</key>
			<string>0.5</string>
			<key>skilllupgradeMoney</key>
			<string>0</string>
			<key>desc</key>
			<string>反射敌人伤害50%</string>
		</dict>
	</dict>
</dict>
</plist>
