<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>skill1</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>2</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atk</key>
			<string>70</string>
			<key>skillKeepTime</key>
			<string>3</string>
			<key>skillCDtime</key>
			<string>16</string>
			<key>skilllupgradeMoney</key>
			<string>200</string>
			<key>desc</key>
			<string>踩踏——将敌人震晕3秒并造成70点伤害</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>2</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atk</key>
			<string>80</string>
			<key>skillKeepTime</key>
			<string>4</string>
			<key>skillCDtime</key>
			<string>15</string>
			<key>skilllupgradeMoney</key>
			<string>400</string>
			<key>desc</key>
			<string>踩踏——将敌人震晕4秒并造成80点伤害</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>2</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atk</key>
			<string>90</string>
			<key>skillKeepTime</key>
			<string>5</string>
			<key>skillCDtime</key>
			<string>15</string>
			<key>skilllupgradeMoney</key>
			<string>600</string>
			<key>desc</key>
			<string>踩踏——将敌人震晕4秒并造成90点伤害</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>3</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atk</key>
			<string>100</string>
			<key>skillKeepTime</key>
			<string>5</string>
			<key>skillCDtime</key>
			<string>14</string>
			<key>skilllupgradeMoney</key>
			<string>800</string>
			<key>desc</key>
			<string>踩踏——将敌人震晕5秒并造成100点伤害</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>3</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atk</key>
			<string>110</string>
			<key>skillKeepTime</key>
			<string>5</string>
			<key>skillCDtime</key>
			<string>14</string>
			<key>skilllupgradeMoney</key>
			<string>1000</string>
			<key>desc</key>
			<string>踩踏——将敌人震晕5秒并造成110点伤害</string>
		</dict>
		<key>level6</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>3</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atk</key>
			<string>120</string>
			<key>skillKeepTime</key>
			<string>6</string>
			<key>skillCDtime</key>
			<string>14</string>
			<key>skilllupgradeMoney</key>
			<string>1200</string>
			<key>desc</key>
			<string>踩踏——将敌人震晕6秒并造成120点伤害</string>
		</dict>
		<key>level7</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>4</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atk</key>
			<string>130</string>
			<key>skillKeepTime</key>
			<string>6</string>
			<key>skillCDtime</key>
			<string>13</string>
			<key>skilllupgradeMoney</key>
			<string>1400</string>
			<key>desc</key>
			<string>踩踏——将敌人震晕6秒并造成130点伤害</string>
		</dict>
		<key>level8</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>4</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atk</key>
			<string>140</string>
			<key>skillKeepTime</key>
			<string>7</string>
			<key>skillCDtime</key>
			<string>13</string>
			<key>skilllupgradeMoney</key>
			<string>1600</string>
			<key>desc</key>
			<string>踩踏——将敌人震晕7秒并造成140点伤害</string>
		</dict>
		<key>level9</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>4</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atk</key>
			<string>150</string>
			<key>skillKeepTime</key>
			<string>7</string>
			<key>skillCDtime</key>
			<string>13</string>
			<key>skilllupgradeMoney</key>
			<string>1800</string>
			<key>desc</key>
			<string>踩踏——将敌人震晕7秒并造成150点伤害</string>
		</dict>
		<key>level10</key>
		<dict>
			<key>buff_isGround</key>
			<string>2</string>
			<key>buff_targetNum</key>
			<string>5</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atk</key>
			<string>160</string>
			<key>skillKeepTime</key>
			<string>9</string>
			<key>skillCDtime</key>
			<string>12</string>
			<key>skilllupgradeMoney</key>
			<string>0</string>
			<key>desc</key>
			<string>踩踏——将敌人震晕9秒并造成160点伤害</string>
		</dict>
	</dict>
	<key>skill2</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.1</string>
			<key>skilllupgradeMoney</key>
			<string>200</string>
			<key>desc</key>
			<string>英雄生命力增加10%</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.2</string>
			<key>skilllupgradeMoney</key>
			<string>400</string>
			<key>desc</key>
			<string>英雄生命力增加20%</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.3</string>
			<key>skilllupgradeMoney</key>
			<string>600</string>
			<key>desc</key>
			<string>英雄生命力增加30%</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.4</string>
			<key>skilllupgradeMoney</key>
			<string>800</string>
			<key>desc</key>
			<string>英雄生命力增加40%</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.5</string>
			<key>skilllupgradeMoney</key>
			<string>1000</string>
			<key>desc</key>
			<string>英雄生命力增加50%</string>
		</dict>
		<key>level6</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.6</string>
			<key>skilllupgradeMoney</key>
			<string>1200</string>
			<key>desc</key>
			<string>英雄生命力增加60%</string>
		</dict>
		<key>level7</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.7</string>
			<key>skilllupgradeMoney</key>
			<string>1400</string>
			<key>desc</key>
			<string>英雄生命力增加70%</string>
		</dict>
		<key>level8</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.8</string>
			<key>skilllupgradeMoney</key>
			<string>1600</string>
			<key>desc</key>
			<string>英雄生命力增加80%</string>
		</dict>
		<key>level9</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.9</string>
			<key>skilllupgradeMoney</key>
			<string>1800</string>
			<key>desc</key>
			<string>英雄生命力增加90%</string>
		</dict>
		<key>level10</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>1.0</string>
			<key>skilllupgradeMoney</key>
			<string>0</string>
			<key>desc</key>
			<string>英雄生命力增加100%</string>
		</dict>
	</dict>
	<key>skill3</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>3</string>
			<key>skill3_buffValue</key>
			<string>0.05</string>
			<key>skilllupgradeMoney</key>
			<string>200</string>
			<key>desc</key>
			<string>哨塔攻击力增加5%</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>3</string>
			<key>skill3_buffValue</key>
			<string>0.1</string>
			<key>skilllupgradeMoney</key>
			<string>400</string>
			<key>desc</key>
			<string>哨塔攻击力增加10%</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>3</string>
			<key>skill3_buffValue</key>
			<string>0.15</string>
			<key>skilllupgradeMoney</key>
			<string>600</string>
			<key>desc</key>
			<string>哨塔攻击力增加15%</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>3</string>
			<key>skill3_buffValue</key>
			<string>0.2</string>
			<key>skilllupgradeMoney</key>
			<string>800</string>
			<key>desc</key>
			<string>哨塔攻击力增加20%</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>3</string>
			<key>skill3_buffValue</key>
			<string>0.25</string>
			<key>skilllupgradeMoney</key>
			<string>1000</string>
			<key>desc</key>
			<string>哨塔攻击力增加25%</string>
		</dict>
		<key>level6</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>3</string>
			<key>skill3_buffValue</key>
			<string>0.3</string>
			<key>skilllupgradeMoney</key>
			<string>1200</string>
			<key>desc</key>
			<string>哨塔攻击力增加30%</string>
		</dict>
		<key>level7</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>3</string>
			<key>skill3_buffValue</key>
			<string>0.35</string>
			<key>skilllupgradeMoney</key>
			<string>1400</string>
			<key>desc</key>
			<string>哨塔攻击力增加35%</string>
		</dict>
		<key>level8</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>3</string>
			<key>skill3_buffValue</key>
			<string>0.4</string>
			<key>skilllupgradeMoney</key>
			<string>1600</string>
			<key>desc</key>
			<string>哨塔攻击力增加40%</string>
		</dict>
		<key>level9</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>3</string>
			<key>skill3_buffValue</key>
			<string>0.45</string>
			<key>skilllupgradeMoney</key>
			<string>1800</string>
			<key>desc</key>
			<string>哨塔攻击力增加45%</string>
		</dict>
		<key>level10</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>5</string>
			<key>skill3_isGround</key>
			<string>2</string>
			<key>skill3_target</key>
			<string>3</string>
			<key>skill3_buffValue</key>
			<string>0.5</string>
			<key>skilllupgradeMoney</key>
			<string>0</string>
			<key>desc</key>
			<string>哨塔攻击力增加50%</string>
		</dict>
	</dict>
</dict>
</plist>
