<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>skill1</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>buff_isGround</key>
			<string>1</string>
			<key>buff_targetNum</key>
			<string>1</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atkSpeed</key>
			<string>1.1</string>
			<key>buff_atkScale</key>
			<string>0.5</string>
			<key>skillKeepTime</key>
			<string>6</string>
			<key>skillCDtime</key>
			<string>20</string>
			<key>skilllupgradeMoney</key>
			<string>200</string>
			<key>desc</key>
			<string>狂暴——增加攻击力50%与攻击速度110%</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>buff_isGround</key>
			<string>1</string>
			<key>buff_targetNum</key>
			<string>1</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atkSpeed</key>
			<string>1.2</string>
			<key>buff_atkScale</key>
			<string>0.6</string>
			<key>skillKeepTime</key>
			<string>6</string>
			<key>skillCDtime</key>
			<string>19</string>
			<key>skilllupgradeMoney</key>
			<string>400</string>
			<key>desc</key>
			<string>狂暴——增加攻击力60%与攻击速度120%</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>buff_isGround</key>
			<string>1</string>
			<key>buff_targetNum</key>
			<string>1</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atkSpeed</key>
			<string>1.3</string>
			<key>buff_atkScale</key>
			<string>0.7</string>
			<key>skillKeepTime</key>
			<string>7</string>
			<key>skillCDtime</key>
			<string>18</string>
			<key>skilllupgradeMoney</key>
			<string>600</string>
			<key>desc</key>
			<string>狂暴——增加攻击力70%与攻击速度130%</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>buff_isGround</key>
			<string>1</string>
			<key>buff_targetNum</key>
			<string>1</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atkSpeed</key>
			<string>1.4</string>
			<key>buff_atkScale</key>
			<string>0.8</string>
			<key>skillKeepTime</key>
			<string>7</string>
			<key>skillCDtime</key>
			<string>17</string>
			<key>skilllupgradeMoney</key>
			<string>800</string>
			<key>desc</key>
			<string>狂暴——增加攻击力80%与攻击速度140%</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>buff_isGround</key>
			<string>1</string>
			<key>buff_targetNum</key>
			<string>1</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atkSpeed</key>
			<string>1.5</string>
			<key>buff_atkScale</key>
			<string>0.9</string>
			<key>skillKeepTime</key>
			<string>8</string>
			<key>skillCDtime</key>
			<string>17</string>
			<key>skilllupgradeMoney</key>
			<string>1000</string>
			<key>desc</key>
			<string>狂暴——增加攻击力90%与攻击速度150%</string>
		</dict>
		<key>level6</key>
		<dict>
			<key>buff_isGround</key>
			<string>1</string>
			<key>buff_targetNum</key>
			<string>1</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atkSpeed</key>
			<string>1.6</string>
			<key>buff_atkScale</key>
			<string>1.0</string>
			<key>skillKeepTime</key>
			<string>8</string>
			<key>skillCDtime</key>
			<string>17</string>
			<key>skilllupgradeMoney</key>
			<string>1200</string>
			<key>desc</key>
			<string>狂暴——增加攻击力100%与攻击速度160%</string>
		</dict>
		<key>level7</key>
		<dict>
			<key>buff_isGround</key>
			<string>1</string>
			<key>buff_targetNum</key>
			<string>1</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atkSpeed</key>
			<string>1.7</string>
			<key>buff_atkScale</key>
			<string>1.1</string>
			<key>skillKeepTime</key>
			<string>9</string>
			<key>skillCDtime</key>
			<string>16</string>
			<key>skilllupgradeMoney</key>
			<string>1400</string>
			<key>desc</key>
			<string>狂暴——增加攻击力110%与攻击速度170%</string>
		</dict>
		<key>level8</key>
		<dict>
			<key>buff_isGround</key>
			<string>1</string>
			<key>buff_targetNum</key>
			<string>1</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atkSpeed</key>
			<string>1.8</string>
			<key>buff_atkScale</key>
			<string>1.2</string>
			<key>skillKeepTime</key>
			<string>9</string>
			<key>skillCDtime</key>
			<string>16</string>
			<key>skilllupgradeMoney</key>
			<string>1600</string>
			<key>desc</key>
			<string>狂暴——增加攻击力120%与攻击速度180%</string>
		</dict>
		<key>level9</key>
		<dict>
			<key>buff_isGround</key>
			<string>1</string>
			<key>buff_targetNum</key>
			<string>1</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atkSpeed</key>
			<string>1.9</string>
			<key>buff_atkScale</key>
			<string>1.3</string>
			<key>skillKeepTime</key>
			<string>10</string>
			<key>skillCDtime</key>
			<string>16</string>
			<key>skilllupgradeMoney</key>
			<string>1800</string>
			<key>desc</key>
			<string>狂暴——增加攻击力130%与攻击速度190%</string>
		</dict>
		<key>level10</key>
		<dict>
			<key>buff_isGround</key>
			<string>1</string>
			<key>buff_targetNum</key>
			<string>1</string>
			<key>buff_target</key>
			<string>1</string>
			<key>buff_atkSpeed</key>
			<string>2.0</string>
			<key>buff_atkScale</key>
			<string>1.4</string>
			<key>skillKeepTime</key>
			<string>12</string>
			<key>skillCDtime</key>
			<string>15</string>
			<key>skilllupgradeMoney</key>
			<string>0</string>
			<key>desc</key>
			<string>狂暴——增加攻击力140%与攻击速度200%</string>
		</dict>
	</dict>
	<key>skill2</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.1</string>
			<key>skilllupgradeMoney</key>
			<string>200</string>
			<key>desc</key>
			<string>英雄攻击力增加10%</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.2</string>
			<key>skilllupgradeMoney</key>
			<string>400</string>
			<key>desc</key>
			<string>英雄攻击力增加20%</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.3</string>
			<key>skilllupgradeMoney</key>
			<string>600</string>
			<key>desc</key>
			<string>英雄攻击力增加30%</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.4</string>
			<key>skilllupgradeMoney</key>
			<string>800</string>
			<key>desc</key>
			<string>英雄攻击力增加40%</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.5</string>
			<key>skilllupgradeMoney</key>
			<string>1000</string>
			<key>desc</key>
			<string>英雄攻击力增加50%</string>
		</dict>
		<key>level6</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.6</string>
			<key>skilllupgradeMoney</key>
			<string>1200</string>
			<key>desc</key>
			<string>英雄攻击力增加60%</string>
		</dict>
		<key>level7</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.7</string>
			<key>skilllupgradeMoney</key>
			<string>1400</string>
			<key>desc</key>
			<string>英雄攻击力增加70%</string>
		</dict>
		<key>level8</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.8</string>
			<key>skilllupgradeMoney</key>
			<string>1600</string>
			<key>desc</key>
			<string>英雄攻击力增加80%</string>
		</dict>
		<key>level9</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>0.9</string>
			<key>skilllupgradeMoney</key>
			<string>1800</string>
			<key>desc</key>
			<string>英雄攻击力增加90%</string>
		</dict>
		<key>level10</key>
		<dict>
			<key>skill2_targetNum</key>
			<string>1</string>
			<key>skill2_isGround</key>
			<string>1</string>
			<key>skill2_target</key>
			<string>0</string>
			<key>skill2_buffValue</key>
			<string>1.0</string>
			<key>skilllupgradeMoney</key>
			<string>0</string>
			<key>desc</key>
			<string>英雄攻击力增加100%</string>
		</dict>
	</dict>
	<key>skill3</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>1</string>
			<key>skill3_isGround</key>
			<string>1</string>
			<key>skill3_target</key>
			<string>0</string>
			<key>skill3_buffValue</key>
			<string>0.01</string>
			<key>skilllupgradeMoney</key>
			<string>200</string>
			<key>desc</key>
			<string>英雄暴击率增加1%</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>1</string>
			<key>skill3_isGround</key>
			<string>1</string>
			<key>skill3_target</key>
			<string>0</string>
			<key>skill3_buffValue</key>
			<string>0.02</string>
			<key>skilllupgradeMoney</key>
			<string>400</string>
			<key>desc</key>
			<string>英雄暴击率增加2%</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>1</string>
			<key>skill3_isGround</key>
			<string>1</string>
			<key>skill3_target</key>
			<string>0</string>
			<key>skill3_buffValue</key>
			<string>0.03</string>
			<key>skilllupgradeMoney</key>
			<string>600</string>
			<key>desc</key>
			<string>英雄暴击率增加3%</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>1</string>
			<key>skill3_isGround</key>
			<string>1</string>
			<key>skill3_target</key>
			<string>0</string>
			<key>skill3_buffValue</key>
			<string>0.04</string>
			<key>skilllupgradeMoney</key>
			<string>800</string>
			<key>desc</key>
			<string>英雄暴击率增加4%</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>1</string>
			<key>skill3_isGround</key>
			<string>1</string>
			<key>skill3_target</key>
			<string>0</string>
			<key>skill3_buffValue</key>
			<string>0.05</string>
			<key>skilllupgradeMoney</key>
			<string>1000</string>
			<key>desc</key>
			<string>英雄暴击率增加5%</string>
		</dict>
		<key>level6</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>1</string>
			<key>skill3_isGround</key>
			<string>1</string>
			<key>skill3_target</key>
			<string>0</string>
			<key>skill3_buffValue</key>
			<string>0.06</string>
			<key>skilllupgradeMoney</key>
			<string>1200</string>
			<key>desc</key>
			<string>英雄暴击率增加6%</string>
		</dict>
		<key>level7</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>1</string>
			<key>skill3_isGround</key>
			<string>1</string>
			<key>skill3_target</key>
			<string>0</string>
			<key>skill3_buffValue</key>
			<string>0.07</string>
			<key>skilllupgradeMoney</key>
			<string>1400</string>
			<key>desc</key>
			<string>英雄暴击率增加7%</string>
		</dict>
		<key>level8</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>1</string>
			<key>skill3_isGround</key>
			<string>1</string>
			<key>skill3_target</key>
			<string>0</string>
			<key>skill3_buffValue</key>
			<string>0.08</string>
			<key>skilllupgradeMoney</key>
			<string>1600</string>
			<key>desc</key>
			<string>英雄暴击率增加8%</string>
		</dict>
		<key>level9</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>1</string>
			<key>skill3_isGround</key>
			<string>1</string>
			<key>skill3_target</key>
			<string>0</string>
			<key>skill3_buffValue</key>
			<string>0.09</string>
			<key>skilllupgradeMoney</key>
			<string>1800</string>
			<key>desc</key>
			<string>英雄暴击率增加9%</string>
		</dict>
		<key>level10</key>
		<dict>
			<key>skill3_targetNum</key>
			<string>1</string>
			<key>skill3_isGround</key>
			<string>1</string>
			<key>skill3_target</key>
			<string>0</string>
			<key>skill3_buffValue</key>
			<string>0.1</string>
			<key>skilllupgradeMoney</key>
			<string>0</string>
			<key>desc</key>
			<string>英雄暴击率增加10%</string>
		</dict>
	</dict>
</dict>
</plist>
