<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enemy1</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>0</string>
			<key>atk</key>
			<string>40</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>800</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>enemy2</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>0</string>
			<key>atk</key>
			<string>50</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>1000</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>enemy3</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>0</string>
			<key>atk</key>
			<string>60</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>1200</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>enemy4</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0.6</string>
			<key>dfeOption</key>
			<string>2</string>
			<key>atk</key>
			<string>200</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>20000</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>enemy5</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>0</string>
			<key>atk</key>
			<string>60</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>1500</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>enemy6</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>0</string>
			<key>atk</key>
			<string>70</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>2000</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>enemy7</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>0</string>
			<key>atk</key>
			<string>80</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>2500</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>enemy8</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.8</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>400</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>22000</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>enemy9</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>0</string>
			<key>atk</key>
			<string>30</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>800</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>1</string>
		</dict>
	</dict>
	<key>enemy10</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>0</string>
			<key>atk</key>
			<string>40</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>1000</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>1</string>
		</dict>
	</dict>
	<key>enemy11</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>0</string>
			<key>atk</key>
			<string>50</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>1200</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>1</string>
		</dict>
	</dict>
	<key>enemy12</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0.5</string>
			<key>dfeOption</key>
			<string>2</string>
			<key>atk</key>
			<string>200</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>20000</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>1</string>
		</dict>
	</dict>
	<key>enemy13</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>0</string>
			<key>atk</key>
			<string>15</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>200</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>1</string>
		</dict>
	</dict>
	<key>enemy14</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>0</string>
			<key>atk</key>
			<string>20</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>300</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>1</string>
		</dict>
	</dict>
	<key>enemy15</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>0</string>
			<key>atk</key>
			<string>25</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>400</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>1</string>
		</dict>
	</dict>
	<key>enemy16</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.6</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>200</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>10000</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>enemy17</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>0</string>
			<key>atk</key>
			<string>80</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>3</string>
			<key>maxHp</key>
			<string>500</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>enemy18</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>0</string>
			<key>atk</key>
			<string>100</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>3</string>
			<key>maxHp</key>
			<string>700</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>enemy19</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>0</string>
			<key>atk</key>
			<string>120</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>3</string>
			<key>maxHp</key>
			<string>900</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>enemy20</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.5</string>
			<key>dfeOption</key>
			<string>2</string>
			<key>atk</key>
			<string>500</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>20000</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>enemy21</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>0</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0.6</string>
			<key>dfeOption</key>
			<string>2</string>
			<key>atk</key>
			<string>60</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>10000</string>
			<key>sellOutMoney</key>
			<string>0</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>0</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>1</string>
		</dict>
	</dict>
</dict>
</plist>
