<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SoulToGold</key>
	<dict>
		<key>change50001</key>
		<dict>
			<key>goldCount</key>
			<string>2500</string>
			<key>soulCount</key>
			<string>50</string>
		</dict>
		<key>change50002</key>
		<dict>
			<key>goldCount</key>
			<string>5200</string>
			<key>soulCount</key>
			<string>100</string>
		</dict>
		<key>change50003</key>
		<dict>
			<key>goldCount</key>
			<string>11000</string>
			<key>soulCount</key>
			<string>200</string>
		</dict>
		<key>change50004</key>
		<dict>
			<key>goldCount</key>
			<string>28000</string>
			<key>soulCount</key>
			<string>500</string>
		</dict>
		<key>change50005</key>
		<dict>
			<key>goldCount</key>
			<string>88000</string>
			<key>soulCount</key>
			<string>1500</string>
		</dict>
	</dict>
	<key>RmbToSoul</key>
	<dict>
		<key>change60001</key>
		<dict>
			<key>rmbCount</key>
			<string>2</string>
			<key>soulCount</key>
			<string>20</string>
		</dict>
		<key>change60002</key>
		<dict>
			<key>rmbCount</key>
			<string>6</string>
			<key>soulCount</key>
			<string>63</string>
		</dict>
		<key>change60003</key>
		<dict>
			<key>rmbCount</key>
			<string>10</string>
			<key>soulCount</key>
			<string>106</string>
		</dict>
		<key>change60004</key>
		<dict>
			<key>rmbCount</key>
			<string>15</string>
			<key>soulCount</key>
			<string>165</string>
		</dict>
		<key>change60005</key>
		<dict>
			<key>rmbCount</key>
			<string>20</string>
			<key>soulCount</key>
			<string>225</string>
		</dict>
	</dict>
</dict>
</plist>
