<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100001</key>
	<dict>
		<key>photo</key>
		<string>1</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>HI~！欢迎来到美丽的糖果乐园。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100002</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>首先来认识一下主界面的信息</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100003</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>这里是主菜单，所有的作战单位都是从这里拖动到层内的</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100004</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>这个是进攻波次，显示敌人的剩余进攻波次跟当前波次信_n息</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100005</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>这个是生命值，变成零的话就会失败哦！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100006</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>这个是糖果值，左边是现在拥有的糖果数量，右边是最大_n储存上限哦</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100007</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>作战单位需要糖果召唤，除此之外，糖果还能升级工位</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100008</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>690</string>
		<key>originY</key>
		<string>260</string>
		<key>width</key>
		<string>120</string>
		<key>height</key>
		<string>80</string>
		<key>content</key>
		<string>你可以尝试着增加一个工位来加快糖果的制作速度，首先_n点击这里</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100009</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>710</string>
		<key>originY</key>
		<string>330</string>
		<key>width</key>
		<string>90</string>
		<key>height</key>
		<string>45</string>
		<key>content</key>
		<string>然后点击这里来增加一个工位！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100010</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>嗯！做得好，这样我们就有足够的糖果来召唤作战单位啦</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100011</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>敌人的进攻就在眼前，赶紧让我们开始进行防御作战吧！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100012</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>430</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>130</string>
		<key>content</key>
		<string>点击下方的防御塔，向这样拖动到地面来摆放一个防御塔吧</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100013</key>
	<dict>
		<key>photo</key>
		<string>0</string>
		<key>ispause</key>
		<string>false</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>-430</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>点击下方的防御塔，向这样拖动到地面来摆放一个防御塔吧</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100014</key>
	<dict>
		<key>photo</key>
		<string>4</string>
		<key>ispause</key>
		<string>false</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>530</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>糟糕！有一名敌人越过防御塔开始向基地进攻！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100015</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>false</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>515</string>
		<key>originY</key>
		<string>120</string>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>30</string>
		<key>content</key>
		<string>别紧张，我们还有挽救的方法！只要点击开层按钮我们就能_n暂时延缓敌人进攻的脚步。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100016</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>false</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>-530</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>就是这样！我们可以解锁4层对抗敌人，一定要谨慎使用。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100017</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>false</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>230</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>130</string>
		<key>content</key>
		<string>那么接着再增加一个士兵来帮助防守吧</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100018</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>false</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>-230</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>普通士兵比较弱小，我们可以升级自己的士兵使其变得_n强大，彻底消灭这些可恶的敌人！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100019</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>false</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>-230</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>普通士兵比较弱小，我们可以升级自己的士兵使其变得_n强大，彻底消灭这些可恶的敌人！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100020</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>false</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>-200</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>就是这样！准备迎敌吧</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>100021</key>
	<dict>
		<key>photo</key>
		<string>1</string>
		<key>ispause</key>
		<string>false</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>好啦！你已经基本掌握了基本作战的技巧了，继续加油哦。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>200001</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>英雄，是强大的作战单位！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>200002</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>455</string>
		<key>originY</key>
		<string>560</string>
		<key>width</key>
		<string>50</string>
		<key>height</key>
		<string>50</string>
		<key>content</key>
		<string>首先，让我们来召唤一位英雄出来吧！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>200003</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>480</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>在英雄交互界面中，可以选择召唤英雄，或者召回已经部_n署的英雄，利用这个功能可以灵活选择将那一名英雄部署_n在那一层内哦</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>200004</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>40</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>140</string>
		<key>height</key>
		<string>100</string>
		<key>content</key>
		<string>快来召唤小超人哥哥帮助战斗吧！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>200005</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>480</string>
		<key>originY</key>
		<string>400</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>200</string>
		<key>content</key>
		<string>英雄可以任意移动，在战场上能够及时填补战斗空缺。你_n可以点击这里选取英雄！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>200006</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>280</string>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>100</string>
		<key>content</key>
		<string>然后点击这里操纵英雄移动！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>200007</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>880</string>
		<key>originY</key>
		<string>280</string>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>100</string>
		<key>content</key>
		<string>再向另一个方向试试吧</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>200008</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>那么现在就让我们见识英雄的厉害之处吧！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>200009</key>
	<dict>
		<key>photo</key>
		<string>0</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>-200</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>出兵2</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>200010</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>false</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>20</string>
		<key>originY</key>
		<string>550</string>
		<key>width</key>
		<string>120</string>
		<key>height</key>
		<string>100</string>
		<key>content</key>
		<string>怎么样？我们的英雄厉害吧！不过这可不是他的极限，现_n在我们就来看看英雄的技能。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>200011</key>
	<dict>
		<key>photo</key>
		<string>0</string>
		<key>ispause</key>
		<string>false</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>-200</string>
		<key>originY</key>
		<string>-550</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>战斗</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>200012</key>
	<dict>
		<key>photo</key>
		<string>6</string>
		<key>ispause</key>
		<string>false</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>480</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>吼吼~！真是漂亮的战斗呢，灵活使用技能可以轻松_n扭转战局哦！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300001</key>
	<dict>
		<key>photo</key>
		<string>1</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>噢啦，欢迎来到魔法使用讲座，魔法可以帮助我们轻松完_n成战斗</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300002</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>100</string>
		<key>content</key>
		<string>那么首先，点击这里来展开魔法栏</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300003</key>
	<dict>
		<key>photo</key>
		<string>0</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>-300</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>出兵1</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300004</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>我看先来尝试一下攻击魔法的威力吧！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300005</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>400</string>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>100</string>
		<key>content</key>
		<string>攻击魔法可以用来快速消灭大量敌人，只需要在使用的时_n候这样</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300006</key>
	<dict>
		<key>photo</key>
		<string>0</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>点击层</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300007</key>
	<dict>
		<key>photo</key>
		<string>0</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>-200</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>点击层</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300008</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>很厉害吧！攻击魔法可以在关键时刻对敌人进行打击，是_n威力强大的魔法呢</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300009</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>接下来是变羊魔法。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300010</key>
	<dict>
		<key>photo</key>
		<string>0</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>-300</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>出兵2</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300011</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>当敌人很多打不过时，我们可以使用变羊魔法来将敌人变_n成可爱的绵羊</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300012</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>300</string>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>100</string>
		<key>content</key>
		<string>这样可怕的敌人就失去了作战能力了呢</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300013</key>
	<dict>
		<key>photo</key>
		<string>0</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>200</string>
		<key>width</key>
		<string>960</string>
		<key>height</key>
		<string>240</string>
		<key>content</key>
		<string>点击层</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300014</key>
	<dict>
		<key>photo</key>
		<string>5</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>嘻嘻，羊羊是不是很可爱呢，不过要记住他们可不是一直_n都这么温顺的哦。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300015</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>当魔法的作用消失后，他们可是会变回原来的模样的呦！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300016</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>下面就是见证奇迹的时刻啦，当敌人太多我们还没有准备_n好时。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300017</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>200</string>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>100</string>
		<key>content</key>
		<string>可以使用传送门魔法，把敌人传送到地表，减缓敌人进_n攻节奏哦。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300018</key>
	<dict>
		<key>photo</key>
		<string>0</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>200</string>
		<key>width</key>
		<string>960</string>
		<key>height</key>
		<string>240</string>
		<key>content</key>
		<string>点击层</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300019</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>怎么样很神奇吧！有了它再也不用怕敌人突然找上门来啦</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300020</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>后面仍然有一大波敌人在进攻，对于这群不死心的家伙，让_n我们使用终极绝招对付他们吧！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300021</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>100</string>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>100</string>
		<key>content</key>
		<string>当面对强大的敌人时，我们可以召唤传说中的终极破坏王_n——哥斯拉，来杀他们个片甲不留吧！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300022</key>
	<dict>
		<key>photo</key>
		<string>0</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>200</string>
		<key>width</key>
		<string>960</string>
		<key>height</key>
		<string>240</string>
		<key>content</key>
		<string>点击层</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300023</key>
	<dict>
		<key>photo</key>
		<string>0</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>-200</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>点击层</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300024</key>
	<dict>
		<key>photo</key>
		<string>4</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>咦？有东西，好像是从怪物身上掉落的魔法道具</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300025</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>对了，魔法道具我们可以通过击杀怪物获得，不仅如此_n商店也是购买魔法道具的重要渠道之一哦！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>300026</key>
	<dict>
		<key>photo</key>
		<string>5</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>那么今后也请灵活运用魔法的力量来战斗吧！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400001</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>训练辛苦了呢，那么接下来让我来讲解一下英雄屋的使用_n说明吧！~</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400002</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>我们强悍的英雄们可以在英雄屋内进行升级哦，升级后的_n英雄可是非常腻害呢！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400003</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>610</string>
		<key>originY</key>
		<string>10</string>
		<key>width</key>
		<string>105</string>
		<key>height</key>
		<string>85</string>
		<key>content</key>
		<string>那么首先，我们先进入英雄屋吧~</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400004</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>当然在游戏中我们也可以通过点击糖果商店内的英雄之门_n进入英雄屋哦！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400005</key>
	<dict>
		<key>photo</key>
		<string>0</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>门</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400006</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>在英雄屋内，英雄可以通过花费金币来提升等级。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400007</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>高等级的英雄可是敌人的噩梦哦，请记得经常给英雄提升_n等级呦！~~</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400008</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>780</string>
		<key>originY</key>
		<string>375</string>
		<key>width</key>
		<string>125</string>
		<key>height</key>
		<string>80</string>
		<key>content</key>
		<string>那么接下来就让我们给小超人哥哥提升等级吧。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400009</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>做的很好，今后也请就这样一直持续下去吧</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400010</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>每个英雄都拥有3个技能，第一个是主动技能，另外两个_n是被动技能</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400011</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>技能的等级也可以在英雄屋内通过金币来提升，高级的技_n能威力可是很强大的呦！~~</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400012</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>780</string>
		<key>originY</key>
		<string>97</string>
		<key>width</key>
		<string>125</string>
		<key>height</key>
		<string>80</string>
		<key>content</key>
		<string>快来给小超人哥哥的技能升级吧</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400013</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>嘻嘻，就是这样，你真的很聪明呢！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400014</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>最后，也是最重要的，每个英雄除了等级的提升以为，进_n阶是必不可少的能力提升环节哦。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400015</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>通过进阶，英雄的各项属性可以大幅度提升，同样等级的_n英雄不同的品阶能力可是完全不同的呢！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400016</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>275</string>
		<key>originY</key>
		<string>530</string>
		<key>width</key>
		<string>95</string>
		<key>height</key>
		<string>40</string>
		<key>content</key>
		<string>想要进阶，首先要在这里切换到进阶页面哦</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400017</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>进阶需要消耗进阶蛋作为材料，进阶蛋可以通过战斗获得，_n也可以在商城内购买获得。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400018</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>进阶失败了会获得祝福值，祝福值越高成功几率越大，也_n可以手动拖动滑杆来预设祝福值哦。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400019</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>祝福蛋可以直接增加祝福值，祝福蛋只有通过宝箱抽取和_n每日登陆奖励获得，是珍贵的好东西呢</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400020</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>530</string>
		<key>originY</key>
		<string>10</string>
		<key>width</key>
		<string>250</string>
		<key>height</key>
		<string>80</string>
		<key>content</key>
		<string>那么接下来就来给小超人哥哥进阶一次吧！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>400021</key>
	<dict>
		<key>photo</key>
		<string>1</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>非常好！小超人哥哥更加强大了呢。那么英雄屋的教学就_n告一段落了！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>500001</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>接下来是天赋的简要说明。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>500002</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>天赋可以增强我们的糖果获得效率，提升魔法的效果，降_n低单位的召唤价格，对作战十分有帮助</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>500003</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>选择不同的天赋是影响战斗策略的重要依据，可以在天赋_n界面提升天赋</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>500004</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>495</string>
		<key>originY</key>
		<string>10</string>
		<key>width</key>
		<string>105</string>
		<key>height</key>
		<string>80</string>
		<key>content</key>
		<string>天赋界面从这里进入</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>500005</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>天赋升级需要花费星星点数，星星点数可以通过过关评星_n来获得</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>500006</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>160</string>
		<key>originY</key>
		<string>100</string>
		<key>width</key>
		<string>110</string>
		<key>height</key>
		<string>105</string>
		<key>content</key>
		<string>要想升级天赋，必须首先点击选中要升级的天赋。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>500007</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>1</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>675</string>
		<key>originY</key>
		<string>110</string>
		<key>width</key>
		<string>240</string>
		<key>height</key>
		<string>80</string>
		<key>content</key>
		<string>然后点击升级按钮来升级哦，来试试吧。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>500008</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>很好，这样我们就提升了一个天赋等级了。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>500009</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>由于星星点数的稀少，是不足以加满所有的天赋的，因此_n在选择的时候要根据自己的作战策略来灵活调整呦</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>500010</key>
	<dict>
		<key>photo</key>
		<string>3</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>当然点错了或者不满意的时候也可以通过点击洗点按钮来_n重置所有天赋。</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>500011</key>
	<dict>
		<key>photo</key>
		<string>2</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>洗点后的星星点数是全部返还的，这样就可以尝试不同的_n天赋加成方式啦</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
	<key>500012</key>
	<dict>
		<key>photo</key>
		<string>1</string>
		<key>ispause</key>
		<string>true</string>
		<key>touchEnable</key>
		<string>true</string>
		<key>isFinger</key>
		<string>0</string>
		<key>derection</key>
		<string>up</string>
		<key>originX</key>
		<string>0</string>
		<key>originY</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>height</key>
		<string>0</string>
		<key>content</key>
		<string>天赋的介绍就是这些，今后也请利用天赋的搭配来灵活作_n战吧！</string>
		<key>contentTitle</key>
		<string>伊娃：</string>
	</dict>
</dict>
</plist>
