<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10001</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>草莓糖</string>
		<key>desc</key>
		<string> 在30秒内提供糖果生_n 产效率200%</string>
		<key>icon</key>
		<string>image/UI_zjm_012.png</string>
		<key>value</key>
		<integer>2</integer>
		<key>isUse</key>
		<integer>0</integer>
	</dict>
	<key>10002</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>薄荷糖</string>
		<key>desc</key>
		<string>立刻获得3000糖果币</string>
		<key>icon</key>
		<string>image/UI_zjm_013.png</string>
		<key>value</key>
		<integer>300</integer>
		<key>isUse</key>
		<integer>0</integer>
	</dict>
	<key>10003</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>name</key>
		<string>柠檬糖</string>
		<key>desc</key>
		<string>在10秒内所有单位_n价格将为10，并且_n没有部署冷却时间</string>
		<key>icon</key>
		<string>image/UI_zjm_014.png</string>
		<key>value</key>
		<integer>10</integer>
		<key>isUse</key>
		<integer>0</integer>
	</dict>
	<key>20001</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>攻击魔法</string>
		<key>desc</key>
		<string> 召唤闪电攻击敌人</string>
		<key>icon</key>
		<string>image/icon_magic1.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>0</integer>
	</dict>
	<key>20002</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>变羊魔法</string>
		<key>desc</key>
		<string> 将敌人变成温顺的_n 小绵羊</string>
		<key>icon</key>
		<string>image/icon_magic2.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>0</integer>
	</dict>
	<key>20003</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>传送门魔法</string>
		<key>desc</key>
		<string> 开启一个传送门把_n 敌人传送到地表</string>
		<key>icon</key>
		<string>image/icon_magic3.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>0</integer>
	</dict>
	<key>20004</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>name</key>
		<string>召唤魔法</string>
		<key>desc</key>
		<string> 召唤强大的哥斯拉_n 帮助作战</string>
		<key>icon</key>
		<string>image/icon_magic4.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>0</integer>
	</dict>
	<key>30001</key>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>name</key>
		<string>进阶蛋</string>
		<key>desc</key>
		<string> 英雄进阶所需材料</string>
		<key>icon</key>
		<string>image/Egg_UpStar.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>0</integer>
	</dict>
	<key>30002</key>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>name</key>
		<string>祝福蛋</string>
		<key>desc</key>
		<string> 使用后增加祝福值_n 100点</string>
		<key>icon</key>
		<string>image/Egg_Blessing.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>0</integer>
	</dict>
	<key>40001</key>
	<dict>
		<key>type</key>
		<integer>4</integer>
		<key>name</key>
		<string>普通宝箱</string>
		<key>desc</key>
		<string> 碰碰运气，看看能_n 够开出什么好东西</string>
		<key>icon</key>
		<string>image/Box_Normal.png</string>
		<key>value</key>
		<integer>1001</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>40002</key>
	<dict>
		<key>type</key>
		<integer>4</integer>
		<key>name</key>
		<string>高级宝箱</string>
		<key>desc</key>
		<string> 碰碰运气，看看能_n 够开出什么好东西</string>
		<key>icon</key>
		<string>image/Box_Randm.png</string>
		<key>value</key>
		<integer>1002</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>70001</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>name</key>
		<string>伊娃</string>
		<key>desc</key>
		<string>      伊娃伊娃</string>
		<key>icon</key>
		<string>clothes/0.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>70002</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>name</key>
		<string>英伦伊娃</string>
		<key>desc</key>
		<string>古德猫宁，买达令</string>
		<key>icon</key>
		<string>clothes/1.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>70003</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>name</key>
		<string>奇异果娃</string>
		<key>desc</key>
		<string>    奇异果尊好次</string>
		<key>icon</key>
		<string>clothes/2.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>70004</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>name</key>
		<string>头盔妹妹</string>
		<key>desc</key>
		<string>舒克舒克开飞机的_n舒克</string>
		<key>icon</key>
		<string>clothes/3.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>70005</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>name</key>
		<string>音乐伊娃</string>
		<key>desc</key>
		<string>摩擦摩擦，是魔鬼的_n步伐</string>
		<key>icon</key>
		<string>clothes/4.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>70006</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>name</key>
		<string>小丑伊娃</string>
		<key>desc</key>
		<string>  大爷给你乐一个</string>
		<key>icon</key>
		<string>clothes/5.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>70007</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>name</key>
		<string>牛仔仔</string>
		<key>desc</key>
		<string>马儿快跑~~得儿~驾</string>
		<key>icon</key>
		<string>clothes/6.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>70008</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>name</key>
		<string>狮子头</string>
		<key>desc</key>
		<string>      喵呜~~</string>
		<key>icon</key>
		<string>clothes/7.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>70009</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>name</key>
		<string>贵妇伊娃</string>
		<key>desc</key>
		<string>  哦~杰克，我耐你</string>
		<key>icon</key>
		<string>clothes/8.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>70010</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>name</key>
		<string>呆萌龙龙</string>
		<key>desc</key>
		<string>      吼~吼~吼</string>
		<key>icon</key>
		<string>clothes/9.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>70011</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>name</key>
		<string>神奇女侠</string>
		<key>desc</key>
		<string>    叫我女王大人</string>
		<key>icon</key>
		<string>clothes/10.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>70012</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>name</key>
		<string>大兔吉</string>
		<key>desc</key>
		<string>    萝卜萝卜大萝卜</string>
		<key>icon</key>
		<string>clothes/11.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>70013</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>name</key>
		<string>太空宝宝</string>
		<key>desc</key>
		<string>哔哔哔~火箭起灰</string>
		<key>icon</key>
		<string>clothes/12.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>70014</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>name</key>
		<string>猫女伊娃</string>
		<key>desc</key>
		<string>喵~喵喵喵~喵喵喵</string>
		<key>icon</key>
		<string>clothes/15.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>70015</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>name</key>
		<string>小苹果</string>
		<key>desc</key>
		<string>你是我的小呀小苹果</string>
		<key>icon</key>
		<string>clothes/14.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>70016</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>name</key>
		<string>潮妹伊娃</string>
		<key>desc</key>
		<string>    欧巴~撒拉嘿呦</string>
		<key>icon</key>
		<string>clothes/16.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>70017</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>name</key>
		<string>海蓝蓝</string>
		<key>desc</key>
		<string>    天蓝蓝~海蓝蓝</string>
		<key>icon</key>
		<string>clothes/13.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>1</integer>
	</dict>
	<key>100001</key>
	<dict>
		<key>type</key>
		<integer>5</integer>
		<key>name</key>
		<string>金币</string>
		<key>desc</key>
		<string>    金灿灿的一坨儿金币</string>
		<key>icon</key>
		<string>image/Gold_1.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>0</integer>
	</dict>
	<key>100002</key>
	<dict>
		<key>type</key>
		<integer>5</integer>
		<key>name</key>
		<string>英雄之魂</string>
		<key>desc</key>
		<string>    蓝幽幽的一坨儿英雄之魂</string>
		<key>icon</key>
		<string>image/soul_1.png</string>
		<key>value</key>
		<integer>0</integer>
		<key>isUse</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
