<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1001</key>
	<dict>
		<key>item1</key>
		<dict>
			<key>id</key>
			<string>100001</string>
			<key>name</key>
			<string>一坨儿金币</string>
			<key>count</key>
			<string>700</string>
			<key>percent</key>
			<string>0.33</string>
		</dict>
		<key>item2</key>
		<dict>
			<key>id</key>
			<string>30001</string>
			<key>name</key>
			<string>一坨儿进阶蛋</string>
			<key>count</key>
			<string>20</string>
			<key>percent</key>
			<string>0.04</string>
		</dict>
		<key>item3</key>
		<dict>
			<key>id</key>
			<string>100002</string>
			<key>name</key>
			<string>一坨儿英雄之魂</string>
			<key>count</key>
			<string>40</string>
			<key>percent</key>
			<string>0.04</string>
		</dict>
		<key>item4</key>
		<dict>
			<key>id</key>
			<string>30002</string>
			<key>name</key>
			<string>一坨儿祝福蛋</string>
			<key>count</key>
			<string>2</string>
			<key>percent</key>
			<string>0.03</string>
		</dict>
		<key>item5</key>
		<dict>
			<key>id</key>
			<string>20001</string>
			<key>name</key>
			<string>一坨儿攻击魔法</string>
			<key>count</key>
			<string>1</string>
			<key>percent</key>
			<string>0.08</string>
		</dict>
		<key>item6</key>
		<dict>
			<key>id</key>
			<string>20002</string>
			<key>name</key>
			<string>一坨儿变羊魔法</string>
			<key>count</key>
			<string>1</string>
			<key>percent</key>
			<string>0.08</string>
		</dict>
		<key>item7</key>
		<dict>
			<key>id</key>
			<string>20003</string>
			<key>name</key>
			<string>一坨儿传送门魔法</string>
			<key>count</key>
			<string>1</string>
			<key>percent</key>
			<string>0.08</string>
		</dict>
		<key>item8</key>
		<dict>
			<key>id</key>
			<string>20004</string>
			<key>name</key>
			<string>一坨儿召唤魔法</string>
			<key>count</key>
			<string>1</string>
			<key>percent</key>
			<string>0.08</string>
		</dict>
		<key>item9</key>
		<dict>
			<key>id</key>
			<string>10001</string>
			<key>name</key>
			<string>一坨儿草莓糖</string>
			<key>count</key>
			<string>1</string>
			<key>percent</key>
			<string>0.08</string>
		</dict>
		<key>item10</key>
		<dict>
			<key>id</key>
			<string>10002</string>
			<key>name</key>
			<string>一坨儿薄荷糖</string>
			<key>count</key>
			<string>1</string>
			<key>percent</key>
			<string>0.08</string>
		</dict>
		<key>item11</key>
		<dict>
			<key>id</key>
			<string>10003</string>
			<key>name</key>
			<string>一坨儿柠檬糖</string>
			<key>count</key>
			<string>1</string>
			<key>percent</key>
			<string>0.08</string>
		</dict>
	</dict>
	<key>1002</key>
	<dict>
		<key>item1</key>
		<dict>
			<key>id</key>
			<string>100001</string>
			<key>name</key>
			<string>一坨儿金币</string>
			<key>count</key>
			<string>1200</string>
			<key>percent</key>
			<string>0.17</string>
		</dict>
		<key>item2</key>
		<dict>
			<key>id</key>
			<string>30001</string>
			<key>name</key>
			<string>一坨儿进阶蛋</string>
			<key>count</key>
			<string>40</string>
			<key>percent</key>
			<string>0.12</string>
		</dict>
		<key>item3</key>
		<dict>
			<key>id</key>
			<string>100002</string>
			<key>name</key>
			<string>一坨儿英雄之魂</string>
			<key>count</key>
			<string>80</string>
			<key>percent</key>
			<string>0.12</string>
		</dict>
		<key>item4</key>
		<dict>
			<key>id</key>
			<string>30002</string>
			<key>name</key>
			<string>一坨儿祝福蛋</string>
			<key>count</key>
			<string>4</string>
			<key>percent</key>
			<string>0.1</string>
		</dict>
		<key>item5</key>
		<dict>
			<key>id</key>
			<string>20001</string>
			<key>name</key>
			<string>一坨儿攻击魔法</string>
			<key>count</key>
			<string>2</string>
			<key>percent</key>
			<string>0.07</string>
		</dict>
		<key>item6</key>
		<dict>
			<key>id</key>
			<string>20002</string>
			<key>name</key>
			<string>一坨儿变羊魔法</string>
			<key>count</key>
			<string>2</string>
			<key>percent</key>
			<string>0.07</string>
		</dict>
		<key>item7</key>
		<dict>
			<key>id</key>
			<string>20003</string>
			<key>name</key>
			<string>一坨儿传送门魔法</string>
			<key>count</key>
			<string>2</string>
			<key>percent</key>
			<string>0.07</string>
		</dict>
		<key>item8</key>
		<dict>
			<key>id</key>
			<string>20004</string>
			<key>name</key>
			<string>一坨儿召唤魔法</string>
			<key>count</key>
			<string>2</string>
			<key>percent</key>
			<string>0.07</string>
		</dict>
		<key>item9</key>
		<dict>
			<key>id</key>
			<string>10001</string>
			<key>name</key>
			<string>一坨儿草莓糖</string>
			<key>count</key>
			<string>2</string>
			<key>percent</key>
			<string>0.07</string>
		</dict>
		<key>item10</key>
		<dict>
			<key>id</key>
			<string>10002</string>
			<key>name</key>
			<string>一坨儿薄荷糖</string>
			<key>count</key>
			<string>2</string>
			<key>percent</key>
			<string>0.07</string>
		</dict>
		<key>item11</key>
		<dict>
			<key>id</key>
			<string>10003</string>
			<key>name</key>
			<string>一坨儿柠檬糖</string>
			<key>count</key>
			<string>2</string>
			<key>percent</key>
			<string>0.07</string>
		</dict>
	</dict>
	<key>1003</key>
	<dict>
		<key>item1</key>
		<dict>
			<key>id</key>
			<string>20001</string>
			<key>name</key>
			<string>106特殊小兵掉落_攻击魔法</string>
			<key>count</key>
			<string>1</string>
			<key>percent</key>
			<string>0.3</string>
		</dict>
		<key>item2</key>
		<dict>
			<key>id</key>
			<string>20002</string>
			<key>name</key>
			<string>106特殊小兵掉落_变羊魔法</string>
			<key>count</key>
			<string>1</string>
			<key>percent</key>
			<string>0.3</string>
		</dict>
		<key>item3</key>
		<dict>
			<key>id</key>
			<string>20003</string>
			<key>name</key>
			<string>106特殊小兵掉落_传送门魔法</string>
			<key>count</key>
			<string>1</string>
			<key>percent</key>
			<string>0.3</string>
		</dict>
		<key>item4</key>
		<dict>
			<key>id</key>
			<string>20004</string>
			<key>name</key>
			<string>106特殊小兵掉落_召唤魔法</string>
			<key>count</key>
			<string>1</string>
			<key>percent</key>
			<string>0.1</string>
		</dict>
	</dict>
</dict>
</plist>
