<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>war1</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>2</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.15</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>60</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>600</string>
			<key>sellOutMoney</key>
			<string>50</string>
			<key>upgradeMoney</key>
			<string>200</string>
			<key>callMoney</key>
			<string>100</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>2</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.20</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>80</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>700</string>
			<key>sellOutMoney</key>
			<string>50</string>
			<key>upgradeMoney</key>
			<string>300</string>
			<key>callMoney</key>
			<string>100</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>2</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.25</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>100</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>800</string>
			<key>sellOutMoney</key>
			<string>50</string>
			<key>upgradeMoney</key>
			<string>400</string>
			<key>callMoney</key>
			<string>100</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>2</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.3</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>120</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>900</string>
			<key>sellOutMoney</key>
			<string>50</string>
			<key>upgradeMoney</key>
			<string>500</string>
			<key>callMoney</key>
			<string>100</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>2</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.35</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>140</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>1000</string>
			<key>sellOutMoney</key>
			<string>50</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>100</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>war2</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>2</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0.07</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>120</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>3</string>
			<key>maxHp</key>
			<string>300</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>200</string>
			<key>callMoney</key>
			<string>150</string>
			<key>unlockMoney</key>
			<string>100</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>2</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0.09</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>140</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>3</string>
			<key>maxHp</key>
			<string>400</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>300</string>
			<key>callMoney</key>
			<string>150</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>2</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0.11</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>160</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>3</string>
			<key>maxHp</key>
			<string>500</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>400</string>
			<key>callMoney</key>
			<string>150</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>2</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0.13</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>180</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>3</string>
			<key>maxHp</key>
			<string>600</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>500</string>
			<key>callMoney</key>
			<string>150</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>2</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0.15</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>200</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>3</string>
			<key>maxHp</key>
			<string>700</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>150</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>war3</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>5</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.4</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>20</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>1600</string>
			<key>sellOutMoney</key>
			<string>150</string>
			<key>upgradeMoney</key>
			<string>400</string>
			<key>callMoney</key>
			<string>300</string>
			<key>unlockMoney</key>
			<string>200</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>5</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.5</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>40</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>1700</string>
			<key>sellOutMoney</key>
			<string>150</string>
			<key>upgradeMoney</key>
			<string>500</string>
			<key>callMoney</key>
			<string>300</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>5</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.6</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>60</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>1800</string>
			<key>sellOutMoney</key>
			<string>150</string>
			<key>upgradeMoney</key>
			<string>600</string>
			<key>callMoney</key>
			<string>300</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>5</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.7</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>80</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>1900</string>
			<key>sellOutMoney</key>
			<string>150</string>
			<key>upgradeMoney</key>
			<string>700</string>
			<key>callMoney</key>
			<string>300</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>5</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.8</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>100</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>2000</string>
			<key>sellOutMoney</key>
			<string>150</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>300</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>war4</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>2</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.15</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>60</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>2</string>
			<key>maxHp</key>
			<string>600</string>
			<key>sellOutMoney</key>
			<string>100</string>
			<key>upgradeMoney</key>
			<string>300</string>
			<key>callMoney</key>
			<string>200</string>
			<key>unlockMoney</key>
			<string>500</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>2</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.20</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>80</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>2</string>
			<key>maxHp</key>
			<string>700</string>
			<key>sellOutMoney</key>
			<string>100</string>
			<key>upgradeMoney</key>
			<string>400</string>
			<key>callMoney</key>
			<string>200</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>2</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.25</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>100</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>2</string>
			<key>maxHp</key>
			<string>800</string>
			<key>sellOutMoney</key>
			<string>100</string>
			<key>upgradeMoney</key>
			<string>500</string>
			<key>callMoney</key>
			<string>200</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>2</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.30</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>120</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>2</string>
			<key>maxHp</key>
			<string>900</string>
			<key>sellOutMoney</key>
			<string>100</string>
			<key>upgradeMoney</key>
			<string>600</string>
			<key>callMoney</key>
			<string>200</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>2</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.35</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>140</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>2</string>
			<key>maxHp</key>
			<string>1000</string>
			<key>sellOutMoney</key>
			<string>100</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>200</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>war5</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>15</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>300</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>100</string>
			<key>sellOutMoney</key>
			<string>175</string>
			<key>upgradeMoney</key>
			<string>400</string>
			<key>callMoney</key>
			<string>350</string>
			<key>unlockMoney</key>
			<string>1000</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>15</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>400</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>150</string>
			<key>sellOutMoney</key>
			<string>175</string>
			<key>upgradeMoney</key>
			<string>500</string>
			<key>callMoney</key>
			<string>350</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>15</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>500</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>200</string>
			<key>sellOutMoney</key>
			<string>175</string>
			<key>upgradeMoney</key>
			<string>600</string>
			<key>callMoney</key>
			<string>350</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>15</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>600</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>250</string>
			<key>sellOutMoney</key>
			<string>175</string>
			<key>upgradeMoney</key>
			<string>700</string>
			<key>callMoney</key>
			<string>350</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>15</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>700</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>300</string>
			<key>sellOutMoney</key>
			<string>175</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>350</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
</dict>
</plist>
