<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prompt2</key>
	<string>金币不足，请购买</string>
	<key>prompt1</key>
	<string>确定要购买吗？</string>
	<key>war</key>
	<dict>
		<key>type1</key>
		<dict>
			<key>unit_id</key>
			<string>war1</string>
			<key>lock</key>
			<string>0</string>
			<key>price</key>
			<string>100</string>
			<key>selected</key>
			<string>0</string>
			<key>name</key>
			<string>小虾米</string>
		</dict>
		<key>type2</key>
		<dict>
			<key>unit_id</key>
			<string>war2</string>
			<key>lock</key>
			<string>1</string>
			<key>price</key>
			<string>1000</string>
			<key>selected</key>
			<string>0</string>
			<key>name</key>
			<string>小虾米</string>
		</dict>
		<key>type3</key>
		<dict>
			<key>unit_id</key>
			<string>war3</string>
			<key>lock</key>
			<string>1</string>
			<key>price</key>
			<string>1000</string>
			<key>selected</key>
			<string>0</string>
			<key>name</key>
			<string>小虾米</string>
		</dict>
		<key>type4</key>
		<dict>
			<key>unit_id</key>
			<string>war4</string>
			<key>lock</key>
			<string>1</string>
			<key>price</key>
			<string>1000</string>
			<key>selected</key>
			<string>0</string>
			<key>name</key>
			<string>小虾米</string>
		</dict>
		<key>type5</key>
		<dict>
			<key>unit_id</key>
			<string>war5</string>
			<key>lock</key>
			<string>1</string>
			<key>price</key>
			<string>1000</string>
			<key>selected</key>
			<string>0</string>
			<key>name</key>
			<string>小虾米</string>
		</dict>
	</dict>
	<key>tower</key>
	<dict>
		<key>type1</key>
		<dict>
			<key>unit_id</key>
			<string>war1</string>
			<key>lock</key>
			<string>1</string>
			<key>price</key>
			<string>1000</string>
			<key>selected</key>
			<string>0</string>
			<key>name</key>
			<string>小虾米</string>
		</dict>
		<key>type2</key>
		<dict>
			<key>unit_id</key>
			<string>war1</string>
			<key>lock</key>
			<string>1</string>
			<key>price</key>
			<string>1000</string>
			<key>selected</key>
			<string>0</string>
			<key>name</key>
			<string>小虾米</string>
		</dict>
		<key>type3</key>
		<dict>
			<key>unit_id</key>
			<string>war1</string>
			<key>lock</key>
			<string>1</string>
			<key>price</key>
			<string>1000</string>
			<key>selected</key>
			<string>0</string>
			<key>name</key>
			<string>小虾米</string>
		</dict>
		<key>type4</key>
		<dict>
			<key>unit_id</key>
			<string>war1</string>
			<key>lock</key>
			<string>1</string>
			<key>price</key>
			<string>1000</string>
			<key>selected</key>
			<string>0</string>
			<key>name</key>
			<string>小虾米</string>
		</dict>
		<key>type5</key>
		<dict>
			<key>unit_id</key>
			<string>war1</string>
			<key>lock</key>
			<string>1</string>
			<key>price</key>
			<string>1000</string>
			<key>selected</key>
			<string>0</string>
			<key>name</key>
			<string>小虾米</string>
		</dict>
	</dict>
	<key>trap</key>
	<dict>
		<key>type1</key>
		<dict>
			<key>unit_id</key>
			<string>boss1</string>
			<key>lock</key>
			<string>1</string>
			<key>price</key>
			<string>1000</string>
			<key>selected</key>
			<string>0</string>
			<key>name</key>
			<string>小虾米</string>
		</dict>
		<key>type2</key>
		<dict>
			<key>unit_id</key>
			<string>boss2</string>
			<key>lock</key>
			<string>1</string>
			<key>price</key>
			<string>1000</string>
			<key>selected</key>
			<string>0</string>
			<key>name</key>
			<string>小虾米</string>
		</dict>
		<key>type3</key>
		<dict>
			<key>unit_id</key>
			<string>boss3</string>
			<key>lock</key>
			<string>1</string>
			<key>price</key>
			<string>1000</string>
			<key>selected</key>
			<string>0</string>
			<key>name</key>
			<string>小虾米</string>
		</dict>
		<key>type4</key>
		<dict>
			<key>unit_id</key>
			<string>boss4</string>
			<key>lock</key>
			<string>1</string>
			<key>price</key>
			<string>1000</string>
			<key>selected</key>
			<string>0</string>
			<key>name</key>
			<string>小虾米</string>
		</dict>
		<key>type5</key>
		<dict>
			<key>unit_id</key>
			<string>boss5</string>
			<key>lock</key>
			<string>1</string>
			<key>price</key>
			<string>1000</string>
			<key>selected</key>
			<string>0</string>
			<key>name</key>
			<string>小虾米</string>
		</dict>
		<key>type6</key>
		<dict>
			<key>unit_id</key>
			<string>boss1</string>
			<key>lock</key>
			<string>1</string>
			<key>price</key>
			<string>1000</string>
			<key>selected</key>
			<string>0</string>
			<key>name</key>
			<string>小虾米</string>
		</dict>
	</dict>
</dict>
</plist>
