<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sweet</key>
	<dict>
		<key>itemCount</key>
		<string>9</string>
		<key>item1</key>
		<dict>
			<key>shopId</key>
			<string>1</string>
			<key>itemID</key>
			<string>10001</string>
			<key>name</key>
			<string>草莓糖1个</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>  在30秒内提高糖果_n  采集效率200%</string>
			<key>price</key>
			<string>800</string>
			<key>payType</key>
			<string>1</string>
			<key>itemIcon</key>
			<string>image/UI_zjm_012.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item2</key>
		<dict>
			<key>shopId</key>
			<string>2</string>
			<key>itemID</key>
			<string>10001</string>
			<key>name</key>
			<string>草莓糖3个</string>
			<key>count</key>
			<string>3</string>
			<key>introduce</key>
			<string>  在30秒内提高糖果_n  采集效率200%</string>
			<key>price</key>
			<string>2400</string>
			<key>payType</key>
			<string>1</string>
			<key>itemIcon</key>
			<string>image/UI_zjm_012.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item3</key>
		<dict>
			<key>shopId</key>
			<string>3</string>
			<key>itemID</key>
			<string>10001</string>
			<key>name</key>
			<string>草莓糖5个</string>
			<key>count</key>
			<string>5</string>
			<key>introduce</key>
			<string>  在30秒内提高糖果_n  采集效率200%</string>
			<key>price</key>
			<string>4000</string>
			<key>payType</key>
			<string>1</string>
			<key>itemIcon</key>
			<string>image/UI_zjm_012.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item4</key>
		<dict>
			<key>shopId</key>
			<string>4</string>
			<key>itemID</key>
			<string>10002</string>
			<key>name</key>
			<string>薄荷糖1个</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string> 使用后立刻获得3000_n 糖果币</string>
			<key>price</key>
			<string>400</string>
			<key>payType</key>
			<string>1</string>
			<key>itemIcon</key>
			<string>image/UI_zjm_013.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item5</key>
		<dict>
			<key>shopId</key>
			<string>5</string>
			<key>itemID</key>
			<string>10002</string>
			<key>name</key>
			<string>薄荷糖3个</string>
			<key>count</key>
			<string>3</string>
			<key>introduce</key>
			<string> 使用后立刻获得3000_n 糖果币</string>
			<key>price</key>
			<string>1200</string>
			<key>payType</key>
			<string>1</string>
			<key>itemIcon</key>
			<string>image/UI_zjm_013.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item6</key>
		<dict>
			<key>shopId</key>
			<string>6</string>
			<key>itemID</key>
			<string>10002</string>
			<key>name</key>
			<string>薄荷糖5个</string>
			<key>count</key>
			<string>5</string>
			<key>introduce</key>
			<string> 使用后立刻获得3000_n 糖果币</string>
			<key>price</key>
			<string>2000</string>
			<key>payType</key>
			<string>1</string>
			<key>itemIcon</key>
			<string>image/UI_zjm_013.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item7</key>
		<dict>
			<key>shopId</key>
			<string>7</string>
			<key>itemID</key>
			<string>10003</string>
			<key>name</key>
			<string>柠檬糖1个</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>  在10秒内所有单位_n  价格降为10，并且_n  没有部署冷却时间</string>
			<key>price</key>
			<string>1200</string>
			<key>payType</key>
			<string>1</string>
			<key>itemIcon</key>
			<string>image/UI_zjm_014.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item8</key>
		<dict>
			<key>shopId</key>
			<string>8</string>
			<key>itemID</key>
			<string>10003</string>
			<key>name</key>
			<string>柠檬糖3个</string>
			<key>count</key>
			<string>3</string>
			<key>introduce</key>
			<string>  在10秒内所有单位_n  价格降为10，并且_n  没有部署冷却时间</string>
			<key>price</key>
			<string>3600</string>
			<key>payType</key>
			<string>1</string>
			<key>itemIcon</key>
			<string>image/UI_zjm_014.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item9</key>
		<dict>
			<key>shopId</key>
			<string>9</string>
			<key>itemID</key>
			<string>10003</string>
			<key>name</key>
			<string>柠檬糖5个</string>
			<key>count</key>
			<string>5</string>
			<key>introduce</key>
			<string>  在10秒内所有单位_n  价格降为10，并且_n  没有部署冷却时间</string>
			<key>price</key>
			<string>6000</string>
			<key>payType</key>
			<string>1</string>
			<key>itemIcon</key>
			<string>image/UI_zjm_014.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Magic</key>
	<dict>
		<key>itemCount</key>
		<string>12</string>
		<key>item1</key>
		<dict>
			<key>shopId</key>
			<string>10</string>
			<key>itemID</key>
			<string>20001</string>
			<key>name</key>
			<string>攻击魔法1个</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>  召唤闪电攻击敌人</string>
			<key>price</key>
			<string>8</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/icon_magic1.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item2</key>
		<dict>
			<key>shopId</key>
			<string>11</string>
			<key>itemID</key>
			<string>20001</string>
			<key>name</key>
			<string>攻击魔法3个</string>
			<key>count</key>
			<string>3</string>
			<key>introduce</key>
			<string>  召唤闪电攻击敌人</string>
			<key>price</key>
			<string>24</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/icon_magic1.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item3</key>
		<dict>
			<key>shopId</key>
			<string>12</string>
			<key>itemID</key>
			<string>20001</string>
			<key>name</key>
			<string>攻击魔法5个</string>
			<key>count</key>
			<string>5</string>
			<key>introduce</key>
			<string>  召唤闪电攻击敌人</string>
			<key>price</key>
			<string>40</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/icon_magic1.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item4</key>
		<dict>
			<key>shopId</key>
			<string>13</string>
			<key>itemID</key>
			<string>20002</string>
			<key>name</key>
			<string>变羊魔法1个</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>  将敌人变成温顺的_n  小绵阳</string>
			<key>price</key>
			<string>8</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/icon_magic2.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item5</key>
		<dict>
			<key>shopId</key>
			<string>14</string>
			<key>itemID</key>
			<string>20002</string>
			<key>name</key>
			<string>变羊魔法3个</string>
			<key>count</key>
			<string>3</string>
			<key>introduce</key>
			<string>  将敌人变成温顺的_n  小绵阳</string>
			<key>price</key>
			<string>24</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/icon_magic2.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item6</key>
		<dict>
			<key>shopId</key>
			<string>15</string>
			<key>itemID</key>
			<string>20002</string>
			<key>name</key>
			<string>变羊魔法5个</string>
			<key>count</key>
			<string>5</string>
			<key>introduce</key>
			<string>  将敌人变成温顺的_n  小绵阳</string>
			<key>price</key>
			<string>40</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/icon_magic2.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item7</key>
		<dict>
			<key>shopId</key>
			<string>16</string>
			<key>itemID</key>
			<string>20003</string>
			<key>name</key>
			<string>传送门魔法1个</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>  开启一个传送门，_n  把敌人传送到地表</string>
			<key>price</key>
			<string>8</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/icon_magic3.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item8</key>
		<dict>
			<key>shopId</key>
			<string>17</string>
			<key>itemID</key>
			<string>20003</string>
			<key>name</key>
			<string>传送门魔法3个</string>
			<key>count</key>
			<string>3</string>
			<key>introduce</key>
			<string>  开启一个传送门，_n  把敌人传送到地表</string>
			<key>price</key>
			<string>24</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/icon_magic3.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item9</key>
		<dict>
			<key>shopId</key>
			<string>18</string>
			<key>itemID</key>
			<string>20003</string>
			<key>name</key>
			<string>传送门魔法5个</string>
			<key>count</key>
			<string>5</string>
			<key>introduce</key>
			<string>  开启一个传送门，_n  把敌人传送到地表</string>
			<key>price</key>
			<string>40</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/icon_magic3.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item10</key>
		<dict>
			<key>shopId</key>
			<string>19</string>
			<key>itemID</key>
			<string>20004</string>
			<key>name</key>
			<string>召唤魔法1个</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>  召唤强大的哥斯拉_n  帮助作战</string>
			<key>price</key>
			<string>24</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/icon_magic4.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item11</key>
		<dict>
			<key>shopId</key>
			<string>20</string>
			<key>itemID</key>
			<string>20004</string>
			<key>name</key>
			<string>召唤魔法3个</string>
			<key>count</key>
			<string>3</string>
			<key>introduce</key>
			<string>  召唤强大的哥斯拉_n  帮助作战</string>
			<key>price</key>
			<string>72</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/icon_magic4.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item12</key>
		<dict>
			<key>shopId</key>
			<string>21</string>
			<key>itemID</key>
			<string>20004</string>
			<key>name</key>
			<string>召唤魔法5个</string>
			<key>count</key>
			<string>5</string>
			<key>introduce</key>
			<string>  召唤强大的哥斯拉_n  帮助作战</string>
			<key>price</key>
			<string>120</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/icon_magic4.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Material</key>
	<dict>
		<key>itemCount</key>
		<string>8</string>
		<key>item1</key>
		<dict>
			<key>shopId</key>
			<string>22</string>
			<key>itemID</key>
			<string>30001</string>
			<key>name</key>
			<string>进阶蛋2个</string>
			<key>count</key>
			<string>2</string>
			<key>introduce</key>
			<string>  英雄进阶所需材料</string>
			<key>price</key>
			<string>6</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/shop_Egg_UpStar.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item2</key>
		<dict>
			<key>shopId</key>
			<string>23</string>
			<key>itemID</key>
			<string>30001</string>
			<key>name</key>
			<string>进阶蛋5个</string>
			<key>count</key>
			<string>5</string>
			<key>introduce</key>
			<string>  英雄进阶所需材料</string>
			<key>price</key>
			<string>15</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/shop_Egg_UpStar.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item3</key>
		<dict>
			<key>shopId</key>
			<string>24</string>
			<key>itemID</key>
			<string>30001</string>
			<key>name</key>
			<string>进阶蛋10个</string>
			<key>count</key>
			<string>10</string>
			<key>introduce</key>
			<string>  英雄进阶所需材料</string>
			<key>price</key>
			<string>30</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/shop_Egg_UpStar.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item4</key>
		<dict>
			<key>shopId</key>
			<string>25</string>
			<key>itemID</key>
			<string>30001</string>
			<key>name</key>
			<string>进阶蛋50个</string>
			<key>count</key>
			<string>50</string>
			<key>introduce</key>
			<string>  英雄进阶所需材料</string>
			<key>price</key>
			<string>150</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/shop_Egg_UpStar.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item5</key>
		<dict>
			<key>shopId</key>
			<string>26</string>
			<key>itemID</key>
			<string>30001</string>
			<key>name</key>
			<string>进阶蛋100个</string>
			<key>count</key>
			<string>100</string>
			<key>introduce</key>
			<string>  英雄进阶所需材料</string>
			<key>price</key>
			<string>300</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/shop_Egg_UpStar.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item6</key>
		<dict>
			<key>shopId</key>
			<string>27</string>
			<key>itemID</key>
			<string>30001</string>
			<key>name</key>
			<string>进阶蛋500个</string>
			<key>count</key>
			<string>500</string>
			<key>introduce</key>
			<string>  英雄进阶所需材料</string>
			<key>price</key>
			<string>1500</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/shop_Egg_UpStar.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item7</key>
		<dict>
			<key>shopId</key>
			<string>28</string>
			<key>itemID</key>
			<string>30001</string>
			<key>name</key>
			<string>进阶蛋1000个</string>
			<key>count</key>
			<string>1000</string>
			<key>introduce</key>
			<string>  英雄进阶所需材料</string>
			<key>price</key>
			<string>3000</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/shop_Egg_UpStar.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item8</key>
		<dict>
			<key>shopId</key>
			<string>29</string>
			<key>itemID</key>
			<string>30001</string>
			<key>name</key>
			<string>进阶蛋3000个</string>
			<key>count</key>
			<string>3000</string>
			<key>introduce</key>
			<string>  英雄进阶所需材料</string>
			<key>price</key>
			<string>9000</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/shop_Egg_UpStar.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Box</key>
	<dict>
		<key>itemCount</key>
		<string>2</string>
		<key>item1</key>
		<dict>
			<key>shopId</key>
			<string>30</string>
			<key>itemID</key>
			<string>40001</string>
			<key>name</key>
			<string>普通宝箱</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>  碰碰运气，看看能_n  够开出什么好东西</string>
			<key>price</key>
			<string>500</string>
			<key>payType</key>
			<string>1</string>
			<key>itemIcon</key>
			<string>image/Box_Normal.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item2</key>
		<dict>
			<key>shopId</key>
			<string>31</string>
			<key>itemID</key>
			<string>40002</string>
			<key>name</key>
			<string>高级宝箱</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>  碰碰运气，看看能_n  够开出什么好东西</string>
			<key>price</key>
			<string>1000</string>
			<key>payType</key>
			<string>1</string>
			<key>itemIcon</key>
			<string>image/Box_Randm.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Gold</key>
	<dict>
		<key>itemCount</key>
		<string>5</string>
		<key>item1</key>
		<dict>
			<key>shopId</key>
			<string>32</string>
			<key>itemID</key>
			<string>50001</string>
			<key>name</key>
			<string>一点金币</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>      兑换2500金币</string>
			<key>price</key>
			<string>50</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/Gold_1.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item2</key>
		<dict>
			<key>shopId</key>
			<string>33</string>
			<key>itemID</key>
			<string>50002</string>
			<key>name</key>
			<string>一小堆金币</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>      兑换5200金币</string>
			<key>price</key>
			<string>100</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/Gold_2.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item3</key>
		<dict>
			<key>shopId</key>
			<string>34</string>
			<key>itemID</key>
			<string>50003</string>
			<key>name</key>
			<string>一大堆金币</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>      兑换11000金币</string>
			<key>price</key>
			<string>200</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/Gold_3.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item4</key>
		<dict>
			<key>shopId</key>
			<string>35</string>
			<key>itemID</key>
			<string>50004</string>
			<key>name</key>
			<string>一麻袋金币</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>      兑换28000金币</string>
			<key>price</key>
			<string>500</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/Gold_4.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item5</key>
		<dict>
			<key>shopId</key>
			<string>36</string>
			<key>itemID</key>
			<string>50005</string>
			<key>name</key>
			<string>一大箱金币</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>      兑换88000金币</string>
			<key>price</key>
			<string>1500</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>image/Gold_5.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item6</key>
		<dict>
			<key>shopId</key>
			<string>37</string>
			<key>itemID</key>
			<string>60001</string>
			<key>name</key>
			<string>英雄之魂兑换1</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>    获得60英雄之魂</string>
			<key>price</key>
			<string>6</string>
			<key>payType</key>
			<string>3</string>
			<key>itemIcon</key>
			<string>image/soul_1.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item7</key>
		<dict>
			<key>shopId</key>
			<string>38</string>
			<key>itemID</key>
			<string>60002</string>
			<key>name</key>
			<string>英雄之魂兑换2</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>    获得190英雄之魂</string>
			<key>price</key>
			<string>18</string>
			<key>payType</key>
			<string>3</string>
			<key>itemIcon</key>
			<string>image/soul_2.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item8</key>
		<dict>
			<key>shopId</key>
			<string>39</string>
			<key>itemID</key>
			<string>60003</string>
			<key>name</key>
			<string>英雄之魂兑换3</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>    获得320英雄之魂</string>
			<key>price</key>
			<string>30</string>
			<key>payType</key>
			<string>3</string>
			<key>itemIcon</key>
			<string>image/soul_3.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item9</key>
		<dict>
			<key>shopId</key>
			<string>40</string>
			<key>itemID</key>
			<string>60004</string>
			<key>name</key>
			<string>英雄之魂兑换4</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>    获得750英雄之魂</string>
			<key>price</key>
			<string>68</string>
			<key>payType</key>
			<string>3</string>
			<key>itemIcon</key>
			<string>image/soul_4.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item10</key>
		<dict>
			<key>shopId</key>
			<string>41</string>
			<key>itemID</key>
			<string>60005</string>
			<key>name</key>
			<string>英雄之魂兑换5</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>   获得1890英雄之魂</string>
			<key>price</key>
			<string>168</string>
			<key>payType</key>
			<string>3</string>
			<key>itemIcon</key>
			<string>image/soul_5.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item11</key>
		<dict>
			<key>shopId</key>
			<string>42</string>
			<key>itemID</key>
			<string>60006</string>
			<key>name</key>
			<string>英雄之魂兑换6</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>   获得3800英雄之魂</string>
			<key>price</key>
			<string>328</string>
			<key>payType</key>
			<string>3</string>
			<key>itemIcon</key>
			<string>image/soul_6.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Soul</key>
	<dict>
		<key>itemCount</key>
		<string>5</string>
		<key>item1</key>
		<dict>
			<key>shopId</key>
			<string>37</string>
			<key>itemID</key>
			<string>60001</string>
			<key>name</key>
			<string>英雄之魂兑换1</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>    获得20英雄之魂</string>
			<key>price</key>
			<string>2</string>
			<key>payType</key>
			<string>3</string>
			<key>itemIcon</key>
			<string>image/soul_1.png</string>
			<key>payid</key>
			<string>30000844763701</string>
		</dict>
		<key>item2</key>
		<dict>
			<key>shopId</key>
			<string>38</string>
			<key>itemID</key>
			<string>60002</string>
			<key>name</key>
			<string>英雄之魂兑换2</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>    获得63英雄之魂</string>
			<key>price</key>
			<string>6</string>
			<key>payType</key>
			<string>3</string>
			<key>itemIcon</key>
			<string>image/soul_2.png</string>
			<key>payid</key>
			<string>30000844763702</string>
		</dict>
		<key>item3</key>
		<dict>
			<key>shopId</key>
			<string>39</string>
			<key>itemID</key>
			<string>60003</string>
			<key>name</key>
			<string>英雄之魂兑换3</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>    获得106英雄之魂</string>
			<key>price</key>
			<string>10</string>
			<key>payType</key>
			<string>3</string>
			<key>itemIcon</key>
			<string>image/soul_3.png</string>
			<key>payid</key>
			<string>30000844763703</string>
		</dict>
		<key>item4</key>
		<dict>
			<key>shopId</key>
			<string>40</string>
			<key>itemID</key>
			<string>60004</string>
			<key>name</key>
			<string>英雄之魂兑换4</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>    获得165英雄之魂</string>
			<key>price</key>
			<string>15</string>
			<key>payType</key>
			<string>3</string>
			<key>itemIcon</key>
			<string>image/soul_4.png</string>
			<key>payid</key>
			<string>30000844763704</string>
		</dict>
		<key>item5</key>
		<dict>
			<key>shopId</key>
			<string>41</string>
			<key>itemID</key>
			<string>60005</string>
			<key>name</key>
			<string>英雄之魂兑换5</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>   获得225英雄之魂</string>
			<key>price</key>
			<string>20</string>
			<key>payType</key>
			<string>3</string>
			<key>itemIcon</key>
			<string>image/soul_5.png</string>
			<key>payid</key>
			<string>30000844763705</string>
		</dict>
	</dict>
	<key>Clothes</key>
	<dict>
		<key>itemCount</key>
		<string>16</string>
		<key>item1</key>
		<dict>
			<key>shopId</key>
			<string>43</string>
			<key>itemID</key>
			<string>70002</string>
			<key>name</key>
			<string>英伦伊娃</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>  古德猫宁，买达令</string>
			<key>price</key>
			<string>1000</string>
			<key>payType</key>
			<string>1</string>
			<key>itemIcon</key>
			<string>clothes/1.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item2</key>
		<dict>
			<key>shopId</key>
			<string>44</string>
			<key>itemID</key>
			<string>70003</string>
			<key>name</key>
			<string>奇异果娃</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>      奇异果尊好次</string>
			<key>price</key>
			<string>1000</string>
			<key>payType</key>
			<string>1</string>
			<key>itemIcon</key>
			<string>clothes/2.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item3</key>
		<dict>
			<key>shopId</key>
			<string>45</string>
			<key>itemID</key>
			<string>70004</string>
			<key>name</key>
			<string>头盔妹妹</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>  舒克舒克开飞机的_n  舒克</string>
			<key>price</key>
			<string>1000</string>
			<key>payType</key>
			<string>1</string>
			<key>itemIcon</key>
			<string>clothes/3.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item4</key>
		<dict>
			<key>shopId</key>
			<string>46</string>
			<key>itemID</key>
			<string>70005</string>
			<key>name</key>
			<string>音乐伊娃</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>摩擦摩擦，是魔鬼的_n步伐</string>
			<key>price</key>
			<string>30</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>clothes/4.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item5</key>
		<dict>
			<key>shopId</key>
			<string>47</string>
			<key>itemID</key>
			<string>70006</string>
			<key>name</key>
			<string>小丑伊娃</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>    大爷给你乐一个</string>
			<key>price</key>
			<string>30</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>clothes/5.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item6</key>
		<dict>
			<key>shopId</key>
			<string>48</string>
			<key>itemID</key>
			<string>70007</string>
			<key>name</key>
			<string>牛仔仔</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>马儿快跑~~得儿~驾</string>
			<key>price</key>
			<string>30</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>clothes/6.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item7</key>
		<dict>
			<key>shopId</key>
			<string>49</string>
			<key>itemID</key>
			<string>70008</string>
			<key>name</key>
			<string>狮子头</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>    喵呜~~</string>
			<key>price</key>
			<string>30</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>clothes/7.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item8</key>
		<dict>
			<key>shopId</key>
			<string>50</string>
			<key>itemID</key>
			<string>70009</string>
			<key>name</key>
			<string>贵妇伊娃</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>    哦~杰克，我耐你</string>
			<key>price</key>
			<string>30</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>clothes/8.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item9</key>
		<dict>
			<key>shopId</key>
			<string>51</string>
			<key>itemID</key>
			<string>70010</string>
			<key>name</key>
			<string>呆萌龙龙</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>    吼~吼~吼</string>
			<key>price</key>
			<string>30</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>clothes/9.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item10</key>
		<dict>
			<key>shopId</key>
			<string>52</string>
			<key>itemID</key>
			<string>70011</string>
			<key>name</key>
			<string>神奇女侠</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>    叫我女王大人</string>
			<key>price</key>
			<string>30</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>clothes/10.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item11</key>
		<dict>
			<key>shopId</key>
			<string>53</string>
			<key>itemID</key>
			<string>70012</string>
			<key>name</key>
			<string>大兔吉</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>    萝卜萝卜大萝卜</string>
			<key>price</key>
			<string>30</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>clothes/11.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item12</key>
		<dict>
			<key>shopId</key>
			<string>54</string>
			<key>itemID</key>
			<string>70013</string>
			<key>name</key>
			<string>太空宝宝</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>    哔哔哔~火箭起灰</string>
			<key>price</key>
			<string>30</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>clothes/12.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item13</key>
		<dict>
			<key>shopId</key>
			<string>55</string>
			<key>itemID</key>
			<string>70014</string>
			<key>name</key>
			<string>猫女伊娃</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>喵~喵喵喵~喵喵喵喵</string>
			<key>price</key>
			<string>30</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>clothes/15.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item14</key>
		<dict>
			<key>shopId</key>
			<string>56</string>
			<key>itemID</key>
			<string>70015</string>
			<key>name</key>
			<string>小苹果</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>你是我的小呀小苹果</string>
			<key>price</key>
			<string>30</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>clothes/14.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item15</key>
		<dict>
			<key>shopId</key>
			<string>57</string>
			<key>itemID</key>
			<string>70016</string>
			<key>name</key>
			<string>潮妹伊娃</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>    欧巴~撒拉嘿呦</string>
			<key>price</key>
			<string>30</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>clothes/16.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
		<key>item16</key>
		<dict>
			<key>shopId</key>
			<string>58</string>
			<key>itemID</key>
			<string>70017</string>
			<key>name</key>
			<string>海蓝蓝</string>
			<key>count</key>
			<string>1</string>
			<key>introduce</key>
			<string>    天蓝蓝~海蓝蓝</string>
			<key>price</key>
			<string>30</string>
			<key>payType</key>
			<string>2</string>
			<key>itemIcon</key>
			<string>clothes/13.png</string>
			<key>payid</key>
			<string>0</string>
		</dict>
	</dict>
</dict>
</plist>
