<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tower1</key>
	<dict>
		<key>isComing</key>
		<string>0</string>
		<key>name</key>
		<string>糖果加农炮</string>
		<key>desc</key>
		<string>远程攻击敌人，升级后可以攻击后面的敌人_n最高级时可以对空</string>
		<key>level1</key>
		<dict>
			<key>tower_fly_atk</key>
			<string>0</string>
			<key>tower_targetNum</key>
			<string>0</string>
			<key>tower_Odds</key>
			<string>0</string>
			<key>tower_debuff_keepTme</key>
			<string>0</string>
			<key>tower_debuff_value</key>
			<string>0</string>
			<key>tower_cdTime</key>
			<string>0</string>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0.20</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>40</string>
			<key>atkOption</key>
			<string>2</string>
			<key>atkLenOption</key>
			<string>3</string>
			<key>maxHp</key>
			<string>300</string>
			<key>sellOutMoney</key>
			<string>100</string>
			<key>upgradeMoney</key>
			<string>500</string>
			<key>callMoney</key>
			<string>400</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>tower_fly_atk</key>
			<string>0</string>
			<key>tower_targetNum</key>
			<string>0</string>
			<key>tower_Odds</key>
			<string>0</string>
			<key>tower_debuff_keepTme</key>
			<string>0</string>
			<key>tower_debuff_value</key>
			<string>0</string>
			<key>tower_cdTime</key>
			<string>0</string>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0.25</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>50</string>
			<key>atkOption</key>
			<string>2</string>
			<key>atkLenOption</key>
			<string>3</string>
			<key>maxHp</key>
			<string>400</string>
			<key>sellOutMoney</key>
			<string>100</string>
			<key>upgradeMoney</key>
			<string>600</string>
			<key>callMoney</key>
			<string>400</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>tower_fly_atk</key>
			<string>20</string>
			<key>tower_targetNum</key>
			<string>0</string>
			<key>tower_Odds</key>
			<string>0</string>
			<key>tower_debuff_keepTme</key>
			<string>0</string>
			<key>tower_debuff_value</key>
			<string>0</string>
			<key>tower_cdTime</key>
			<string>0</string>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0.30</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>60</string>
			<key>atkOption</key>
			<string>2</string>
			<key>atkLenOption</key>
			<string>3</string>
			<key>maxHp</key>
			<string>500</string>
			<key>sellOutMoney</key>
			<string>100</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>400</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
	</dict>
	<key>tower2</key>
	<dict>
		<key>isComing</key>
		<string>0</string>
		<key>name</key>
		<string>旅行者一号</string>
		<key>desc</key>
		<string>将敌人拉入火箭带入太空，我们要去遥远的宇宙_n看看还有什么是我们的思密达</string>
		<key>level1</key>
		<dict>
			<key>tower_fly_atk</key>
			<string>0</string>
			<key>tower_targetNum</key>
			<string>0</string>
			<key>tower_Odds</key>
			<string>0</string>
			<key>tower_debuff_keepTme</key>
			<string>0</string>
			<key>tower_debuff_value</key>
			<string>0</string>
			<key>tower_cdTime</key>
			<string>30</string>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>15</string>
			<key>atkSpeed</key>
			<string>3</string>
			<key>dfe</key>
			<string>0.10</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>2000</string>
			<key>atkOption</key>
			<string>2</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>500</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>500</string>
			<key>callMoney</key>
			<string>350</string>
			<key>unlockMoney</key>
			<string>3000</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>tower_fly_atk</key>
			<string>0</string>
			<key>tower_targetNum</key>
			<string>0</string>
			<key>tower_Odds</key>
			<string>0</string>
			<key>tower_debuff_keepTme</key>
			<string>0</string>
			<key>tower_debuff_value</key>
			<string>0</string>
			<key>tower_cdTime</key>
			<string>20</string>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>15</string>
			<key>atkSpeed</key>
			<string>3</string>
			<key>dfe</key>
			<string>0.15</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>2000</string>
			<key>atkOption</key>
			<string>2</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>600</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>600</string>
			<key>callMoney</key>
			<string>340</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>tower_fly_atk</key>
			<string>0</string>
			<key>tower_targetNum</key>
			<string>0</string>
			<key>tower_Odds</key>
			<string>0</string>
			<key>tower_debuff_keepTme</key>
			<string>0</string>
			<key>tower_debuff_value</key>
			<string>0</string>
			<key>tower_cdTime</key>
			<string>10</string>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>15</string>
			<key>atkSpeed</key>
			<string>3</string>
			<key>dfe</key>
			<string>0.20</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>2000</string>
			<key>atkOption</key>
			<string>2</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>700</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>350</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
	</dict>
	<key>tower3</key>
	<dict>
		<key>isComing</key>
		<string>0</string>
		<key>name</key>
		<string>大块头</string>
		<key>desc</key>
		<string>抗揍的大胖墩，特别不怕打，哎呦~疼</string>
		<key>level1</key>
		<dict>
			<key>tower_fly_atk</key>
			<string>0</string>
			<key>tower_targetNum</key>
			<string>0</string>
			<key>tower_Odds</key>
			<string>0</string>
			<key>tower_debuff_keepTme</key>
			<string>0</string>
			<key>tower_debuff_value</key>
			<string>0</string>
			<key>tower_cdTime</key>
			<string>0</string>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>40</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.4</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>0</string>
			<key>atkLenOption</key>
			<string>0</string>
			<key>maxHp</key>
			<string>1000</string>
			<key>sellOutMoney</key>
			<string>150</string>
			<key>upgradeMoney</key>
			<string>600</string>
			<key>callMoney</key>
			<string>600</string>
			<key>unlockMoney</key>
			<string>5000</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>tower_fly_atk</key>
			<string>0</string>
			<key>tower_targetNum</key>
			<string>0</string>
			<key>tower_Odds</key>
			<string>0</string>
			<key>tower_debuff_keepTme</key>
			<string>0</string>
			<key>tower_debuff_value</key>
			<string>0</string>
			<key>tower_cdTime</key>
			<string>0</string>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>40</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.6</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>0</string>
			<key>atkLenOption</key>
			<string>0</string>
			<key>maxHp</key>
			<string>2000</string>
			<key>sellOutMoney</key>
			<string>150</string>
			<key>upgradeMoney</key>
			<string>700</string>
			<key>callMoney</key>
			<string>600</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>tower_fly_atk</key>
			<string>0</string>
			<key>tower_targetNum</key>
			<string>0</string>
			<key>tower_Odds</key>
			<string>0</string>
			<key>tower_debuff_keepTme</key>
			<string>0</string>
			<key>tower_debuff_value</key>
			<string>0</string>
			<key>tower_cdTime</key>
			<string>0</string>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>40</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.6</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>0</string>
			<key>atkLenOption</key>
			<string>0</string>
			<key>maxHp</key>
			<string>3000</string>
			<key>sellOutMoney</key>
			<string>150</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>600</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
	</dict>
	<key>tower4</key>
	<dict>
		<key>isComing</key>
		<string>0</string>
		<key>name</key>
		<string>大电扇</string>
		<key>desc</key>
		<string>呼~~~会将敌人吹得后退呦</string>
		<key>level1</key>
		<dict>
			<key>tower_fly_atk</key>
			<string>0</string>
			<key>tower_targetNum</key>
			<string>0</string>
			<key>tower_Odds</key>
			<string>0</string>
			<key>tower_debuff_keepTme</key>
			<string>0</string>
			<key>tower_debuff_value</key>
			<string>0</string>
			<key>tower_cdTime</key>
			<string>15</string>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>20</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.1</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>2</string>
			<key>atkLenOption</key>
			<string>2</string>
			<key>maxHp</key>
			<string>200</string>
			<key>sellOutMoney</key>
			<string>100</string>
			<key>upgradeMoney</key>
			<string>500</string>
			<key>callMoney</key>
			<string>400</string>
			<key>unlockMoney</key>
			<string>4000</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>tower_fly_atk</key>
			<string>0</string>
			<key>tower_targetNum</key>
			<string>0</string>
			<key>tower_Odds</key>
			<string>0</string>
			<key>tower_debuff_keepTme</key>
			<string>0</string>
			<key>tower_debuff_value</key>
			<string>0</string>
			<key>tower_cdTime</key>
			<string>15</string>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>20</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.15</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>2</string>
			<key>atkLenOption</key>
			<string>2</string>
			<key>maxHp</key>
			<string>300</string>
			<key>sellOutMoney</key>
			<string>100</string>
			<key>upgradeMoney</key>
			<string>600</string>
			<key>callMoney</key>
			<string>400</string>
			<key>unlockMoney</key>
			<string>4000</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>tower_fly_atk</key>
			<string>0</string>
			<key>tower_targetNum</key>
			<string>0</string>
			<key>tower_Odds</key>
			<string>0</string>
			<key>tower_debuff_keepTme</key>
			<string>0</string>
			<key>tower_debuff_value</key>
			<string>0</string>
			<key>tower_cdTime</key>
			<string>15</string>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>20</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.2</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>2</string>
			<key>atkLenOption</key>
			<string>2</string>
			<key>maxHp</key>
			<string>400</string>
			<key>sellOutMoney</key>
			<string>100</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>400</string>
			<key>unlockMoney</key>
			<string>4000</string>
		</dict>
	</dict>
	<key>tower5</key>
	<dict>
		<key>isComing</key>
		<string>0</string>
		<key>name</key>
		<string>电磁炮</string>
		<key>desc</key>
		<string>群体攻击的大杀器，一炮顶过去五炮</string>
		<key>level1</key>
		<dict>
			<key>tower_fly_atk</key>
			<string>0</string>
			<key>tower_targetNum</key>
			<string>0</string>
			<key>tower_Odds</key>
			<string>0</string>
			<key>tower_debuff_keepTme</key>
			<string>0</string>
			<key>tower_debuff_value</key>
			<string>0</string>
			<key>tower_cdTime</key>
			<string>5</string>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>50</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.1</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>200</string>
			<key>atkOption</key>
			<string>2</string>
			<key>atkLenOption</key>
			<string>3</string>
			<key>maxHp</key>
			<string>200</string>
			<key>sellOutMoney</key>
			<string>350</string>
			<key>upgradeMoney</key>
			<string>700</string>
			<key>callMoney</key>
			<string>700</string>
			<key>unlockMoney</key>
			<string>6000</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>tower_fly_atk</key>
			<string>0</string>
			<key>tower_targetNum</key>
			<string>0</string>
			<key>tower_Odds</key>
			<string>0</string>
			<key>tower_debuff_keepTme</key>
			<string>0</string>
			<key>tower_debuff_value</key>
			<string>0</string>
			<key>tower_cdTime</key>
			<string>5</string>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>50</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.15</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>300</string>
			<key>atkOption</key>
			<string>2</string>
			<key>atkLenOption</key>
			<string>3</string>
			<key>maxHp</key>
			<string>300</string>
			<key>sellOutMoney</key>
			<string>350</string>
			<key>upgradeMoney</key>
			<string>800</string>
			<key>callMoney</key>
			<string>700</string>
			<key>unlockMoney</key>
			<string>6000</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>tower_fly_atk</key>
			<string>0</string>
			<key>tower_targetNum</key>
			<string>0</string>
			<key>tower_Odds</key>
			<string>0</string>
			<key>tower_debuff_keepTme</key>
			<string>0</string>
			<key>tower_debuff_value</key>
			<string>0</string>
			<key>tower_cdTime</key>
			<string>5</string>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>50</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.2</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>400</string>
			<key>atkOption</key>
			<string>2</string>
			<key>atkLenOption</key>
			<string>3</string>
			<key>maxHp</key>
			<string>400</string>
			<key>sellOutMoney</key>
			<string>350</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>700</string>
			<key>unlockMoney</key>
			<string>6000</string>
		</dict>
	</dict>
</dict>
</plist>
