<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>trap1</key>
	<dict>
		<key>isComing</key>
		<string>0</string>
		<key>name</key>
		<string>切割机</string>
		<key>desc</key>
		<string>不怕疼就在上面走一走啊</string>
		<key>level1</key>
		<dict>
			<key>trap_targetNum</key>
			<string>10</string>
			<key>trap_keepTime</key>
			<string>0</string>
			<key>trap_buffValue</key>
			<string>0</string>
			<key>trap_CDTime</key>
			<string>0</string>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>atk</key>
			<string>40</string>
			<key>atkOption</key>
			<string>3</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>500</string>
			<key>callMoney</key>
			<string>300</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>trap_targetNum</key>
			<string>10</string>
			<key>trap_keepTime</key>
			<string>0</string>
			<key>trap_buffValue</key>
			<string>0</string>
			<key>trap_CDTime</key>
			<string>0</string>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>atk</key>
			<string>50</string>
			<key>atkOption</key>
			<string>3</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>600</string>
			<key>callMoney</key>
			<string>300</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>trap_targetNum</key>
			<string>10</string>
			<key>trap_keepTime</key>
			<string>0</string>
			<key>trap_buffValue</key>
			<string>0</string>
			<key>trap_CDTime</key>
			<string>0</string>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>atk</key>
			<string>60</string>
			<key>atkOption</key>
			<string>3</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>300</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
	</dict>
	<key>trap2</key>
	<dict>
		<key>isComing</key>
		<string>0</string>
		<key>name</key>
		<string>冰冻水晶</string>
		<key>desc</key>
		<string>将敌人冰封在冰块里动弹不得</string>
		<key>level1</key>
		<dict>
			<key>trap_targetNum</key>
			<string>3</string>
			<key>trap_keepTime</key>
			<string>8</string>
			<key>trap_buffValue</key>
			<string>0</string>
			<key>trap_CDTime</key>
			<string>12</string>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>3</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>sellOutMoney</key>
			<string>50</string>
			<key>upgradeMoney</key>
			<string>500</string>
			<key>callMoney</key>
			<string>200</string>
			<key>unlockMoney</key>
			<string>2000</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>trap_targetNum</key>
			<string>5</string>
			<key>trap_keepTime</key>
			<string>10</string>
			<key>trap_buffValue</key>
			<string>0</string>
			<key>trap_CDTime</key>
			<string>14</string>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>3</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>sellOutMoney</key>
			<string>50</string>
			<key>upgradeMoney</key>
			<string>600</string>
			<key>callMoney</key>
			<string>200</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>trap_targetNum</key>
			<string>8</string>
			<key>trap_keepTime</key>
			<string>12</string>
			<key>trap_buffValue</key>
			<string>0</string>
			<key>trap_CDTime</key>
			<string>16</string>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>3</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>sellOutMoney</key>
			<string>50</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>200</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
	</dict>
	<key>trap3</key>
	<dict>
		<key>isComing</key>
		<string>0</string>
		<key>name</key>
		<string>轰轰</string>
		<key>desc</key>
		<string>只要点击上面的小按钮就会猛烈的爆炸哟_n威力无比思密达</string>
		<key>level1</key>
		<dict>
			<key>trap_targetNum</key>
			<string>10</string>
			<key>trap_keepTime</key>
			<string>0</string>
			<key>trap_buffValue</key>
			<string>0</string>
			<key>trap_CDTime</key>
			<string>20</string>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>60</string>
			<key>atkSpeed</key>
			<string>0</string>
			<key>atk</key>
			<string>800</string>
			<key>atkOption</key>
			<string>3</string>
			<key>atkLenOption</key>
			<string>2</string>
			<key>sellOutMoney</key>
			<string>150</string>
			<key>upgradeMoney</key>
			<string>600</string>
			<key>callMoney</key>
			<string>600</string>
			<key>unlockMoney</key>
			<string>4000</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>trap_targetNum</key>
			<string>10</string>
			<key>trap_keepTime</key>
			<string>0</string>
			<key>trap_buffValue</key>
			<string>0</string>
			<key>trap_CDTime</key>
			<string>20</string>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>60</string>
			<key>atkSpeed</key>
			<string>0</string>
			<key>atk</key>
			<string>1000</string>
			<key>atkOption</key>
			<string>3</string>
			<key>atkLenOption</key>
			<string>2</string>
			<key>sellOutMoney</key>
			<string>150</string>
			<key>upgradeMoney</key>
			<string>700</string>
			<key>callMoney</key>
			<string>600</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>trap_targetNum</key>
			<string>10</string>
			<key>trap_keepTime</key>
			<string>0</string>
			<key>trap_buffValue</key>
			<string>0</string>
			<key>trap_CDTime</key>
			<string>20</string>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>60</string>
			<key>atkSpeed</key>
			<string>0</string>
			<key>atk</key>
			<string>1200</string>
			<key>atkOption</key>
			<string>3</string>
			<key>atkLenOption</key>
			<string>2</string>
			<key>sellOutMoney</key>
			<string>150</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>600</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
	</dict>
	<key>trap4</key>
	<dict>
		<key>isComing</key>
		<string>0</string>
		<key>name</key>
		<string>弹簧腿</string>
		<key>desc</key>
		<string>将敌人踹到上一层去，小样走你！</string>
		<key>level1</key>
		<dict>
			<key>trap_targetNum</key>
			<string></string>
			<key>trap_keepTime</key>
			<string>0</string>
			<key>trap_buffValue</key>
			<string>0</string>
			<key>trap_CDTime</key>
			<string>15</string>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>30</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>3</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>sellOutMoney</key>
			<string>50</string>
			<key>upgradeMoney</key>
			<string>500</string>
			<key>callMoney</key>
			<string>200</string>
			<key>unlockMoney</key>
			<string>3000</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>trap_targetNum</key>
			<string></string>
			<key>trap_keepTime</key>
			<string>0</string>
			<key>trap_buffValue</key>
			<string>0</string>
			<key>trap_CDTime</key>
			<string>10</string>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>30</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>3</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>sellOutMoney</key>
			<string>50</string>
			<key>upgradeMoney</key>
			<string>600</string>
			<key>callMoney</key>
			<string>200</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>trap_targetNum</key>
			<string>2</string>
			<key>trap_keepTime</key>
			<string>0</string>
			<key>trap_buffValue</key>
			<string>0</string>
			<key>trap_CDTime</key>
			<string>5</string>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>30</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>3</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>sellOutMoney</key>
			<string>50</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>200</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
	</dict>
	<key>trap5</key>
	<dict>
		<key>isComing</key>
		<string>0</string>
		<key>name</key>
		<string>冷气机</string>
		<key>desc</key>
		<string>用冷气将经过的敌人减速，呼~~~~好冷</string>
		<key>level1</key>
		<dict>
			<key>trap_targetNum</key>
			<string>10</string>
			<key>trap_keepTime</key>
			<string>6</string>
			<key>trap_buffValue</key>
			<string>0.3</string>
			<key>trap_CDTime</key>
			<string>0</string>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>3</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>500</string>
			<key>callMoney</key>
			<string>300</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>trap_targetNum</key>
			<string>10</string>
			<key>trap_keepTime</key>
			<string>8</string>
			<key>trap_buffValue</key>
			<string>0.4</string>
			<key>trap_CDTime</key>
			<string>0</string>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>3</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>600</string>
			<key>callMoney</key>
			<string>300</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>trap_targetNum</key>
			<string>10</string>
			<key>trap_keepTime</key>
			<string>10</string>
			<key>trap_buffValue</key>
			<string>0.5</string>
			<key>trap_CDTime</key>
			<string>0</string>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>3</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>300</string>
			<key>unlockMoney</key>
			<string>0</string>
		</dict>
	</dict>
</dict>
</plist>
