<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tech</key>
	<dict>
		<key>item1</key>
		<dict>
			<key>level1</key>
			<dict>
				<key>value</key>
				<string>2</string>
				<key>isSelect</key>
				<string>1</string>
				<key>needMoney</key>
				<string>4</string>
				<key>des</key>
				<string>增加两个糖果机工位</string>
			</dict>
			<key>level2</key>
			<dict>
				<key>value</key>
				<string>1000</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>6</string>
				<key>des</key>
				<string>糖果币上限增加1000</string>
			</dict>
			<key>level3</key>
			<dict>
				<key>value</key>
				<string>0.5</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>8</string>
				<key>des</key>
				<string>糖果机效率提高50%</string>
			</dict>
			<key>level4</key>
			<dict>
				<key>value</key>
				<string>1000</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>10</string>
				<key>des</key>
				<string>糖果币上限增加1000</string>
			</dict>
			<key>level5</key>
			<dict>
				<key>value</key>
				<string>3</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>12</string>
				<key>des</key>
				<string>增加三个糖果机工位</string>
			</dict>
		</dict>
		<key>item2</key>
		<dict>
			<key>level1</key>
			<dict>
				<key>value</key>
				<string>0.2</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>3</string>
				<key>des</key>
				<string>  哨塔防御增强20%</string>
			</dict>
			<key>level2</key>
			<dict>
				<key>value</key>
				<string>0.2</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>5</string>
				<key>des</key>
				<string>哨塔召唤价格减少20%</string>
			</dict>
			<key>level3</key>
			<dict>
				<key>value</key>
				<string>0.3</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>7</string>
				<key>des</key>
				<string>哨塔升级花费减少30%</string>
			</dict>
			<key>level4</key>
			<dict>
				<key>value</key>
				<string>0.3</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>9</string>
				<key>des</key>
				<string>哨塔召唤价格减少30%</string>
			</dict>
			<key>level5</key>
			<dict>
				<key>value</key>
				<string>0.3</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>11</string>
				<key>des</key>
				<string>  哨塔防御增强30%</string>
			</dict>
		</dict>
		<key>item3</key>
		<dict>
			<key>level1</key>
			<dict>
				<key>value</key>
				<string>0.1</string>
				<key>isSelect</key>
				<string>1</string>
				<key>needMoney</key>
				<string>3</string>
				<key>des</key>
				<string>陷阱升级花费减少10%</string>
			</dict>
			<key>level2</key>
			<dict>
				<key>value</key>
				<string>0.2</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>5</string>
				<key>des</key>
				<string>陷阱召唤价格减少20%</string>
			</dict>
			<key>level3</key>
			<dict>
				<key>value</key>
				<string>0.1</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>7</string>
				<key>des</key>
				<string>陷阱升级花费减少10%</string>
			</dict>
			<key>level4</key>
			<dict>
				<key>value</key>
				<string>0.3</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>9</string>
				<key>des</key>
				<string>陷阱召唤价格减少30%</string>
			</dict>
			<key>level5</key>
			<dict>
				<key>value</key>
				<string>0.1</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>11</string>
				<key>des</key>
				<string>陷阱升级花费减少10%</string>
			</dict>
		</dict>
		<key>item4</key>
		<dict>
			<key>level1</key>
			<dict>
				<key>value</key>
				<string>0.1</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>3</string>
				<key>des</key>
				<string>士兵升级花费减少10%</string>
			</dict>
			<key>level2</key>
			<dict>
				<key>value</key>
				<string>0.2</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>5</string>
				<key>des</key>
				<string>士兵召唤价格减少20%</string>
			</dict>
			<key>level3</key>
			<dict>
				<key>value</key>
				<string>0.1</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>7</string>
				<key>des</key>
				<string>士兵升级花费减少10%</string>
			</dict>
			<key>level4</key>
			<dict>
				<key>value</key>
				<string>0.3</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>9</string>
				<key>des</key>
				<string>士兵召唤价格减少30%</string>
			</dict>
			<key>level5</key>
			<dict>
				<key>value</key>
				<string>0.1</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>11</string>
				<key>des</key>
				<string>士兵升级花费减少10%</string>
			</dict>
		</dict>
		<key>item5</key>
		<dict>
			<key>level1</key>
			<dict>
				<key>value</key>
				<string>5</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>4</string>
				<key>des</key>
				<string>英雄复活时间减5秒</string>
			</dict>
			<key>level2</key>
			<dict>
				<key>value</key>
				<string>0.2</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>6</string>
				<key>des</key>
				<string>英雄复活所需糖果减_n少20%</string>
			</dict>
			<key>level3</key>
			<dict>
				<key>value</key>
				<string>0.5</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>8</string>
				<key>des</key>
				<string>英雄召唤价格减少50%</string>
			</dict>
			<key>level4</key>
			<dict>
				<key>value</key>
				<string>0.3</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>10</string>
				<key>des</key>
				<string>英雄复活所需糖果减_n少30%</string>
			</dict>
			<key>level5</key>
			<dict>
				<key>value</key>
				<string>10</string>
				<key>isSelect</key>
				<string>0</string>
				<key>needMoney</key>
				<string>12</string>
				<key>des</key>
				<string>英雄复活时间减10秒</string>
			</dict>
		</dict>
	</dict>
	<key>resetPointPrompt</key>
	<string>花费500金币重置已升级内容并_n返还所花费的星星</string>
	<key>resetPointPrice</key>
	<string>500</string>
</dict>
</plist>
