<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>war1</key>
	<dict>
		<key>isComing</key>
		<string>0</string>
		<key>name</key>
		<string>阿宝</string>
		<key>desc</key>
		<string>近距离与敌人作战，快使用大宝剑哼哼哈嘿</string>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.15</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>30</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>400</string>
			<key>sellOutMoney</key>
			<string>50</string>
			<key>upgradeMoney</key>
			<string>400</string>
			<key>callMoney</key>
			<string>200</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.20</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>40</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>600</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>500</string>
			<key>callMoney</key>
			<string>250</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.25</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>50</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>800</string>
			<key>sellOutMoney</key>
			<string>100</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>300</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>war2</key>
	<dict>
		<key>isComing</key>
		<string>0</string>
		<key>name</key>
		<string>水娃</string>
		<key>desc</key>
		<string>远距离射击敌人，啪~啪~啪</string>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0.07</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>60</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>3</string>
			<key>maxHp</key>
			<string>100</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>400</string>
			<key>callMoney</key>
			<string>300</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0.09</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>70</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>3</string>
			<key>maxHp</key>
			<string>200</string>
			<key>sellOutMoney</key>
			<string>100</string>
			<key>upgradeMoney</key>
			<string>500</string>
			<key>callMoney</key>
			<string>350</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0.11</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>80</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>3</string>
			<key>maxHp</key>
			<string>300</string>
			<key>sellOutMoney</key>
			<string>125</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>400</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>war3</key>
	<dict>
		<key>isComing</key>
		<string>0</string>
		<key>name</key>
		<string>科学小飞</string>
		<key>desc</key>
		<string>可以对空，也可以从空中向地面敌人发动攻击</string>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.15</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>20</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>300</string>
			<key>sellOutMoney</key>
			<string>50</string>
			<key>upgradeMoney</key>
			<string>400</string>
			<key>callMoney</key>
			<string>150</string>
			<key>unlockMoney</key>
			<string>2500</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.20</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>25</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>400</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>500</string>
			<key>callMoney</key>
			<string>200</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>isGround</key>
			<string>1</string>
			<key>cdTime</key>
			<string>8</string>
			<key>atkSpeed</key>
			<string>2</string>
			<key>dfe</key>
			<string>0.25</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>30</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>500</string>
			<key>sellOutMoney</key>
			<string>100</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>250</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>2</string>
		</dict>
	</dict>
	<key>war4</key>
	<dict>
		<key>isComing</key>
		<string>0</string>
		<key>name</key>
		<string>爆爆</string>
		<key>desc</key>
		<string>快速冲向敌人自爆，很小很暴力</string>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>30</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>600</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>100</string>
			<key>sellOutMoney</key>
			<string>50</string>
			<key>upgradeMoney</key>
			<string>500</string>
			<key>callMoney</key>
			<string>300</string>
			<key>unlockMoney</key>
			<string>4000</string>
			<key>movespeed</key>
			<string>1</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>30</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>800</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>200</string>
			<key>sellOutMoney</key>
			<string>75</string>
			<key>upgradeMoney</key>
			<string>600</string>
			<key>callMoney</key>
			<string>350</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>1</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>30</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>1000</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>300</string>
			<key>sellOutMoney</key>
			<string>100</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>400</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>1</string>
		</dict>
	</dict>
	<key>war5</key>
	<dict>
		<key>isComing</key>
		<string>0</string>
		<key>name</key>
		<string>笑天犬</string>
		<key>desc</key>
		<string>看起来萌萌哒，发起疯来会把敌人吓跑，甚至吓_n的神志不清攻击其它怪物，每层只能召唤一个</string>
		<key>level1</key>
		<dict>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>40</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0.15</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>300</string>
			<key>sellOutMoney</key>
			<string>200</string>
			<key>upgradeMoney</key>
			<string>600</string>
			<key>callMoney</key>
			<string>400</string>
			<key>unlockMoney</key>
			<string>5000</string>
			<key>movespeed</key>
			<string>3</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>40</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0.2</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>400</string>
			<key>sellOutMoney</key>
			<string>200</string>
			<key>upgradeMoney</key>
			<string>700</string>
			<key>callMoney</key>
			<string>500</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>3</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>isGround</key>
			<string>2</string>
			<key>cdTime</key>
			<string>40</string>
			<key>atkSpeed</key>
			<string>1</string>
			<key>dfe</key>
			<string>0.25</string>
			<key>dfeOption</key>
			<string>1</string>
			<key>atk</key>
			<string>0</string>
			<key>atkOption</key>
			<string>1</string>
			<key>atkLenOption</key>
			<string>1</string>
			<key>maxHp</key>
			<string>500</string>
			<key>sellOutMoney</key>
			<string>200</string>
			<key>upgradeMoney</key>
			<string>0</string>
			<key>callMoney</key>
			<string>600</string>
			<key>unlockMoney</key>
			<string>0</string>
			<key>movespeed</key>
			<string>3</string>
		</dict>
	</dict>
</dict>
</plist>
