<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>td_war_04_baozha-01.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>td_war_04_baozha-02.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>48</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>td_war_04_baozha-03.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_war_04_baozha-04.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>td_war_04_baozha-05.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>298</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>td_war_04_baozha-06.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>298</integer>
				<key>y</key>
				<integer>128</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_war_04_baozha-07.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>212</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>td_war_04_baozha-08.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>130</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>td_war_04_baozha-09.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>340</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>td_war_04_baozha-10.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>142</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_war_04_baozha-11.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>265</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_war_04_baozha-12.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>385</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>td_war_04_baozha-13.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>267</integer>
				<key>y</key>
				<integer>375</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>td_war_04_baozha-14.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>442</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>td_war_04_baozha-15.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>442</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>td_war_04_baozha-16.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>569</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>td_war_04_bomb0.png</string>
			<key>realTextureFileName</key>
			<string>td_war_04_bomb0.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>