<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>td_war_02_toufa.png</key>
			<dict>
				<key>width</key>
				<integer>13</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>13</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.200000286102295</real>
				<key>offsetY</key>
				<real>-0.400000095367432</real>
			</dict>
			<key>td_war_02_b_yanjing.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>12</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>td_war_02_chushi/td_war_02_yan07.png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>33</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8.39999961853027</real>
				<key>offsetY</key>
				<real>1.20000028610229</real>
			</dict>
			<key>td_war_02_chushi/td_war_02_yan01.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>30</integer>
				<key>offsetX</key>
				<real>3.60000038146973</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_war_02_chushi/td_war_02_yan02.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>33</integer>
				<key>y</key>
				<integer>16</integer>
				<key>offsetX</key>
				<real>1.19999980926514</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_war_02_chushi/td_war_02_yan03.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>25</integer>
				<key>y</key>
				<integer>38</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_war_02_chushi/td_war_02_yan04.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>61</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_war_02_chushi/td_war_02_yan05.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>61</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_war_02_chushi/td_war_02_yan06.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.800000190734863</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_war_02_youshou.png</key>
			<dict>
				<key>width</key>
				<integer>7</integer>
				<key>height</key>
				<integer>4</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>16</integer>
				<key>x</key>
				<integer>15</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.60000014305115</real>
				<key>offsetY</key>
				<real>-1.99999952316284</real>
			</dict>
			<key>td_war_02_b_zuoshangbi.png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>46</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.999999523162842</real>
				<key>offsetY</key>
				<real>-1.39999961853027</real>
			</dict>
			<key>td_war_02_zuoxiabi.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>52</integer>
				<key>offsetX</key>
				<real>1.19999980926514</real>
				<key>offsetY</key>
				<real>-0.400000095367432</real>
			</dict>
			<key>td_war_02_b_tou.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>62</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>td_war_02_b_shenzi.png</key>
			<dict>
				<key>width</key>
				<integer>13</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>44</integer>
				<key>offsetX</key>
				<real>0.399999618530273</real>
				<key>offsetY</key>
				<real>-0.400000095367432</real>
			</dict>
			<key>td_war_02_b_qunzi.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>1.39999961853027</real>
				<key>offsetY</key>
				<real>-1.20000028610229</real>
			</dict>
			<key>td_war_02_b_paokou.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>-4.40000057220459</real>
				<key>offsetY</key>
				<real>1.80000019073486</real>
			</dict>
			<key>td_war_02_b_paoguan.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>6</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>44</integer>
				<key>offsetX</key>
				<real>0.399999618530273</real>
				<key>offsetY</key>
				<real>-0.600000143051147</real>
			</dict>
			<key>td_war_02_shuixiang.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>53</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>0.399998664855957</real>
				<key>offsetY</key>
				<real>0.40000057220459</real>
			</dict>
			<key>td_war_02_shuiguan.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>22</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>3.80000019073486</real>
				<key>offsetY</key>
				<real>-1.19999980926514</real>
			</dict>
			<key>td_war_02_b_zuoxiaotui.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>13</integer>
				<key>x</key>
				<integer>109</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>1.79999971389771</real>
				<key>offsetY</key>
				<real>-2.40000009536743</real>
			</dict>
			<key>td_war_02_zuodatui.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>6</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>13</integer>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>52</integer>
				<key>offsetX</key>
				<real>0.399999618530273</real>
				<key>offsetY</key>
				<real>-1.39999985694885</real>
			</dict>
			<key>td_war_02_youxiaotui.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>12</integer>
				<key>x</key>
				<integer>53</integer>
				<key>y</key>
				<integer>88</integer>
				<key>offsetX</key>
				<real>0.199999809265137</real>
				<key>offsetY</key>
				<real>-2.40000009536743</real>
			</dict>
			<key>td_war_02_youdatui.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>6</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>14</integer>
				<key>x</key>
				<integer>80</integer>
				<key>y</key>
				<integer>52</integer>
				<key>offsetX</key>
				<real>0.399999618530273</real>
				<key>offsetY</key>
				<real>-1.99999976158142</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>td_war_02_b0.png</string>
			<key>realTextureFileName</key>
			<string>td_war_02_b0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>