<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>td_npc_clothes_09_zhengyan01.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>td_npc_clothes_09_zhengyan02.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>16</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>td_npc_clothes_09_zhengyan03.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>32</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_npc_clothes_09_konglongtou.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>44</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>td_npc_clothes_09_zuobianzi.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>45</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>td_npc_clothes_09_zuodabi.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>16</integer>
				<key>y</key>
				<integer>45</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>td_npc_clothes_09_zuoxiaobi.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>16</integer>
				<key>x</key>
				<integer>16</integer>
				<key>y</key>
				<integer>54</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>td_npc_clothes_09_zuotui.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>40</integer>
				<key>y</key>
				<integer>36</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>td_npc_clothes_09_youbianzi.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>67</integer>
				<key>y</key>
				<integer>36</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_npc_clothes_09_youxiaobi.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>16</integer>
				<key>x</key>
				<integer>110</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>td_npc_clothes_09_shenzi.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>110</integer>
				<key>y</key>
				<integer>9</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>td_npc_clothes_09_youdabi.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>61</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>td_npc_clothes_09_youtui.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>td_npc_clothes_09_weiba.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>21</integer>
				<key>y</key>
				<integer>63</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_npc_clothes_09_lian.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>57</integer>
				<key>y</key>
				<integer>61</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_npc_clothes_09_chibang.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>td_npc_clothes_090.png</string>
			<key>realTextureFileName</key>
			<string>td_npc_clothes_090.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>