<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>td_trap_05_a.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.19999885559082</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_trap_05_yan/td_trap_05_yan_01.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>39</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.800003051757813</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_trap_05_yan/td_trap_05_yan_02.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>110</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.800003051757813</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_trap_05_yan/td_trap_05_yan_03.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.800003051757813</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_trap_05_yan/td_trap_05_yan_04.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_trap_05_yan/td_trap_05_yan_05.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>69</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_trap_05_yan/td_trap_05_yan_06.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>162</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_trap_05_yan/td_trap_05_yan_07.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>138</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>1.40000152587891</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_trap_05_yan/td_trap_05_yan_08.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>69</integer>
				<key>y</key>
				<integer>162</integer>
				<key>offsetX</key>
				<real>0.800003051757813</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_trap_05_yan/td_trap_05_yan_09.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>140</integer>
				<key>y</key>
				<integer>162</integer>
				<key>offsetX</key>
				<real>1.20000076293945</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_trap_05_yan/td_trap_05_yan_10.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>252</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.40000152587891</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_trap_05_yan/td_trap_05_yan_11.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>208</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>1.40000152587891</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_trap_05_yan/td_trap_05_yan_12.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>322</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.800003051757813</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>td_trap_05_a0.png</string>
			<key>realTextureFileName</key>
			<string>td_trap_05_a0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>