<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>td_trap_01_a_diban.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.650001525878906</real>
				<key>offsetY</key>
				<real>-0.649999618530273</real>
			</dict>
			<key>td_trap_01_huohua/td_trap_01_huohua_01.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>21</integer>
				<key>offsetX</key>
				<real>-1.39999771118164</real>
				<key>offsetY</key>
				<real>-2.30000114440918</real>
			</dict>
			<key>td_trap_01_huohua/td_trap_01_huohua_02.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>21</integer>
				<key>offsetX</key>
				<real>-21.0499992370605</real>
				<key>offsetY</key>
				<real>-14.7000007629395</real>
			</dict>
			<key>td_trap_01_huohua/td_trap_01_huohua_03.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>33</integer>
				<key>offsetX</key>
				<real>-11.7499980926514</real>
				<key>offsetY</key>
				<real>-15.1500015258789</real>
			</dict>
			<key>td_trap_01_huohua/td_trap_01_huohua_04.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>59</integer>
				<key>offsetX</key>
				<real>-11.1499977111816</real>
				<key>offsetY</key>
				<real>-10.850001335144</real>
			</dict>
			<key>td_trap_01_huohua/td_trap_01_huohua_05.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>78</integer>
				<key>offsetX</key>
				<real>-0.499998092651367</real>
				<key>offsetY</key>
				<real>-10.3000011444092</real>
			</dict>
			<key>td_trap_01_huohua/td_trap_01_huohua_06.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>62</integer>
				<key>y</key>
				<integer>46</integer>
				<key>offsetX</key>
				<real>-7.54999923706055</real>
				<key>offsetY</key>
				<real>-0.400001525878906</real>
			</dict>
			<key>td_trap_01_huohua/td_trap_01_huohua_07.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>62</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>-7.24999809265137</real>
				<key>offsetY</key>
				<real>-0.950000762939453</real>
			</dict>
			<key>td_trap_01_a_juchi/td_trap_01_a_juchi-01.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>126</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.200000762939453</real>
				<key>offsetY</key>
				<real>-0.549999237060547</real>
			</dict>
			<key>td_trap_01_a_juchi/td_trap_01_a_juchi-02.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>50</integer>
				<key>offsetX</key>
				<real>-0.350002288818359</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_trap_01_a_juchi/td_trap_01_a_juchi-03.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>117</integer>
				<key>offsetX</key>
				<real>0.200000762939453</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_trap_01_a_juchi/td_trap_01_a_juchi-04.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>-0.350002288818359</real>
				<key>offsetY</key>
				<real>-0.549999237060547</real>
			</dict>
			<key>td_trap_01_a_juchi/td_trap_01_a_juchi-05.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>79</integer>
				<key>y</key>
				<integer>117</integer>
				<key>offsetX</key>
				<real>0.200000762939453</real>
				<key>offsetY</key>
				<real>-0.549999237060547</real>
			</dict>
			<key>td_trap_01_a_juchi/td_trap_01_a_juchi-06.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>80</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>0.649997711181641</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_trap_01_a_juchi/td_trap_01_a_juchi-07.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>101</integer>
				<key>offsetX</key>
				<real>0.200000762939453</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_trap_01_a_juchi/td_trap_01_a_juchi-08.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0.649997711181641</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>td_trap_01_a0.png</string>
			<key>realTextureFileName</key>
			<string>td_trap_01_a0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>