<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_trap2_ice_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1},{231,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,30},{231,42}}</string>
                <key>sourceSize</key>
                <string>{443,98}</string>
            </dict>
            <key>td_trap2_ice_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1},{289,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,28},{289,46}}</string>
                <key>sourceSize</key>
                <string>{443,98}</string>
            </dict>
            <key>td_trap2_ice_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1},{333,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,28},{333,46}}</string>
                <key>sourceSize</key>
                <string>{443,98}</string>
            </dict>
            <key>td_trap2_ice_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{391,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,28},{391,46}}</string>
                <key>sourceSize</key>
                <string>{443,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td_trap2_ice_ring_effect.png</string>
            <key>size</key>
            <string>{185,393}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:423f22ab3919ca1a4478e2e616667b96$</string>
            <key>textureFileName</key>
            <string>td_trap2_ice_ring_effect.png</string>
        </dict>
    </dict>
</plist>
