<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_magic3_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,604},{202,182}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,49},{202,182}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>td_magic3_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{214,208}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{214,208}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>td_magic3_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{224,204}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{224,204}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>td_magic3_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,412},{214,192}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{214,192}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>td_magic3_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{204,184}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,27},{204,184}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>td_magic3_effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,788},{190,174}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,32},{190,174}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>td_magic3_effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{180,162}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,41},{180,162}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>td_magic3_effect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,180},{162,150}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,47},{162,150}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>td_magic3_effect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,330},{146,136}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,54},{146,136}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>td_magic3_effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,466},{138,120}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,62},{138,120}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>td_magic3_effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,806},{134,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,67},{134,112}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>td_magic3_effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,918},{104,94}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,76},{104,94}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>td_magic3_effect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,918},{94,86}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,82},{94,86}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>td_magic3_effect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,806},{58,60}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,96},{58,60}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>td_magic3_effect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,330},{12,12}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,119},{12,12}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td_magic3_effect.png</string>
            <key>size</key>
            <string>{386,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa38086fa2563d8dd5eb23a11d5df08b$</string>
            <key>textureFileName</key>
            <string>td_magic3_effect.png</string>
        </dict>
    </dict>
</plist>
