<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>td_enemy_short_05_zhuoshou02.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.40000009536743</real>
				<key>offsetY</key>
				<real>-4.19999980926514</real>
			</dict>
			<key>td_enemy_short_05-zuoshou01.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>10</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.59999990463257</real>
				<key>offsetY</key>
				<real>-2.20000076293945</real>
			</dict>
			<key>td_enemy_short_05_zuoshoubi.png</key>
			<dict>
				<key>width</key>
				<integer>7</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>15</integer>
				<key>offsetX</key>
				<real>1.19999957084656</real>
				<key>offsetY</key>
				<real>-2.38418579101563E-07</real>
			</dict>
			<key>td_enemy_short_05_toutao.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>61</integer>
				<key>x</key>
				<integer>27</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.80000114440918</real>
				<key>offsetY</key>
				<real>-1.19999885559082</real>
			</dict>
			<key>td_enemy_short_05_laodai.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>66</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.60000038146973</real>
				<key>offsetY</key>
				<real>-3.39999866485596</real>
			</dict>
			<key>td_enemy_short_05_youshou02.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>25</integer>
				<key>offsetX</key>
				<real>0.399999618530273</real>
				<key>offsetY</key>
				<real>-1.19999980926514</real>
			</dict>
			<key>td_enemy_short_05_youshou01.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>3.19999980926514</real>
				<key>offsetY</key>
				<real>9.5367431640625E-07</real>
			</dict>
			<key>td_enemy_short_05_shenti.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>66</integer>
				<key>y</key>
				<integer>28</integer>
				<key>offsetX</key>
				<real>2.99999904632568</real>
				<key>offsetY</key>
				<real>-3.59999942779541</real>
			</dict>
			<key>td_enemy_short_05_youshoubi.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>11</integer>
				<key>y</key>
				<integer>25</integer>
				<key>offsetX</key>
				<real>1.39999961853027</real>
				<key>offsetY</key>
				<real>-2.80000019073486</real>
			</dict>
			<key>td_enemy_short_05_youjiao.png</key>
			<dict>
				<key>width</key>
				<integer>6</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>13</integer>
				<key>x</key>
				<integer>18</integer>
				<key>y</key>
				<integer>35</integer>
				<key>offsetX</key>
				<real>0.799999952316284</real>
				<key>offsetY</key>
				<real>-1.59999990463257</real>
			</dict>
			<key>td_enemy_short_05_zuojiao.png</key>
			<dict>
				<key>width</key>
				<integer>5</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>10</integer>
				<key>originalHeight</key>
				<integer>13</integer>
				<key>x</key>
				<integer>18</integer>
				<key>y</key>
				<integer>45</integer>
				<key>offsetX</key>
				<real>0.599999666213989</real>
				<key>offsetY</key>
				<real>-1.59999990463257</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>td_enemy_050.png</string>
			<key>realTextureFileName</key>
			<string>td_enemy_050.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>