<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>td_enemy_short_02_zuohoubi.png</key>
			<dict>
				<key>width</key>
				<integer>6</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.00000023841858</real>
				<key>offsetY</key>
				<real>-0.400000095367432</real>
			</dict>
			<key>td_enemy_short_02_zuoqianbi.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>8</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.59999990463257</real>
				<key>offsetY</key>
				<real>-2.60000038146973</real>
			</dict>
			<key>td_enemy_short_02_wuqi.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>15</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>15</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2.19999933242798</real>
			</dict>
			<key>td_enemy_short_02_shenti.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>32</integer>
				<key>offsetX</key>
				<real>4.40000057220459</real>
				<key>offsetY</key>
				<real>-1.99999904632568</real>
			</dict>
			<key>td_enemy_short_02_zuodatui.png</key>
			<dict>
				<key>width</key>
				<integer>6</integer>
				<key>height</key>
				<integer>6</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>16</integer>
				<key>x</key>
				<integer>20</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.799999475479126</real>
				<key>offsetY</key>
				<real>-0.799999475479126</real>
			</dict>
			<key>td_enemy_short_02_youxiatui.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>16</integer>
				<key>x</key>
				<integer>28</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.20000028610229</real>
				<key>offsetY</key>
				<real>-1.19999957084656</real>
			</dict>
			<key>td_enemy_short_02_youdatui.png</key>
			<dict>
				<key>width</key>
				<integer>6</integer>
				<key>height</key>
				<integer>6</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>21</integer>
				<key>y</key>
				<integer>9</integer>
				<key>offsetX</key>
				<real>1.39999985694885</real>
				<key>offsetY</key>
				<real>-2.59999966621399</real>
			</dict>
			<key>td_enemy_short_02_youxiajiao.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>6</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>21</integer>
				<key>y</key>
				<integer>17</integer>
				<key>offsetX</key>
				<real>1.99999952316284</real>
				<key>offsetY</key>
				<real>-2.20000004768372</real>
			</dict>
			<key>td_enemy_short_02_toufashang.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>57</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>21</integer>
				<key>y</key>
				<integer>25</integer>
				<key>offsetX</key>
				<real>2.79999923706055</real>
				<key>offsetY</key>
				<real>-5.19999885559082</real>
			</dict>
			<key>td_enemy_short_02_zhongtoufa.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.60000038146973</real>
				<key>offsetY</key>
				<real>-2.60000038146973</real>
			</dict>
			<key>td_enemy_short_02_toufazhong.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>79</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.40000152587891</real>
				<key>offsetY</key>
				<real>-0.799999237060547</real>
			</dict>
			<key>td_enemy_short_02_naodai.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>55</integer>
				<key>offsetX</key>
				<real>3.60000038146973</real>
				<key>offsetY</key>
				<real>-3.60000038146973</real>
			</dict>
			<key>td_enemy_short_02_youhoubi.png</key>
			<dict>
				<key>width</key>
				<integer>5</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>38</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.19999957084656</real>
				<key>offsetY</key>
				<real>-2.40000009536743</real>
			</dict>
			<key>td_enemy_short_02_youqianbi.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>34</integer>
				<key>offsetX</key>
				<real>1.59999990463257</real>
				<key>offsetY</key>
				<real>-1.80000019073486</real>
			</dict>
			<key>td_enemy_short_02_baweibian.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>33</integer>
				<key>y</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>0.800000190734863</real>
				<key>offsetY</key>
				<real>-0.59999942779541</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>td_enemy_020.png</string>
			<key>realTextureFileName</key>
			<string>td_enemy_020.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>