<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>td_enemy_4_tou .png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.799999237060547</real>
				<key>offsetY</key>
				<real>-1.40000152587891</real>
			</dict>
			<key>td_enemy_4_weijin01.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.00000190734863</real>
				<key>offsetY</key>
				<real>-1.40000057220459</real>
			</dict>
			<key>td_enemy_4_yiling .png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>15</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>1.59999990463257</real>
				<key>offsetY</key>
				<real>-0.800000667572021</real>
			</dict>
			<key>td_enemy_4_youqianbi .png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>89</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.600000381469727</real>
				<key>offsetY</key>
				<real>-1.19999885559082</real>
			</dict>
			<key>td_enemy_4_youhoubi .png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>42</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>0.40000057220459</real>
				<key>offsetY</key>
				<real>-1.19999980926514</real>
			</dict>
			<key>td_enemy_4_weijin02.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>0.40000057220459</real>
				<key>offsetY</key>
				<real>-1.00000023841858</real>
			</dict>
			<key>td_enemy_4_toufa.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>88</integer>
				<key>y</key>
				<integer>45</integer>
				<key>offsetX</key>
				<real>1.40000057220459</real>
				<key>offsetY</key>
				<real>-0.800000190734863</real>
			</dict>
			<key>td_enemy_4_shenti .png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>127</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.999998092651367</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_enemy_4_youkuzi.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>59</integer>
				<key>offsetX</key>
				<real>1.59999990463257</real>
				<key>offsetY</key>
				<real>-0.600000381469727</real>
			</dict>
			<key>td_enemy_4_youxiezi .png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>17</integer>
				<key>y</key>
				<integer>59</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-5.39999961853027</real>
			</dict>
			<key>td_enemy_4_zuoxiaotui.png</key>
			<dict>
				<key>width</key>
				<integer>7</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>80</integer>
				<key>offsetX</key>
				<real>2.00000071525574</real>
				<key>offsetY</key>
				<real>-1.00000095367432</real>
			</dict>
			<key>td_enemy_4_zuokuzi .png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>9</integer>
				<key>y</key>
				<integer>80</integer>
				<key>offsetX</key>
				<real>0.800000190734863</real>
				<key>offsetY</key>
				<real>-1.19999980926514</real>
			</dict>
			<key>td_enemy_4_zuoxiezi.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>1.39999961853027</real>
				<key>offsetY</key>
				<real>-4.20000076293945</real>
			</dict>
			<key>td_enemy_4_youxiaotui .png</key>
			<dict>
				<key>width</key>
				<integer>7</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>40</integer>
				<key>y</key>
				<integer>59</integer>
				<key>offsetX</key>
				<real>2.40000033378601</real>
				<key>offsetY</key>
				<real>-1.60000133514404</real>
			</dict>
			<key>td_enemy_4_zuoqianbi .png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>49</integer>
				<key>y</key>
				<integer>64</integer>
				<key>offsetX</key>
				<real>4.39999961853027</real>
				<key>offsetY</key>
				<real>-0.799999237060547</real>
			</dict>
			<key>td_enemy_4_zuohoubi .png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>23</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>1.60000133514404</real>
				<key>offsetY</key>
				<real>-0.600000381469727</real>
			</dict>
			<key>td_enemy_4_langyabang.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>188</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.40000152587891</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>td_enemy_040.png</string>
			<key>realTextureFileName</key>
			<string>td_enemy_040.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>