<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>td_enemy_short_6_kouzhao.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>15</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.60000133514404</real>
				<key>offsetY</key>
				<real>-0.199999332427979</real>
			</dict>
			<key>td_enemy_short_6_zuoshou02.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>32</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.20000028610229</real>
				<key>offsetY</key>
				<real>-3.59999942779541</real>
			</dict>
			<key>td_enemy_short_6_zuoshou01.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>17</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-3.00000095367432</real>
			</dict>
			<key>td_enemy_short_6_toutao.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>61</integer>
				<key>x</key>
				<integer>44</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.20000076293945</real>
				<key>offsetY</key>
				<real>-2.79999923706055</real>
			</dict>
			<key>td_enemy_short_6_faxuyi.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>22</integer>
				<key>y</key>
				<integer>41</integer>
				<key>offsetX</key>
				<real>6.19999980926514</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>td_enemy_short_6_faxu02.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>41</integer>
				<key>offsetX</key>
				<real>3.80000019073486</real>
				<key>offsetY</key>
				<real>-4.20000076293945</real>
			</dict>
			<key>td_enemy_short_6_toufa.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>14</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.799999713897705</real>
			</dict>
			<key>td_enemy_short_6_naodai.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>61</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-3.79999923706055</real>
			</dict>
			<key>td_enemy_short_6_zuoshoubi.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>0.59999942779541</real>
				<key>offsetY</key>
				<real>-0.200000286102295</real>
			</dict>
			<key>td_enemy_short_6_youshou02.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>22</integer>
				<key>y</key>
				<integer>20</integer>
				<key>offsetX</key>
				<real>0.799999713897705</real>
				<key>offsetY</key>
				<real>-0.599999904632568</real>
			</dict>
			<key>td_enemy_short_6_youshou01.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>94</integer>
				<key>offsetX</key>
				<real>1.39999961853027</real>
				<key>offsetY</key>
				<real>-1.59999942779541</real>
			</dict>
			<key>td_enemy_short_6_shenti.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>38</integer>
				<key>y</key>
				<integer>61</integer>
				<key>offsetX</key>
				<real>4.39999961853027</real>
				<key>offsetY</key>
				<real>-4.19999980926514</real>
			</dict>
			<key>td_enemy_short_6_youshoubi.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>14</integer>
				<key>offsetX</key>
				<real>1.39999961853027</real>
				<key>offsetY</key>
				<real>-1.60000038146973</real>
			</dict>
			<key>td_enemy_short_6_youjiao.png</key>
			<dict>
				<key>width</key>
				<integer>6</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>13</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>20</integer>
				<key>offsetX</key>
				<real>0.799999952316284</real>
				<key>offsetY</key>
				<real>-1.59999990463257</real>
			</dict>
			<key>td_enemy_short_6_zuojiao.png</key>
			<dict>
				<key>width</key>
				<integer>5</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>10</integer>
				<key>originalHeight</key>
				<integer>13</integer>
				<key>x</key>
				<integer>14</integer>
				<key>y</key>
				<integer>47</integer>
				<key>offsetX</key>
				<real>0.599999666213989</real>
				<key>offsetY</key>
				<real>-1.59999990463257</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>td_enemy_060.png</string>
			<key>realTextureFileName</key>
			<string>td_enemy_060.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>