<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>td_enemy_short_14_toufa.png</key>
			<dict>
				<key>width</key>
				<integer>7</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.19999957084656</real>
				<key>offsetY</key>
				<real>-0.400000095367432</real>
			</dict>
			<key>td_enemy_short_14_toubu.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>9</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.79999923706055</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>td_enemy_short_14_zuoshouqianbi.png</key>
			<dict>
				<key>width</key>
				<integer>4</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>10</integer>
				<key>offsetX</key>
				<real>0.800000190734863</real>
				<key>offsetY</key>
				<real>-1.19999980926514</real>
			</dict>
			<key>td_enemy_short_14_zuoshouhoubi.png</key>
			<dict>
				<key>width</key>
				<integer>7</integer>
				<key>height</key>
				<integer>6</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>14</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>21</integer>
				<key>offsetX</key>
				<real>0.999999761581421</real>
				<key>offsetY</key>
				<real>-1.99999976158142</real>
			</dict>
			<key>td_enemy_short_14_wuqi.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>4.39999961853027</real>
				<key>offsetY</key>
				<real>-1.19999980926514</real>
			</dict>
			<key>td_enemy_short_14_zuotui.png</key>
			<dict>
				<key>width</key>
				<integer>6</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>29</integer>
				<key>offsetX</key>
				<real>2.00000023841858</real>
				<key>offsetY</key>
				<real>-1.79999971389771</real>
			</dict>
			<key>td_enemy_short_14_zuojiaozhang.png</key>
			<dict>
				<key>width</key>
				<integer>7</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>13</integer>
				<key>originalHeight</key>
				<integer>13</integer>
				<key>x</key>
				<integer>51</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.799999952316284</real>
				<key>offsetY</key>
				<real>-0.799999952316284</real>
			</dict>
			<key>td_enemy_short_14_shenti.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>29</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>51</integer>
				<key>y</key>
				<integer>9</integer>
				<key>offsetX</key>
				<real>2.39999961853027</real>
				<key>offsetY</key>
				<real>0.199999809265137</real>
			</dict>
			<key>td_enemy_short_14_youtui.png</key>
			<dict>
				<key>width</key>
				<integer>6</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>51</integer>
				<key>y</key>
				<integer>28</integer>
				<key>offsetX</key>
				<real>2.20000004768372</real>
				<key>offsetY</key>
				<real>-2.39999961853027</real>
			</dict>
			<key>td_enemy_short_14_youjiangzhang.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>6</integer>
				<key>originalWidth</key>
				<integer>14</integer>
				<key>originalHeight</key>
				<integer>14</integer>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.200000286102295</real>
				<key>offsetY</key>
				<real>-2.99999976158142</real>
			</dict>
			<key>td_enemy_short_14_weiba.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>16</integer>
				<key>x</key>
				<integer>71</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.59999942779541</real>
				<key>offsetY</key>
				<real>-0.399999618530273</real>
			</dict>
			<key>td_enemy_short_14_youshouhoubi.png</key>
			<dict>
				<key>width</key>
				<integer>6</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>12</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>85</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.20000004768372</real>
				<key>offsetY</key>
				<real>-1.80000019073486</real>
			</dict>
			<key>td_enemy_short_14_youshouqianbi.png</key>
			<dict>
				<key>width</key>
				<integer>4</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>12</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>71</integer>
				<key>y</key>
				<integer>15</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.80000019073486</real>
			</dict>
			<key>td_enemy_short_14_chibang.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>59</integer>
				<key>y</key>
				<integer>28</integer>
				<key>offsetX</key>
				<real>0.200000762939453</real>
				<key>offsetY</key>
				<real>0.199999809265137</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>td_enemy_140.png</string>
			<key>realTextureFileName</key>
			<string>td_enemy_140.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>