<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>td_mimicryman_bizhi.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>10</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.999999523162842</real>
				<key>offsetY</key>
				<real>-0.799999713897705</real>
			</dict>
			<key>td_mimicryman_yanjing.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>16</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>10</integer>
				<key>offsetX</key>
				<real>0.400001525878906</real>
				<key>offsetY</key>
				<real>-0.799999713897705</real>
			</dict>
			<key>td_mimicryman_toufa.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>26</integer>
				<key>offsetX</key>
				<real>0.399999618530273</real>
				<key>offsetY</key>
				<real>0.800000190734863</real>
			</dict>
			<key>td_mimicryman_bizhi_tou2.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>39</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>12.7999992370605</real>
				<key>offsetY</key>
				<real>-6.59999847412109</real>
			</dict>
			<key>td_mimicryman_tou.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>50</integer>
				<key>offsetX</key>
				<real>0.200000762939453</real>
				<key>offsetY</key>
				<real>-1.19999885559082</real>
			</dict>
			<key>td_mimicryman_yougebo.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>77</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.399999618530273</real>
				<key>offsetY</key>
				<real>-0.999998092651367</real>
			</dict>
			<key>td_mimicryman_lihe.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>121</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.19999885559082</real>
				<key>offsetY</key>
				<real>-0.19999885559082</real>
			</dict>
			<key>td_mimicryman_lingzi.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>0.400000095367432</real>
				<key>offsetY</key>
				<real>-0.800000190734863</real>
			</dict>
			<key>td_mimicryman_lingjie.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>65</integer>
				<key>offsetX</key>
				<real>0.799999237060547</real>
				<key>offsetY</key>
				<real>-1.39999961853027</real>
			</dict>
			<key>td_mimicryman_youdatui.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>14</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>1.20000028610229</real>
				<key>offsetY</key>
				<real>-1.19999980926514</real>
			</dict>
			<key>td_mimicryman_youxiaotui.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>79</integer>
				<key>y</key>
				<integer>65</integer>
				<key>offsetX</key>
				<real>0.400000095367432</real>
				<key>offsetY</key>
				<real>-0.800000190734863</real>
			</dict>
			<key>td_mimicryman_magua.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>65</integer>
				<key>offsetX</key>
				<real>0.800000190734863</real>
				<key>offsetY</key>
				<real>-0.400001525878906</real>
			</dict>
			<key>td_mimicryman_shenti.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>1.20000076293945</real>
				<key>offsetY</key>
				<real>-1.79999923706055</real>
			</dict>
			<key>td_mimicryman_gongjizuotuixiaobi.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>41</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>121</integer>
				<key>y</key>
				<integer>58</integer>
				<key>offsetX</key>
				<real>-0.200000762939453</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_mimicryman_gjizuotuidabi.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>179</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.600000381469727</real>
				<key>offsetY</key>
				<real>-0.799999237060547</real>
			</dict>
			<key>td_mimicryman_zuogebo.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>29</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>-1.60000038146973</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>td_mimicryman_zuodatui.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>216</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.200000286102295</real>
				<key>offsetY</key>
				<real>-0.800000190734863</real>
			</dict>
			<key>td_mimicryman_zuoxiaotui.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>-0.800000190734863</real>
				<key>offsetY</key>
				<real>0.40000057220459</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>td_enemy_210.png</string>
			<key>realTextureFileName</key>
			<string>td_enemy_210.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>