<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>td_boss_04_Remote_dianqiu.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.20000076293945</real>
				<key>offsetY</key>
				<real>-2.40000057220459</real>
			</dict>
			<key>shandian/td_boss_04_Remote_shandian_09.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>31</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shandian/td_boss_04_Remote_shandian_00.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>31</integer>
				<key>offsetX</key>
				<real>-6.79999971389771</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shandian/td_boss_04_Remote_shandian_01.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2.80000019073486</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shandian/td_boss_04_Remote_shandian_02.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>46</integer>
				<key>y</key>
				<integer>31</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shandian/td_boss_04_Remote_shandian_03.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>94</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shandian/td_boss_04_Remote_shandian_04.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>76</integer>
				<key>y</key>
				<integer>30</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shandian/td_boss_04_Remote_shandian_05.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>61</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shandian/td_boss_04_Remote_shandian_06.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>61</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.59999942779541</real>
			</dict>
			<key>shandian/td_boss_04_Remote_shandian_07.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>91</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shandian/td_boss_04_Remote_shandian_08.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>87</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_boss_04_Remote_xiaohaiyoutui.png</key>
			<dict>
				<key>width</key>
				<integer>6</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>11</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>61</integer>
				<key>offsetX</key>
				<real>-0.399999856948853</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>td_boss_04_Remote_xiaohaijiao.png</key>
			<dict>
				<key>width</key>
				<integer>7</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>61</integer>
				<key>offsetX</key>
				<real>2.38418579101563E-07</real>
				<key>offsetY</key>
				<real>-1.60000038146973</real>
			</dict>
			<key>td_boss_04_Remote_wawashengti.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>74</integer>
				<key>offsetX</key>
				<real>0.199999809265137</real>
				<key>offsetY</key>
				<real>-0.600000381469727</real>
			</dict>
			<key>td_boss_04_Remote_wawatou.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>0.200000762939453</real>
				<key>offsetY</key>
				<real>-0.200000762939453</real>
			</dict>
			<key>td_boss_04_Remote_Xxianshiqi.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>124</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.60000228881836</real>
				<key>offsetY</key>
				<real>-4.19999885559082</real>
			</dict>
			<key>td_boss_04_Remote_zuodatui.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>203</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.79999923706055</real>
				<key>offsetY</key>
				<real>-3.60000228881836</real>
			</dict>
			<key>td_boss_04_Remote_zuoxiaotui.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>61</integer>
				<key>offsetX</key>
				<real>4.19999885559082</real>
				<key>offsetY</key>
				<real>-9.40000152587891</real>
			</dict>
			<key>td_boss_04_Remote_zuoluotuo.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>61</integer>
				<key>offsetX</key>
				<real>1.19999980926514</real>
				<key>offsetY</key>
				<real>-0.999999046325684</real>
			</dict>
			<key>td_boss_04_Remote_zuojiao.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>92</integer>
				<key>offsetX</key>
				<real>0.19999885559082</real>
				<key>offsetY</key>
				<real>-2.39999866485596</real>
			</dict>
			<key>td_boss_04_Remote_youluotuo.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>30</integer>
				<key>offsetX</key>
				<real>-1.19999980926514</real>
				<key>offsetY</key>
				<real>-1.59999942779541</real>
			</dict>
			<key>td_boss_04_Remote_youdatui.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>121</integer>
				<key>offsetX</key>
				<real>0.399999618530273</real>
				<key>offsetY</key>
				<real>-0.399997711181641</real>
			</dict>
			<key>td_boss_04_Remote_youxiaotui.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>58</integer>
				<key>y</key>
				<integer>126</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-36.4000015258789</real>
			</dict>
			<key>td_boss_04_Remote_youjiao.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2.39999961853027</real>
			</dict>
			<key>td_boss_04_Remote_zhedangtou.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>58</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>1.20000076293945</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>td_boss_04_Remote_jiugangyou.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>117</integer>
				<key>offsetX</key>
				<real>-0.199999809265137</real>
				<key>offsetY</key>
				<real>-0.600000381469727</real>
			</dict>
			<key>td_boss_04_Remote_jiguangjiaoyou.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>230</integer>
				<key>offsetX</key>
				<real>1.19999980926514</real>
				<key>offsetY</key>
				<real>-1.19999980926514</real>
			</dict>
			<key>td_boss_04_Remote_washideng.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>143</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>1.19999885559082</real>
				<key>offsetY</key>
				<real>1.60000038146973</real>
			</dict>
			<key>smk/td_boss_04_Remote_smoke_00.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>77</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>3.40000057220459</real>
				<key>offsetY</key>
				<real>-3.59999990463257</real>
			</dict>
			<key>smk/td_boss_04_Remote_smoke_01.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>38</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>2.80000019073486</real>
				<key>offsetY</key>
				<real>-2.39999961853027</real>
			</dict>
			<key>smk/td_boss_04_Remote_smoke_02.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>23</integer>
				<key>y</key>
				<integer>230</integer>
				<key>offsetX</key>
				<real>2.60000038146973</real>
				<key>offsetY</key>
				<real>-1.80000019073486</real>
			</dict>
			<key>smk/td_boss_04_Remote_smoke_03.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>146</integer>
				<key>offsetX</key>
				<real>2.40000057220459</real>
				<key>offsetY</key>
				<real>-1.59999942779541</real>
			</dict>
			<key>smk/td_boss_04_Remote_smoke_04.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>69</integer>
				<key>offsetX</key>
				<real>2.80000019073486</real>
				<key>offsetY</key>
				<real>-1.39999961853027</real>
			</dict>
			<key>smk/td_boss_04_Remote_smoke_05.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>95</integer>
				<key>offsetX</key>
				<real>2.80000019073486</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>smk/td_boss_04_Remote_smoke_06.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>69</integer>
				<key>offsetX</key>
				<real>3.40000057220459</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>smk/td_boss_04_Remote_smoke_07.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>94</integer>
				<key>offsetX</key>
				<real>4.80000019073486</real>
				<key>offsetY</key>
				<real>-0.59999942779541</real>
			</dict>
			<key>smk/td_boss_04_Remote_smoke_08.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>88</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>4.00000047683716</real>
				<key>offsetY</key>
				<real>-0.399999618530273</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>td_enemy_200.png</string>
			<key>realTextureFileName</key>
			<string>td_enemy_200.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>