<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>td_enemy_Remote_19_ yachi.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.39999961853027</real>
				<key>offsetY</key>
				<real>1.80000114440918</real>
			</dict>
			<key>td_enemy_Remote_19_ weibaguanjie03.png</key>
			<dict>
				<key>width</key>
				<integer>13</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>38</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.600000381469727</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>td_enemy_Remote_19_ shedeng.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>26</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>td_enemy_Remote_19_ youhoubi.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>13</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>48</integer>
				<key>offsetX</key>
				<real>1.39999961853027</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>td_enemy_Remote_19_ youqianbi.png</key>
			<dict>
				<key>width</key>
				<integer>6</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>12</integer>
				<key>originalHeight</key>
				<integer>16</integer>
				<key>x</key>
				<integer>53</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.20000004768372</real>
				<key>offsetY</key>
				<real>-1.40000009536743</real>
			</dict>
			<key>td_enemy_Remote_19_ tou.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>61</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.80000114440918</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_enemy_Remote_19_ shenti.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>59</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2.80000019073486</real>
			</dict>
			<key>td_enemy_Remote_19_ weiba.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>15</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>0.399999618530273</real>
				<key>offsetY</key>
				<real>-0.999999523162842</real>
			</dict>
			<key>td_enemy_Remote_19_ chibang02.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>25</integer>
				<key>y</key>
				<integer>48</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1.20000076293945</real>
			</dict>
			<key>td_enemy_Remote_19_ zuoqianbi.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>46</integer>
				<key>y</key>
				<integer>18</integer>
				<key>offsetX</key>
				<real>-2.80000019073486</real>
				<key>offsetY</key>
				<real>-1.40000009536743</real>
			</dict>
			<key>td_enemy_Remote_19_ zuohoubi.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>14</integer>
				<key>originalHeight</key>
				<integer>14</integer>
				<key>x</key>
				<integer>11</integer>
				<key>y</key>
				<integer>48</integer>
				<key>offsetX</key>
				<real>0.599999904632568</real>
				<key>offsetY</key>
				<real>-1.59999990463257</real>
			</dict>
			<key>td_enemy_Remote_19_ youtui.png</key>
			<dict>
				<key>width</key>
				<integer>4</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>13</integer>
				<key>originalHeight</key>
				<integer>12</integer>
				<key>x</key>
				<integer>46</integer>
				<key>y</key>
				<integer>32</integer>
				<key>offsetX</key>
				<real>0.599999904632568</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>td_enemy_Remote_19_ zuotiu.png</key>
			<dict>
				<key>width</key>
				<integer>4</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>52</integer>
				<key>y</key>
				<integer>32</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.199999809265137</real>
			</dict>
			<key>td_enemy_Remote_19_ weibaguanjie02.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>99</integer>
				<key>offsetX</key>
				<real>0.800000190734863</real>
				<key>offsetY</key>
				<real>-1.00000023841858</real>
			</dict>
			<key>td_enemy_Remote_19_ weibaguanjie01.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>61</integer>
				<key>y</key>
				<integer>44</integer>
				<key>offsetX</key>
				<real>1.20000028610229</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>td_enemy_190.png</string>
			<key>realTextureFileName</key>
			<string>td_enemy_190.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>