<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zjmdaoju_effets_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,136},{94,64}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,99},{94,64}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>zjmdaoju_effets_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,118}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,45},{102,118}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>zjmdaoju_effets_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,122}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,39},{102,122}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>zjmdaoju_effets_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,136},{104,124}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,37},{104,124}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>zjmdaoju_effets_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,136}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{104,136}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>zjmdaoju_effets_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{102,132}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,26},{102,132}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>zjmdaoju_effets_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{100,132}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{100,132}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>zjmdaoju_effets_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,140},{100,132}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{100,132}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>zjmdaoju_effets_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,106},{86,132}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{86,132}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>zjmdaoju_effets_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{66,132}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{66,132}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>zjmdaoju_effets_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,240},{54,118}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,33},{54,118}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameObjsNoCDeffect.png</string>
            <key>size</key>
            <string>{502,296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf3cc7dff5ec95340636eedc5cc42db5$</string>
            <key>textureFileName</key>
            <string>gameObjsNoCDeffect.png</string>
        </dict>
    </dict>
</plist>
