<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_wu_Effects_03_update_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,223},{105,105}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{105,105}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>hero_wu_Effects_03_update_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,349},{111,107}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{111,107}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>hero_wu_Effects_03_update_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,235},{113,107}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{113,107}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>hero_wu_Effects_03_update_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,351},{115,107}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{115,107}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>hero_wu_Effects_03_update_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1},{117,113}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{117,113}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>hero_wu_Effects_03_update_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,235},{115,115}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{115,115}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>hero_wu_Effects_03_update_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{117,115}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{117,115}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>hero_wu_Effects_03_update_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,117},{115,117}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{115,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>hero_wu_Effects_03_update_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,117},{107,117}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{107,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>hero_wu_Effects_03_update_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,115},{103,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{103,107}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>hero_wu_Effects_03_update_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1},{97,89}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{97,89}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>hero_wu_Effects_03_update_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,329},{85,75}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{85,75}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_wu_Effects_03.png</string>
            <key>size</key>
            <string>{332,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:425d7a0eef81c2b231a15271e01f720c$</string>
            <key>textureFileName</key>
            <string>hero_wu_Effects_03.png</string>
        </dict>
    </dict>
</plist>
