<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_01.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>21.2000007629395</real>
				<key>offsetY</key>
				<real>-48.5999984741211</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_02.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>40</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>-34.4000015258789</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_03.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>118</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7.20000076293945</real>
				<key>offsetY</key>
				<real>-33.4000015258789</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_04.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>102</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-30</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_05.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>102</integer>
				<key>offsetX</key>
				<real>7.20000076293945</real>
				<key>offsetY</key>
				<real>-18.6000022888184</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_06.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-5.40000152587891</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_07.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>304</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.40000152587891</real>
				<key>offsetY</key>
				<real>-0.599998474121094</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_08.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>406</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-0.599998474121094</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_09.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>227</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_10.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>227</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-0.599998474121094</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_11.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>204</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>2.40000152587891</real>
				<key>offsetY</key>
				<real>-1.20000457763672</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_12.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>306</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-1.20000457763672</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_13.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>204</integer>
				<key>y</key>
				<integer>297</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-0.599998474121094</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_14.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>408</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-1.20000457763672</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_15.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>306</integer>
				<key>y</key>
				<integer>297</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-1.80000305175781</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_16.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>408</integer>
				<key>y</key>
				<integer>297</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-1.20000457763672</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_17.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>508</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.20000076293945</real>
				<key>offsetY</key>
				<real>-0.599998474121094</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_18.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>608</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.60000228881836</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_19.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>510</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-1.20000457763672</real>
			</dict>
			<key>hero_wu_Effects_01_update/hero_wu_Effects_01_update_20.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>705</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.20000076293945</real>
				<key>offsetY</key>
				<real>-1.80000305175781</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>hero_wu_Effects_010.png</string>
			<key>realTextureFileName</key>
			<string>hero_wu_Effects_010.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>