<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>kaicheng_yanwu/kaicheng_yanwu_02.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-57</real>
			</dict>
			<key>kaicheng_yanwu/kaicheng_yanwu_03.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>117</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-23.5</real>
			</dict>
			<key>kaicheng_yanwu/kaicheng_yanwu_04.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>249</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>kaicheng_yanwu/kaicheng_yanwu_05.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>150</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>kaicheng_yanwu/kaicheng_yanwu_06.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>303</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>kaicheng_yanwu/kaicheng_yanwu_07.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>166</integer>
				<key>y</key>
				<integer>150</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>kaicheng_yanwu/kaicheng_yanwu_08.png</key>
			<dict>
				<key>width</key>
				<integer>173</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>166</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>kaicheng_yanwu/kaicheng_yanwu_09.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>335</integer>
				<key>y</key>
				<integer>150</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kaicheng_yanwu/kaicheng_yanwu_10.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>340</integer>
				<key>y</key>
				<integer>301</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>kaicheng_yanwu/kaicheng_yanwu_11.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>kaicheng_yanwu/kaicheng_yanwu_12.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>577</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
			<key>kaicheng_yanwu/kaicheng_yanwu_13.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>510</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>20.5</real>
			</dict>
			<key>kaicheng_yanwu/kaicheng_yanwu_14.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>728</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>22.5</real>
			</dict>
			<key>td_trap_03_guangquan.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>57</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kaicheng_anniu3.png</key>
			<dict>
				<key>width</key>
				<integer>260</integer>
				<key>height</key>
				<integer>260</integer>
				<key>originalWidth</key>
				<integer>260</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>133</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kaicheng_anniu2.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>515</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kaicheng_anniu1.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>841</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kaicheng_leifeng/kaicheng_liefengi_02.png</key>
			<dict>
				<key>width</key>
				<integer>407</integer>
				<key>height</key>
				<integer>204</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>468</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>kaicheng_leifeng/kaicheng_liefengi_03.png</key>
			<dict>
				<key>width</key>
				<integer>407</integer>
				<key>height</key>
				<integer>211</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>kaicheng_leifeng/kaicheng_liefengi_05.png</key>
			<dict>
				<key>width</key>
				<integer>408</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>408</integer>
				<key>y</key>
				<integer>453</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>kaicheng_leifeng/kaicheng_liefengi_06.png</key>
			<dict>
				<key>width</key>
				<integer>408</integer>
				<key>height</key>
				<integer>225</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>408</integer>
				<key>y</key>
				<integer>667</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>kaicheng_leifeng/kaicheng_liefengi_07.png</key>
			<dict>
				<key>width</key>
				<integer>407</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>933</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>kaicheng_leifeng/kaicheng_liefengi_08.png</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>234</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>901</integer>
				<key>y</key>
				<integer>230</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>kaicheng_leifeng/kaicheng_liefengi_09.png</key>
			<dict>
				<key>width</key>
				<integer>395</integer>
				<key>height</key>
				<integer>234</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>1341</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>kaicheng_posui/kaicheng_posui_02.png</key>
			<dict>
				<key>width</key>
				<integer>773</integer>
				<key>height</key>
				<integer>238</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>817</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>kaicheng_posui/kaicheng_posui_03.png</key>
			<dict>
				<key>width</key>
				<integer>766</integer>
				<key>height</key>
				<integer>253</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>817</integer>
				<key>y</key>
				<integer>704</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>kaicheng_posui/kaicheng_posui_05.png</key>
			<dict>
				<key>width</key>
				<integer>777</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>958</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>kaicheng_posui/kaicheng_posui_07.png</key>
			<dict>
				<key>width</key>
				<integer>795</integer>
				<key>height</key>
				<integer>260</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1211</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kaicheng_posui/kaicheng_posui_09.png</key>
			<dict>
				<key>width</key>
				<integer>796</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1472</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-33</real>
			</dict>
			<key>kaicheng_posui/kaicheng_posui_10.png</key>
			<dict>
				<key>width</key>
				<integer>800</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1667</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-62</real>
			</dict>
			<key>kaicheng_posui/kaicheng_posui_12.png</key>
			<dict>
				<key>width</key>
				<integer>800</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>778</integer>
				<key>y</key>
				<integer>958</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-57</real>
			</dict>
			<key>kaicheng_posui/kaicheng_posui_13.png</key>
			<dict>
				<key>width</key>
				<integer>800</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1804</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-50.5</real>
			</dict>
			<key>kaicheng_posui/kaicheng_posui_15.png</key>
			<dict>
				<key>width</key>
				<integer>800</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>778</integer>
				<key>y</key>
				<integer>1105</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-80</real>
			</dict>
			<key>kaicheng_posui/kaicheng_posui_16.png</key>
			<dict>
				<key>width</key>
				<integer>799</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1964</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-77</real>
			</dict>
			<key>kaicheng_posui/kaicheng_posui_18.png</key>
			<dict>
				<key>width</key>
				<integer>799</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>796</integer>
				<key>y</key>
				<integer>1206</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-72.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>kaicheng0.png</string>
			<key>realTextureFileName</key>
			<string>kaicheng0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>