<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>kaicheng_posui_01_yanwushunjian/kaicheng_posui_01_yanwushunjian_01.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>788</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-291.5</real>
				<key>offsetY</key>
				<real>-47.5</real>
			</dict>
			<key>kaicheng_posui_01_yanwushunjian/kaicheng_posui_01_yanwushunjian_02.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>788</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>34</integer>
				<key>offsetX</key>
				<real>-263</real>
				<key>offsetY</key>
				<real>-45.5</real>
			</dict>
			<key>kaicheng_posui_01_yanwushunjian/kaicheng_posui_01_yanwushunjian_03.png</key>
			<dict>
				<key>width</key>
				<integer>259</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>788</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>-218.5</real>
				<key>offsetY</key>
				<real>-38.5</real>
			</dict>
			<key>kaicheng_posui_01_yanwushunjian/kaicheng_posui_01_yanwushunjian_04.png</key>
			<dict>
				<key>width</key>
				<integer>268</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>788</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>-181</real>
				<key>offsetY</key>
				<real>-29</real>
			</dict>
			<key>kaicheng_posui_01_yanwushunjian/kaicheng_posui_01_yanwushunjian_05.png</key>
			<dict>
				<key>width</key>
				<integer>288</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>788</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>195</integer>
				<key>offsetX</key>
				<real>-141</real>
				<key>offsetY</key>
				<real>-24.5</real>
			</dict>
			<key>kaicheng_posui_01_yanwushunjian/kaicheng_posui_01_yanwushunjian_06.png</key>
			<dict>
				<key>width</key>
				<integer>289</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>788</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>275</integer>
				<key>offsetX</key>
				<real>-105.5</real>
				<key>offsetY</key>
				<real>-21.5</real>
			</dict>
			<key>kaicheng_posui_01_yanwushunjian/kaicheng_posui_01_yanwushunjian_07.png</key>
			<dict>
				<key>width</key>
				<integer>288</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>788</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>361</integer>
				<key>offsetX</key>
				<real>-58</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>kaicheng_posui_01_yanwushunjian/kaicheng_posui_01_yanwushunjian_08.png</key>
			<dict>
				<key>width</key>
				<integer>288</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>788</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-26</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>kaicheng_posui_01_yanwushunjian/kaicheng_posui_01_yanwushunjian_09.png</key>
			<dict>
				<key>width</key>
				<integer>288</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>788</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>289</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>kaicheng_posui_01_yanwushunjian/kaicheng_posui_01_yanwushunjian_10.png</key>
			<dict>
				<key>width</key>
				<integer>287</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>788</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>79.5</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>kaicheng_posui_01_yanwushunjian/kaicheng_posui_01_yanwushunjian_11.png</key>
			<dict>
				<key>width</key>
				<integer>288</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>788</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>579</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>132</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>kaicheng_posui_01_yanwushunjian/kaicheng_posui_01_yanwushunjian_12.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>788</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>300</integer>
				<key>offsetX</key>
				<real>228.5</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>kaicheng_posui_01_yanwushunjian/kaicheng_posui_01_yanwushunjian_13.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>788</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>578</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>289.5</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>kaicheng_posui_01_xiaoshitou/kaicheng_posui_01_xiaoshitou_01.png</key>
			<dict>
				<key>width</key>
				<integer>461</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>289</integer>
				<key>y</key>
				<integer>400</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>71.5</real>
			</dict>
			<key>kaicheng_posui_01_xiaoshitou/kaicheng_posui_01_xiaoshitou_02.png</key>
			<dict>
				<key>width</key>
				<integer>492</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>488</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>48.5</real>
			</dict>
			<key>kaicheng_posui_01_xiaoshitou/kaicheng_posui_01_xiaoshitou_03.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>622</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>kaicheng_posui_01_xiaoshitou/kaicheng_posui_01_xiaoshitou_04.png</key>
			<dict>
				<key>width</key>
				<integer>517</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>748</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>kaicheng_posui_01_xiaoshitou/kaicheng_posui_01_xiaoshitou_05.png</key>
			<dict>
				<key>width</key>
				<integer>522</integer>
				<key>height</key>
				<integer>228</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>513</integer>
				<key>y</key>
				<integer>488</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>kaicheng_posui_01_xiaoshitou/kaicheng_posui_01_xiaoshitou_06.png</key>
			<dict>
				<key>width</key>
				<integer>525</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>513</integer>
				<key>y</key>
				<integer>717</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>kaicheng_posui_01_xiaoshitou/kaicheng_posui_01_xiaoshitou_08.png</key>
			<dict>
				<key>width</key>
				<integer>525</integer>
				<key>height</key>
				<integer>230</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>1266</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kaicheng_posui_01_xiaoshitou/kaicheng_posui_01_xiaoshitou_09.png</key>
			<dict>
				<key>width</key>
				<integer>525</integer>
				<key>height</key>
				<integer>228</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>1266</integer>
				<key>y</key>
				<integer>231</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>kaicheng_posui_01_xiaoshitou/kaicheng_posui_01_xiaoshitou_11.png</key>
			<dict>
				<key>width</key>
				<integer>525</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>1036</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-50.5</real>
			</dict>
			<key>kaicheng_posui_01_xiaoshitou/kaicheng_posui_01_xiaoshitou_13.png</key>
			<dict>
				<key>width</key>
				<integer>525</integer>
				<key>height</key>
				<integer>228</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>1039</integer>
				<key>y</key>
				<integer>590</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>kaicheng_posui_01_xiaoshitou/kaicheng_posui_01_xiaoshitou_15.png</key>
			<dict>
				<key>width</key>
				<integer>525</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>1039</integer>
				<key>y</key>
				<integer>819</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-66</real>
			</dict>
			<key>kaicheng_posui_01_yanwu/kaicheng_posui_01_baozhayan.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>239</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>1792</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>49</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>kaicheng_posui_01_yanwu/kaicheng_posui_01_baozhayan_02.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>1852</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>45.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>kaicheng_posui_01_yanwu/kaicheng_posui_01_baozhayan_03.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>1917</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>22.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kaicheng_posui_01_yanwu/kaicheng_posui_01_baozhayan_04.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>251</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>1565</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kaicheng_posui_01_yanwu/kaicheng_posui_01_baozhayan_05.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>1720</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>kaicheng_posui_01_yanwu/kaicheng_posui_01_baozhayan_06.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>218</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>1565</integer>
				<key>y</key>
				<integer>712</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>kaicheng_posui_01_yanwu/kaicheng_posui_01_baozhayan_07.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>578</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-30</real>
			</dict>
			<key>kaicheng_posui_01_yanwu/kaicheng_posui_01_baozhayan_08.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>828</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-28</real>
			</dict>
			<key>kaicheng_posui_01_yanwu/kaicheng_posui_01_baozhayan_09.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>828</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>kaicheng_posui_01_yanwu/kaicheng_posui_01_baozhayan_10.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>321</integer>
				<key>y</key>
				<integer>828</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-31</real>
			</dict>
			<key>kaicheng_posui_01_xiaoyan/kaicheng_posui_01_xiaoyan_01.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>166</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>kaicheng_posui_01_xiaoyan/kaicheng_posui_01_xiaoyan_02.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>205</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>kaicheng_posui_01_xiaoyan/kaicheng_posui_01_xiaoyan_03.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>460</integer>
				<key>y</key>
				<integer>300</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>kaicheng_posui_01_xiaoyan/kaicheng_posui_01_xiaoyan_04.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>300</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>kaicheng_posui_01_xiaoyan/kaicheng_posui_01_xiaoyan_05.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>868</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>kaicheng_posui_01_xiaoyan/kaicheng_posui_01_xiaoyan_06.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>924</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>kaicheng_posui_01_xiaoyan/kaicheng_posui_01_xiaoyan_07.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>981</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>kaicheng_posui_01_xiaoyan/kaicheng_posui_01_xiaoyan_08.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>1040</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>kaicheng_posui_01_xiaoyan/kaicheng_posui_01_xiaoyan_09.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>738</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>kaicheng_posui_01_xiaoyan/kaicheng_posui_01_xiaoyan_10.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>1099</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>kaicheng_posui_01_xiaoyan/kaicheng_posui_01_xiaoyan_11.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>797</integer>
				<key>y</key>
				<integer>330</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>kaicheng_posui_01_xiaoyan/kaicheng_posui_01_xiaoyan_12.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>1099</integer>
				<key>y</key>
				<integer>50</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>kaicheng_posui_01_xiaoyan/kaicheng_posui_01_xiaoyan_13.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>249</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>kaicheng_posui_shitou.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>460</integer>
				<key>y</key>
				<integer>355</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>kaicheng_posui_010.png</string>
			<key>realTextureFileName</key>
			<string>kaicheng_posui_010.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>