<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_buy_success_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,168},{166,146}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,146}}</string>
                <key>sourceSize</key>
                <string>{174,146}</string>
            </dict>
            <key>td_buy_success_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,292},{168,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{168,146}}</string>
                <key>sourceSize</key>
                <string>{174,146}</string>
            </dict>
            <key>td_buy_success_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,146},{168,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{168,146}}</string>
                <key>sourceSize</key>
                <string>{174,146}</string>
            </dict>
            <key>td_buy_success_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{172,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{172,146}}</string>
                <key>sourceSize</key>
                <string>{174,146}</string>
            </dict>
            <key>td_buy_success_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{172,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{172,146}}</string>
                <key>sourceSize</key>
                <string>{174,146}</string>
            </dict>
            <key>td_buy_success_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{172,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{172,146}}</string>
                <key>sourceSize</key>
                <string>{174,146}</string>
            </dict>
            <key>td_buy_success_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{168,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{168,146}}</string>
                <key>sourceSize</key>
                <string>{174,146}</string>
            </dict>
            <key>td_buy_success_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{168,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{168,146}}</string>
                <key>sourceSize</key>
                <string>{174,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop_buy_success_effect.png</string>
            <key>size</key>
            <string>{486,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22714a1aea2e9ae91f5b27f4114433f3$</string>
            <key>textureFileName</key>
            <string>shop_buy_success_effect.png</string>
        </dict>
    </dict>
</plist>
