<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>biaoxiaoyong/hero_wu_Effects_03_update_01.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5.59999847412109</real>
				<key>offsetY</key>
				<real>-8.19999694824219</real>
			</dict>
			<key>biaoxiaoyong/hero_wu_Effects_03_update_02.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.79999923706055</real>
				<key>offsetY</key>
				<real>-8.39999771118164</real>
			</dict>
			<key>biaoxiaoyong/hero_wu_Effects_03_update_03.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>-0.200000762939453</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>biaoxiaoyong/hero_wu_Effects_03_update_04.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>-0.200000762939453</real>
				<key>offsetY</key>
				<real>-8.39999771118164</real>
			</dict>
			<key>biaoxiaoyong/hero_wu_Effects_03_update_05.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>232</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.400001525878906</real>
				<key>offsetY</key>
				<real>-5.39999771118164</real>
			</dict>
			<key>biaoxiaoyong/hero_wu_Effects_03_update_06.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>232</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-0.799999237060547</real>
				<key>offsetY</key>
				<real>-3.59999847412109</real>
			</dict>
			<key>biaoxiaoyong/hero_wu_Effects_03_update_07.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>350</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>biaoxiaoyong/hero_wu_Effects_03_update_08.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>349</integer>
				<key>y</key>
				<integer>117</integer>
				<key>offsetX</key>
				<real>0.200000762939453</real>
				<key>offsetY</key>
				<real>-1.79999923706055</real>
			</dict>
			<key>biaoxiaoyong/hero_wu_Effects_03_update_09.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>219</integer>
				<key>offsetX</key>
				<real>-2.20000076293945</real>
				<key>offsetY</key>
				<real>-1.79999923706055</real>
			</dict>
			<key>biaoxiaoyong/hero_wu_Effects_03_update_10.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>220</integer>
				<key>offsetX</key>
				<real>0.799999237060547</real>
				<key>offsetY</key>
				<real>-1.39999771118164</real>
			</dict>
			<key>biaoxiaoyong/hero_wu_Effects_03_update_11.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>337</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>3.20000076293945</real>
			</dict>
			<key>biaoxiaoyong/hero_wu_Effects_03_update_12.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>427</integer>
				<key>offsetX</key>
				<real>14.5999984741211</real>
				<key>offsetY</key>
				<real>6.40000152587891</real>
			</dict>
			<key>td_baoxiangtexiao_baoxiang_liz/td_baoxiangtexiao_lizi_01.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>337</integer>
				<key>offsetX</key>
				<real>12.4000015258789</real>
				<key>offsetY</key>
				<real>-13.6000022888184</real>
			</dict>
			<key>td_baoxiangtexiao_baoxiang_liz/td_baoxiangtexiao_lizi_02.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>212</integer>
				<key>y</key>
				<integer>230</integer>
				<key>offsetX</key>
				<real>7.60000228881836</real>
				<key>offsetY</key>
				<real>-2.20000076293945</real>
			</dict>
			<key>td_baoxiangtexiao_baoxiang_liz/td_baoxiangtexiao_lizi_03.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>406</integer>
				<key>offsetX</key>
				<real>7.79999923706055</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>td_baoxiangtexiao_baoxiang_liz/td_baoxiangtexiao_lizi_04.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>212</integer>
				<key>y</key>
				<integer>298</integer>
				<key>offsetX</key>
				<real>5.60000228881836</real>
				<key>offsetY</key>
				<real>4.59999847412109</real>
			</dict>
			<key>td_baoxiangtexiao_baoxiang_liz/td_baoxiangtexiao_lizi_05.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>372</integer>
				<key>offsetX</key>
				<real>3.20000076293945</real>
				<key>offsetY</key>
				<real>7.79999923706055</real>
			</dict>
			<key>td_baoxiangtexiao_baoxiang_liz/td_baoxiangtexiao_lizi_06.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>293</integer>
				<key>y</key>
				<integer>235</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>6.39999771118164</real>
			</dict>
			<key>td_baoxiangtexiao_baoxiang_liz/td_baoxiangtexiao_lizi_07.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>351</integer>
				<key>y</key>
				<integer>235</integer>
				<key>offsetX</key>
				<real>2.80000114440918</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>td_baoxiangtexiao_baoxiang_liz/td_baoxiangtexiao_lizi_08.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>372</integer>
				<key>offsetX</key>
				<real>-3.79999923706055</real>
				<key>offsetY</key>
				<real>-3.40000152587891</real>
			</dict>
			<key>td_baoxiangtexiao_baoxiang_liz/td_baoxiangtexiao_lizi_09.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>406</integer>
				<key>y</key>
				<integer>235</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-3.60000228881836</real>
			</dict>
			<key>td_baoxiangtexiao_baoxiang_liz/td_baoxiangtexiao_lizi_10.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>325</integer>
				<key>y</key>
				<integer>317</integer>
				<key>offsetX</key>
				<real>-0.599998474121094</real>
				<key>offsetY</key>
				<real>-5.60000228881836</real>
			</dict>
			<key>td_baoxiangtexiao_baoxiang.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>191</integer>
				<key>originalHeight</key>
				<integer>187</integer>
				<key>x</key>
				<integer>468</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_baoxiangtexiao_shexian.png</key>
			<dict>
				<key>width</key>
				<integer>338</integer>
				<key>height</key>
				<integer>288</integer>
				<key>originalWidth</key>
				<integer>338</integer>
				<key>originalHeight</key>
				<integer>288</integer>
				<key>x</key>
				<integer>661</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>td_baoxiangtexiao0.png</string>
			<key>realTextureFileName</key>
			<string>td_baoxiangtexiao0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>