<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_Candy_Machine_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,199}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,199}}</string>
                <key>sourceSize</key>
                <string>{128,199}</string>
            </dict>
            <key>td_Candy_Machine_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>td_Candy_Machine_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>td_Candy_Machine_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>td_Candy_Machine_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{146,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,63}}</string>
                <key>sourceSize</key>
                <string>{146,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td_candy_machine.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:251b035253f2dcc71c051e78edf2c4af:1/1$</string>
            <key>textureFileName</key>
            <string>td_candy_machine.png</string>
        </dict>
    </dict>
</plist>
