<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>td_viktri_shexian/td_viktri_shexian1.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>td_viktri_shexian/td_viktri_shexian2.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>td_viktri_shexian/td_viktri_shexian3.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>td_viktri_shexian/td_viktri_shexian4.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>209</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>td_viktri_shexian/td_viktri_shexian5.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>347</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>td_viktri_shexian/td_viktri_shexian6.png</key>
			<dict>
				<key>width</key>
				<integer>157</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>226</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>td_viktri_shexian/td_viktri_shexian8.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>159</integer>
				<key>y</key>
				<integer>133</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>td_viktri_shexian/td_viktri_shexian9.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>159</integer>
				<key>y</key>
				<integer>295</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>td_viktri_shexian/td_viktri_shexian10.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>340</integer>
				<key>y</key>
				<integer>143</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>td_viktri_shexian/td_viktri_shexian11.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>340</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>td_viktri_shexian/td_viktri_shexian12.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>498</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-40</real>
			</dict>
			<key>td_viktri_li/td_viktri_li_01.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>380</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>td_viktri_li/td_viktri_li_02.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>532</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>td_viktri_li/td_viktri_li_03.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>688</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>td_viktri_li/td_viktri_li_04.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>532</integer>
				<key>y</key>
				<integer>194</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_viktri_li/td_viktri_li_05.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>688</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_viktri_li/td_viktri_li_06.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>770</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>td_viktri_li/td_viktri_li_07.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>532</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>td_viktri_li/td_viktri_li_08.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>614</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>td_viktri_li/td_viktri_li_09.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>770</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>td_viktri_li/td_viktri_li_10.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>852</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>td_viktri_li/td_viktri_li_11.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>614</integer>
				<key>y</key>
				<integer>243</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>td_viktri_li/td_viktri_li_12.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>696</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>td_viktri_li/td_viktri_li_13.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>524</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>td_viktri_li/td_viktri_li_14.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>852</integer>
				<key>y</key>
				<integer>80</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>td_viktri_li/td_viktri_li_15.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>81</integer>
				<key>y</key>
				<integer>380</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>td_viktri_sheng/td_viktri_sheng1.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>933</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>td_viktri_sheng/td_viktri_shrng2.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>614</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>td_viktri_sheng/td_viktri_sheng3.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>696</integer>
				<key>y</key>
				<integer>243</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>td_viktri_sheng/td_viktri_sheng4.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>851</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>td_viktri_sheng/td_viktri_sheng5.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>933</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>td_viktri_sheng/td_viktri_sheng6.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>604</integer>
				<key>y</key>
				<integer>403</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>td_viktri_sheng/td_viktri_sheng7.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>696</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>td_viktri_sheng/td_viktri_sheng8.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>778</integer>
				<key>y</key>
				<integer>239</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>td_viktri_sheng/td_viktri_sheng9.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>933</integer>
				<key>y</key>
				<integer>160</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>td_viktri_sheng/td_viktri_sheng10.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>778</integer>
				<key>y</key>
				<integer>319</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>td_viktri_sheng/td_viktri_sheng11.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>524</integer>
				<key>y</key>
				<integer>436</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>td_viktri_sheng/td_viktri_sheng12.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>860</integer>
				<key>y</key>
				<integer>239</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>td_viktri_sheng/td_viktri_sheng13.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>686</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>td_viktri_sheng/td_viktri_sheng14.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>765</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>td_viktri_sheng/td_viktri_sheng15.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>776</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>td_viktri_youyuanquan.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>147</integer>
				<key>originalHeight</key>
				<integer>126</integer>
				<key>x</key>
				<integer>860</integer>
				<key>y</key>
				<integer>315</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>td_viktri_zuoyuanquan.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>153</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>td_viktri_zhongbu.png</key>
			<dict>
				<key>width</key>
				<integer>430</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>458</integer>
				<key>originalHeight</key>
				<integer>182</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>562</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>td_viktri_youbianxing.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>169</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>710</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>td_viktri_yun.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>161</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>99</integer>
				<key>y</key>
				<integer>467</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>td_viktri_zhongjianxing.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>182</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>710</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>td_viktri_yun02.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>838</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>td_viktri_yueliang.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>156</integer>
				<key>originalHeight</key>
				<integer>142</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>916</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>td_viktri_taiyang.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>180</integer>
				<key>originalWidth</key>
				<integer>239</integer>
				<key>originalHeight</key>
				<integer>221</integer>
				<key>x</key>
				<integer>130</integer>
				<key>y</key>
				<integer>838</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>td_viktri_qizi.png</key>
			<dict>
				<key>width</key>
				<integer>296</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>296</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>td_viktri_caihong.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>703</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>td_viktri0.png</string>
			<key>realTextureFileName</key>
			<string>td_viktri0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>