<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_scene_Effect1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{32,29}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,47},{32,29}}</string>
                <key>sourceSize</key>
                <string>{60,85}</string>
            </dict>
            <key>td_scene_Effect1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,60},{36,41}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{36,41}}</string>
                <key>sourceSize</key>
                <string>{60,85}</string>
            </dict>
            <key>td_scene_Effect1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,60},{46,67}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{46,67}}</string>
                <key>sourceSize</key>
                <string>{60,85}</string>
            </dict>
            <key>td_scene_Effect1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{56,77}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{56,77}}</string>
                <key>sourceSize</key>
                <string>{60,85}</string>
            </dict>
            <key>td_scene_Effect1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{60,79}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{60,79}}</string>
                <key>sourceSize</key>
                <string>{60,85}</string>
            </dict>
            <key>td_scene_Effect1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,83}}</string>
                <key>sourceSize</key>
                <string>{60,85}</string>
            </dict>
            <key>td_scene_Effect1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,79}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{60,85}</string>
            </dict>
            <key>td_scene_Effect1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{60,81}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,81}}</string>
                <key>sourceSize</key>
                <string>{60,85}</string>
            </dict>
            <key>td_scene_Effect1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,62},{58,59}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{60,85}</string>
            </dict>
            <key>td_scene_Effect1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,108},{56,55}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,55}}</string>
                <key>sourceSize</key>
                <string>{60,85}</string>
            </dict>
            <key>td_scene_Effect1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,103},{52,33}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{52,33}}</string>
                <key>sourceSize</key>
                <string>{60,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td_scene_Effect1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a816c0789ee9efe3c75f431bd2a3c048$</string>
            <key>textureFileName</key>
            <string>td_scene_Effect1.png</string>
        </dict>
    </dict>
</plist>
