<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>td_tower_02_a_dizuo.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.04999923706055</real>
				<key>offsetY</key>
				<real>0.125</real>
			</dict>
			<key>td_tower_02_a_zhedang2.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>13</integer>
				<key>offsetX</key>
				<real>0.575000762939453</real>
				<key>offsetY</key>
				<real>-0.575000762939453</real>
			</dict>
			<key>td_tower_02_a_zhedang.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>26</integer>
				<key>y</key>
				<integer>13</integer>
				<key>offsetX</key>
				<real>-1.27499961853027</real>
				<key>offsetY</key>
				<real>-1.72500038146973</real>
			</dict>
			<key>td_tower_02_a_guanmen.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>56</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.274999618530273</real>
				<key>offsetY</key>
				<real>-0.724998474121094</real>
			</dict>
			<key>td_tower_02_c_damuzi.png</key>
			<dict>
				<key>width</key>
				<integer>7</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>11</integer>
				<key>originalHeight</key>
				<integer>12</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>49</integer>
				<key>offsetX</key>
				<real>0.299999952316284</real>
				<key>offsetY</key>
				<real>-0.300000190734863</real>
			</dict>
			<key>td_tower_02_c_shouzi.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>9</integer>
				<key>y</key>
				<integer>49</integer>
				<key>offsetX</key>
				<real>0.449999332427979</real>
				<key>offsetY</key>
				<real>-1.02499961853027</real>
			</dict>
			<key>td_tower_02_c_shoubi.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.299999237060547</real>
				<key>offsetY</key>
				<real>-1.30000019073486</real>
			</dict>
			<key>td_tower_02_c_jichuang.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>19</integer>
				<key>offsetX</key>
				<real>0.174999237060547</real>
				<key>offsetY</key>
				<real>-0.600000381469727</real>
			</dict>
			<key>td_tower_02_a_changmen.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>63</integer>
				<key>offsetX</key>
				<real>1.875</real>
				<key>offsetY</key>
				<real>-1.44999885559082</real>
			</dict>
			<key>td_tower_02_c_yanjing.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>13</integer>
				<key>x</key>
				<integer>26</integer>
				<key>y</key>
				<integer>48</integer>
				<key>offsetX</key>
				<real>0.449999809265137</real>
				<key>offsetY</key>
				<real>-1.30000019073486</real>
			</dict>
			<key>td_tower_02_a_jichang.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>127</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.59999847412109</real>
				<key>offsetY</key>
				<real>-4.22500228881836</real>
			</dict>
			<key>td_tower_02_c_yanjingjingya.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>46</integer>
				<key>y</key>
				<integer>48</integer>
				<key>offsetX</key>
				<real>0.449999809265137</real>
				<key>offsetY</key>
				<real>-0.875</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>td_tower_02_a0.png</string>
			<key>realTextureFileName</key>
			<string>td_tower_02_a0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>