<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_tower_04_feng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,266},{182,80}}</string>
                <key>offset</key>
                <string>{38,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,12},{182,80}}</string>
                <key>sourceSize</key>
                <string>{280,118}</string>
            </dict>
            <key>td_tower_04_feng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,90},{188,84}}</string>
                <key>offset</key>
                <string>{35,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,8},{188,84}}</string>
                <key>sourceSize</key>
                <string>{280,118}</string>
            </dict>
            <key>td_tower_04_feng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,92},{188,84}}</string>
                <key>offset</key>
                <string>{35,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,10},{188,84}}</string>
                <key>sourceSize</key>
                <string>{280,118}</string>
            </dict>
            <key>td_tower_04_feng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,264},{190,78}}</string>
                <key>offset</key>
                <string>{34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,21},{190,78}}</string>
                <key>sourceSize</key>
                <string>{280,118}</string>
            </dict>
            <key>td_tower_04_feng_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1},{180,74}}</string>
                <key>offset</key>
                <string>{39,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,26},{180,74}}</string>
                <key>sourceSize</key>
                <string>{280,118}</string>
            </dict>
            <key>td_tower_04_feng_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,175},{182,78}}</string>
                <key>offset</key>
                <string>{38,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,24},{182,78}}</string>
                <key>sourceSize</key>
                <string>{280,118}</string>
            </dict>
            <key>td_tower_04_feng_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,92},{254,90}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{254,90}}</string>
                <key>sourceSize</key>
                <string>{280,118}</string>
            </dict>
            <key>td_tower_04_feng_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,175},{262,90}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{262,90}}</string>
                <key>sourceSize</key>
                <string>{280,118}</string>
            </dict>
            <key>td_tower_04_feng_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{278,90}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{278,90}}</string>
                <key>sourceSize</key>
                <string>{280,118}</string>
            </dict>
            <key>td_tower_04_feng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1},{280,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{280,88}}</string>
                <key>sourceSize</key>
                <string>{280,118}</string>
            </dict>
            <key>td_tower_04_feng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1},{278,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{278,88}}</string>
                <key>sourceSize</key>
                <string>{280,118}</string>
            </dict>
            <key>td_tower_04_feng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,90},{264,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{264,86}}</string>
                <key>sourceSize</key>
                <string>{280,118}</string>
            </dict>
            <key>td_tower_04_feng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,92},{254,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{254,86}}</string>
                <key>sourceSize</key>
                <string>{280,118}</string>
            </dict>
            <key>td_tower_04_feng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,177},{262,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{262,86}}</string>
                <key>sourceSize</key>
                <string>{280,118}</string>
            </dict>
            <key>td_tower_04_feng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,90},{266,84}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{266,84}}</string>
                <key>sourceSize</key>
                <string>{280,118}</string>
            </dict>
            <key>td_tower_04_feng_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,264},{168,82}}</string>
                <key>offset</key>
                <string>{45,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,14},{168,82}}</string>
                <key>sourceSize</key>
                <string>{280,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td_tower_04_feng.png</string>
            <key>size</key>
            <string>{1021,347}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a73b3b8583b1751e9b3f59fca59f23a$</string>
            <key>textureFileName</key>
            <string>td_tower_04_feng.png</string>
        </dict>
    </dict>
</plist>
