<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_tower_05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{161,99}}</string>
                <key>offset</key>
                <string>{7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,18},{161,99}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{149,135}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,20},{149,135}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,103},{151,149}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,12},{151,149}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,139},{127,119}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,22},{127,119}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,371},{101,87}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,48},{101,87}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,115}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,19},{161,115}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{155,135}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,21},{155,135}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,254},{127,107}}</string>
                <key>offset</key>
                <string>{23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,38},{127,107}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,682},{91,89}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,56},{91,89}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,682},{91,89}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,56},{91,89}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,591},{91,89}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,56},{91,89}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,682},{91,89}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,56},{91,89}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{91,89}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,56},{91,89}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,589},{93,91}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,55},{93,91}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,668},{89,87}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,57},{89,87}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,571},{97,95}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,53},{97,95}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,377},{119,113}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,46},{119,113}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,363},{119,115}}</string>
                <key>offset</key>
                <string>{-19,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,44},{119,115}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{119,117}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,44},{119,117}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,260},{119,115}}</string>
                <key>offset</key>
                <string>{-19,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,44},{119,115}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,480},{119,109}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{119,109}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{119,113}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,46},{119,113}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,492},{107,95}}</string>
                <key>offset</key>
                <string>{-25,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,52},{107,95}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,260},{105,109}}</string>
                <key>offset</key>
                <string>{-32,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,45},{105,109}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{111,113}}</string>
                <key>offset</key>
                <string>{-35,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,43},{111,113}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
            <key>td_tower_05_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,460},{109,113}}</string>
                <key>offset</key>
                <string>{-36,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,44},{109,113}}</string>
                <key>sourceSize</key>
                <string>{225,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td_tower_05_jiguang.png</string>
            <key>size</key>
            <string>{510,777}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34493d761d9a27260d9b4e3d0abf7e5a$</string>
            <key>textureFileName</key>
            <string>td_tower_05_jiguang.png</string>
        </dict>
    </dict>
</plist>
