<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_tower_01_baozha1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,445},{28,25}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,39},{28,25}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>td_tower_01_baozha1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,350},{94,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{94,85}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>td_tower_01_baozha1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{130,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{130,105}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>td_tower_01_baozha1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,107},{114,97}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{114,97}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>td_tower_01_baozha1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,293},{98,89}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{98,89}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>td_tower_01_baozha1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,205},{102,87}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{102,87}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>td_tower_01_baozha1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,259},{90,81}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,9},{90,81}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>td_tower_01_baozha1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,121},{70,75}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,15},{70,75}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>td_tower_01_baozha1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,445},{76,65}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{76,65}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>td_tower_01_baozha1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,445},{78,63}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{78,63}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>td_tower_01_baozha1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,197},{68,61}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{68,61}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>td_tower_01_baozha1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,62},{58,49}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,29},{58,49}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>td_tower_01_baozha1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1},{60,51}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,36},{60,51}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>td_tower_01_baozha1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,383},{58,63}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{58,63}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_paodan_bom_effect.png</string>
            <key>size</key>
            <string>{187,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:731fe6d3495f174c54e0cfbad8c5ecc9$</string>
            <key>textureFileName</key>
            <string>tower_paodan_bom_effect.png</string>
        </dict>
    </dict>
</plist>
