<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>td_tower_05_shoujitexiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,433},{64,61}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,42},{64,61}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>td_tower_05_shoujitexiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,341},{68,71}}</string>
                <key>offset</key>
                <string>{-25,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{68,71}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>td_tower_05_shoujitexiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,325},{106,79}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{106,79}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>td_tower_05_shoujitexiao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{114,103}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{114,103}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>td_tower_05_shoujitexiao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{100,105}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{100,105}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>td_tower_05_shoujitexiao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,119}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{120,119}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>td_tower_05_shoujitexiao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{100,95}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,7},{100,95}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>td_tower_05_shoujitexiao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{64,61}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,42},{64,61}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>td_tower_05_shoujitexiao_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,268},{68,71}}</string>
                <key>offset</key>
                <string>{-25,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{68,71}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>td_tower_05_shoujitexiao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{106,79}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{106,79}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>td_tower_05_shoujitexiao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,109},{98,85}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{98,85}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>td_tower_05_shoujitexiao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,196},{70,73}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,37},{70,73}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>td_tower_05_shoujitexiao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,414},{70,71}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{70,71}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>td_tower_05_shoujitexiao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,268},{50,49}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,39},{50,49}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower5_atk_obj_effects.png</string>
            <key>size</key>
            <string>{238,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d29dd4cee2bac4855c31c4c96e1b54cb$</string>
            <key>textureFileName</key>
            <string>tower5_atk_obj_effects.png</string>
        </dict>
    </dict>
</plist>
